#contact_top_container
  .ct.grid_22.prefix_1.suffix_1
    #side_container.grid_2.alpha
      #small-icon
    .grid_10
      .contact_content
        %h1 Expand your network and make <span class="highlight_orange">contact</span> through <span class="highlight_orange">us</span></h1><p>We have access to top-tier talent who are adept at <br/>Conquering the challenges of today's fluid technology<br/>landscape.  Contact us to meet the executives who can <br/>shape your company’s future.</p>
      .company_mission
        %h1 wisdom deployed optimally
        %h2 Insightful Consultative Approach to Executive Search
    .grid_10.omega
      <iframe width="100%" height="327" frameborder="0" scrolling="no" margin height="0" marginwidth="0" src="http://maps.google.com/?ie=UTF8&amp;ll=37.551757,-122.279892&amp;spn=0.025075,0.025105&amp;t=m&amp;z=15&amp;vpsrc=0&amp;output=embed"></iframe>
      <small><a href="http://maps.google.com/?ie=UTF8&amp;ll=37.551757,-122.279892&amp;spn=0.025075,0.025105&amp;t=m&amp;z=15&amp;vpsrc=0&amp;source=embed" style="color:#0000FF;text-align:left"></a></small>    
    .divider
  
#content-contact-us
  #top-content.grid_22
    .info.grid_6.alpha
      #category MAIN OFFICES
      %h1
        1840 Gateway Drive</br> 
        Suite 125 </br>
        San Mateo CA 94404</br>
    .info.grid_8.omega
      .icons
        #mail
        #direct
        #fax
      %h2
        %a{:title => "Vantage Mail", :href => "/"} info@.vantagepartners.net
      %h2 Direct: (650) 579 -7300
      %h2 Fax: (650) 590-7470
    .info.grid_8.omega
      .icons
        #tweet
        #facebook
        #linkedin
      %h2
        %a{:title => "Vantage Mail", :href => "/"} Vantage on Twitter  
      %h2
        %a{:title => "Vantage on Facebook", :href => "/"} Vantage on Facebook
      %h2
        %a{:title => "Vantage on LinkedIn", :href => "/"} Vantage on LinkedIn    
  
  #bottom-content.grid_22
    <p>Let us know if you need our assistance, have a question or simply want to touch base about your search's progress. <br/><br/>Regards, <br/>The Vantage Team</p>
  
  
  
  
  
    