#top_container
  .ct 
    #transparent
    #bio
      %h1 Gene Zaccor 
      %p "One of our clients refers to Gene as "Genius" -- a word that amply describes both the man and his search execution." 
      %h2 
        – a perspective from April,
        %br/
        a Vantage colleague
  .divider
  
#biography-content
  #heading
    %h2 MEET THE TEAM  / GENE ZACCOR
  .ct  
    #left-content
      .ct
        #partner
          <img src='images/gene_partner.png'/>
        #partner-tag
          %h3 
            Gene 
            %br/
            Zaccor
          %h4 Managing Director
        .clear  
        #icons
          #mail
          #direct
          #fax
          %a{:href => "http://www.linkedin.com/pub/gene-zaccor/0/6/224"}
            #linkedin
          -# 
            %a{:href => "/"}
              #tweet
            %a{:href => "/"}
              #podcast
        #info
          %h2
            %a{:href => "mailto:gene@vantagepartners.net"} gene@vantagepartners.net
          %h2 Direct: (650) 579-7300, ext 105
          %h2 Fax: (650) 590-7470
          %h2
            %a{:title => "/", :href => "http://www.linkedin.com/pub/gene-zaccor/0/6/224"} Gene On LinkedIn
          -#   
            %h2
              %a{:title => "/", :href => "/"} Gene's Tweets
            %h2
              %a{:title => "/", :href => "/"} Gene's Podcasts
      .bio-info
        %p Gene Zaccor brings to the Vantage team over 18 years of success in high-tech executive recruiting for companies in the Enterprise Software, Media, Internet Security and Financial Services Industries. He excels at proactively managing and leading time-sensitive searches, developing targeted search plans and identifying and sourcing exceptional candidates. 
        %p Prior to Vantage Partners, Gene served as Director of Recruiting for Audiobase, where he was instrumental in building the foundation of the marketing, sales, professional services and technology teams by recruiting executives and high-quality talent to the company. His direct candor and timely responsiveness has been widely accepted as nothing less than the best.  
        %p Gene graduated Magna Cum Laude from St. Johns University with a Bachelors Degree in Economics.
    #right-content-bio
      %a{:href=>'/teams',:title=>'Back'} BACK TO TEAMS
      %br/
      %br/
      %a{:href=>'/tom',:title=>'Meet Tom'} Tom Callahan
      %br/
      %a{:href=>'/mark',:title=>'Meek Mark'} Mark Hubbell
      %br/
      %a{:href=>'/april',:title=>'Meet April'} April King
      %br/
      %a{:href=>'/rich',:title=>'Meet Rich'} Rich Lear
      %br/
      %a{:href=>'/julie',:title=>'Meet Julie'} Julie Locke
      %br/
      %a{:href=>'/irene',:title=>'Meet Irene'} Irene Murphy
      %br/
      %a{:href=>'/steve',:title=>'Meet Steve'} Steve O'Deegan
      %br/
      %a{:href=>'/audrey',:title=>'Meet Audrey'} Audrey Shuster
      %br/
      %a{:href=>'/may',:title=>'Meet May'} May Young
      %br/
      %a{:href=>'/gene',:title=>'Meet Gene'} 
        %span.orange Gene Zaccor      
      %br/

#domain-review
  .domain-review
    #domain-background
      #domain
        .domain-ct
          %h1 DOMAIN FOCUS:
          %h2
            Enterprise / SaaS
            %br/ 
            Consumer / Internet
            %br/ 
            Mobile / Wireless
            %br/
          #reviews
            %h2 REVIEWS
            %p
              "We retained Vantage Partners for a critical Vice President search that had a very high bar and, heretofore, had been extremely difficult to find.  In record time and with incredible attention to detail regarding our needs for the right Executive, Audrey Shuster and Gene Zaccor brought us the talent, quality and experience that we were looking for in our VP of Media Consulting.      
              %br/ 
              I highly recommend Audrey and Gene - The Vantage Partners Team -  for key executive hires, particularly those with a high bar and critical time needs."
            %h2 Max Schireson, former EVP, COO, MarkLogic
      #recent
        .recent-ct
          %h1 RECENT SEARCHES:
          %br/
          %h2 • CEO, Razoo
          %h3
            Social Enterprise Connecting Consumers to Causes
            %br/
            (Legatum Capital)
          %h2 • CEO, Inigral
          %h3
            Schools on Facebook
            %br/
            (Retro Ventures, Founders Fund, Gates Foundation)
            %br/
          %h2 • CMO, SVP Products, and SVP Business Development, CourseSmart
          %h3
            eTexbooks
            %br/
            (Joint Venture)
            %br/
          %h2 • VP Marketing, 10Gen – MongoDB
          %h3
            Document Oriented Database
            %br/
            (Sequoia Capital, Flybridge Capital, Union Square Ventures)
            %br/
          %h2 • VP Products, FanSnap
          %h3
            Ticket-Comparison Shopping Site
            %br/
            (Highland Capital Partners, General Catalyst Partners, Harrison Metal Capital)
  
#bottom-content
  .container
    #slideToggle
      .more more searches >
    .slideTogglebox{:style => "display:none"}
      %table#archives
        %thead
          %tr.orange 
            %th{:colspan => 3} Role
            %th{:colspan => 3} Client
            %th{:colspan => 3} Sector
        %tbody
        
      #clickme
        .close close x

:plain
  <script id="archiveTemplate" type="text/x-jquery-tmpl">
    <tr class="stripe">
      <td class="info" colspan="3">${position}</td>
      <td class="info" colspan="3">${company}</td>
      <td class="info" colspan="3">${sector}</td>
    </tr>
  </script>
