#teams_top_container.grid_22.push_1
  .ct 
    .transparent.grid_7.push_14.omega
    #headline.grid_7.prefix_14.omega
      %h1
        Bridging the
        %br/
        gap between 
        %br/
        Silicon Valley
        %br/
        and the world
  .grid_22.alpha.omega
    .divider

#content-teams.grid_22.prefix_1.suffix_1
  .ct
    #left-content.grid_18.alpha{:style => "background-color:transparent;"}
      .grid_17.prefix_1.alpha
        .content-block
          #category MEET THE TEAM
          %h1 Our culture is as robust as the individuals that make up our practice. Meet the people that make it happen.
      .white.grid_17.push_1.alpha
        %ul
          %li
            %a.pictos-free-white-icn1{:href => "#", :title => ""}
              %div
                %h3 April King
                %h4 Managing Partner
                %br/
                king@vantagepartners.net
                %br/
                MEET APRIL
          %li
            %a.pictos-free-white-icn2
          %li
            %a.pictos-free-white-icn3
          %li
            %a.pictos-free-white-icn4
          %li
            %a.pictos-free-white-icn5
      #middle-content.grid_17.push_1.alpha
        %h1.grid_8.suffix_1
          SPECIALIZING IN THESE CATEGORIES
          %br/
          IN THE TECH SECTOR
        %h2.grid_4{:style => "padding-top: 55px;"} 
          Enterprise SAAS
          %br/
          Consumer / Internet
          %br/
          Mobile / Wireless
          %br/
        %h2.grid_3> 
          C-Level
          %br/
          Engineering
          %br/
          Finance
          %br/
          Marketing
          %br/
          Product
          %br/
          Sales / Business Development
          %br/
          Services
          %br/
      .white.grid_17.push_1.alpha
        %ul
          %li
            %a.pictos-free-white-icn1
              %div
                %h3 April King
                %h4 Managing Partner
                %br/
                king@vantagepartners.net
                %br/
                MEET APRIL
          %li
            %a.pictos-free-white-icn2
          %li
            %a.pictos-free-white-icn3
          %li
            %a.pictos-free-white-icn4
          %li
            %a.pictos-free-white-icn5
    #right-content.grid_4.omega{:style => "background-color:#fff;"}
      %h4
        %a{:title=>"Meet Tom", :href => "/"} Tom Callahan
        %br/
        %a{:title=>"Meek Mark", :href => "/"} Mark Hubbell
        %br/ 
        %a{:title=>"Meet April", :href => "/"} April King
        %br/
        %a{:title=>"Meet Rich", :href =>"/"} Rich Lear
        %br/
        %a{:title=>"Meet Julie", :href => "/"} Julie Locke
        %br/ 
        %a{:title=>"Meet Irene", :href => "/"} Irene Murphy
        %br/
        %a{:title=>"Meet Steve", :href => "/"} Steve O'Deegan
        %br/
        %a{:title=>"Meet Audrey", :href => "/"} Audrey Shuster
        %br/   
        %a{:title=>"Meet May", :href => "/"} May Young
        %br/ 
        %a{:title=>"Meet Gene", :href => "/"} Gene Zaccor
        %br/ 
