#slidedeck_frame            
  %dl#teams_slidedeck.slidedeck
    %dd
      %ul.slidesVertical
        %li
          %dl#team_vantage.slidedeck
            %dd.slide
              #teams_top_container
                .ct 
                  #transparent
                  #headline
                    %h1
                      Bridging the
                      %br/
                      gap between 
                      %br/
                      Silicon Valley
                      %br/
                      and the world
        %li
          %dl#team_mission.slidedeck
            %dd.slide
              .teamshot
                %img{:src => "../images/team-shot-1.jpg"}
            %dd.slide
              .teamshot
                %img{:src => "../images/team-shot-2.jpg"}

#slidedeck_nav
  .ct
    .divider
    .mission
      %h2 wisdom deployed optimally
      %p.tagline Insightful Consultative Approach to Executive Search
    .controls
      .control-icon.alpha
        %a.vertical_menu.nav-bottom-mission{:href => '#1'} Our Mission
      .control-icon  
        %a.vertical_menu.nav-bottom-vantage{:href => '#2'} The Vantage Team
      .control-nav.omega  
        %button.prev{:value => "#prev"}
        %button.next{:value => "#next"}

#content-teams
  .ct
    #left-content
      #top-block
        %h2 MEET THE TEAM
        %p Our culture is as robust as the individuals that make up our practice. Meet the people that make it happen.
      .ct  
        #white
          %ul
            %li.vantage-shots-icn1
              %a{:href =>'/april', :title => 'April King'}
                %div
                  %h3 April King
                  %h4
                    Managing Partner
                    %br/ 
                    MEET APRIL
            %li.vantage-shots-icn2
              %a{:href => '/tom', :title => ''}
                %div
                  %h3 Tom Callahan
                  %h4
                    Managing Director
                    %br/
                    MEET TOM
            %li.vantage-shots-icn3
              %a{:href => '/may', :title => ''}
                %div
                  %h3 May Young
                  %h4
                    Principal
                    %br/ 
                    MEET MAY
            %li.vantage-shots-icn4
              %a{:href => '/mark', :title => ''}
                %div
                  %h3 Mark Hubbell
                  %h4
                    Managing Director
                    %br/ 
                    MEET MARK
            %li.vantage-shots-icn5
              %a{:href => '/julie', :title => ''}
                %div{:style => 'width:110px'}
                  %h3 Julie Locke
                  %h4
                    Managing Director
                    %br/ 
                    MEET JULIE
        #middle-content
          .left
            %h1
              SPECIALIZING IN THESE CATEGORIES
              %br/
              IN THE TECH SECTOR
          .middle    
            %h2
              %a{:title=>"", :href => "/practice-areas"}Enterprise / SaaS
              %br/
              %a{:title=>"", :href => "/practice-areas"}Consumer / Internet
              %br/
              %a{:title=>"", :href => "/practice-areas"}Mobile / Wireless
              %br/ 
          .right    
            %h2
              C-Level
              %br/
              Engineering
              %br/
              Finance
              %br/
              Marketing
              %br/
              Product
              %br/
              Sales / BD
              %br/
              Services
              %br/
        #black
          %ul
            %li.vantage-shots-icn6
              %a{:href => '/rich', :title => ''}
                %div
                  %h3 Richard A. Lear
                  %h4
                    Chairman & Founder
                    %br/ 
                    MEET RICH
            %li.vantage-shots-icn7
              %a{:href => '/audrey', :title => ''}
                %div
                  %h3 Audrey Shuster
                  %h4 
                    Managing Director
                    %br/
                    MEET AUDREY
            %li.vantage-shots-icn8
              %a{:href => '/gene', :title => ''}
                %div
                  %h3 Gene Zaccor
                  %h4 
                    Managing Director
                    %br/ 
                    MEET GENE
            %li.vantage-shots-icn9
              %a{:href => '/irene', :title => ''}
                %div
                  %h3 Irene Murphy
                  %h4 
                    Managing Director
                    %br/ 
                    MEET IRENE
            %li.vantage-shots-icn10
              %a{:href => '/steve', :title => ''}
                %div{:style =>'width:146px'}
                  %h3 Steve O'Deegan
                  %h4
                    Managing Director
                    %br/ 
                    MEET STEVE
    #right-content
      %h4
        %a{:title=>"Meet Tom", :href => "/tom"} Tom Callahan
        %br/
        %a{:title=>"Meek Mark", :href => "/mark"} Mark Hubbell
        %br/ 
        %a{:title=>"Meet April", :href => "/april"} April King
        %br/
        %a{:title=>"Meet Rich", :href =>"/rich"} Rich Lear
        %br/
        %a{:title=>"Meet Julie", :href => "/julie"} Julie Locke
        %br/ 
        %a{:title=>"Meet Irene", :href => "/irene"} Irene Murphy
        %br/
        %a{:title=>"Meet Steve", :href => "/steve"} Steve O'Deegan
        %br/
        %a{:href=>'/brynne',:title=>'Meet Brynne'} Brynne Pogoncheff
        %br/
        %a{:title=>"Meet Audrey", :href => "/audrey"} Audrey Shuster
        %br/   
        %a{:title=>"Meet May", :href => "/may"} May Young
        %br/ 
        %a{:title=>"Meet Gene", :href => "/gene"} Gene Zaccor
        %br/
