#slidedeck_frame            
  %dl#teams_slidedeck.slidedeck
    %dd
      %dl.slidesVertical
        %dd#team_vantage
          #teams_top_container
            #approach-area
              .content_setup
                .left-grid
                .right-grid
                  .greybox
                  .lefthalf
                    .spotlight
                      %h1 Proactive <span class="orange">focus</span> drives successful
                      %p 
                        By developing a close partnership with our clients we can pivot rapidly
                        %br/ 
                        and focus on achieving maximum alignment. Our core belief is that top
                        %br/
                        executives will thrive and contribute substantively in environments that
                        %br/
                        are well-matched to their capabilities and career stage.  
                        <span class="orange">everyone benefits</span> 
                .righthalf
                  .heroshot
                    %h1.right outcomes                           
                .divider 
        %dd#team_mission
          #teams_top_container
            #approach-area
              .content_setup
                .left-grid
                  .heroshot 
                  .greybox
                  .spotlight
                    %h1 <span class="orange">850+</span> High-Tech Executive Placements
                    %p 
                      Since our inception, Vantage has completed 99.1% of our searches 
                      with 87% of our clients engaging in multiple searches.
                      Determination and collaboration make us competitive, while 
                      our distinctive process keeps us ahead of the curve.
                      %br/
                      <span class="orange">we continue to outpace & surpass</span> 
                .right-grid                      

#slidedeck_nav
  .ct
    .divider
    .mission
      %h2 wisdom deployed optimally
      %p.tagline Insightful Consultative Approach to Executive Search
    .controls
      %ul
        %li
          %a.vertical_menu.nav-bottom-matching{:href => '#1'} Matching Minds
        %li
          %a.vertical_menu.nav-bottom-target{:href => '#2'} Our Success

#content-approach
  .ct
    #left-content
      #top-block
        %h2 OUR METHOD
        %h3 Our business is to advance the goals of both our client and candidate simultaneously
        %p 
          Creating maximum alignment between the Client's corporate objectives / organizational needs with the candidate's
          career goals / core competencies is crucial to the success of an executive search. Vantage Partners stewards this
          process by first performing a situation analysis to a gain a deep understanding of the client's unique ambitions.
        %h4 The Situation Analysis drives Success Factors and provides the framework for the search
      #right-block 
      #middle-content
        %h1 
          %a.sf-with-ul{:title => "",:href => "#"} situation analysis 
          <span class= "plus">+</span>  
          %a.sf-with-ul{:title => "",:href => "#"} success factors
