#practice-area
  .content_setup
    .left-grid
    .right-grid
      .lefthalf
        .spotlight
          %h1 <span class="orange">Spot</span>light on latest <span class="orange">search</span>es
          %p Vantage Partners specializes in building
          %p executive management teams for market
          %p leaders and venture-backed startups.
          %h2 wisdom deployed optimally
        %p.insight Insightful Consultive Approach to Executive Search
      .righthalf
        .recent
          %h2.right Recent Searches Here
          #recent_logo
          %img{:src => "../images/dots.png", :alt => "dots"}/
          #recent_details
    .divider
    
#logo_content
  .content_setup
    .ct
      %h2 Practice Areas
      %h3 Our clients advance software enterprise, consumer internet, and converging technologies
      %p The Vantage Team partners with innovators of prominent technology companies who require the most forward-thinking and creative leaders in the high-tech arena.
      #tabs
        %ul
          %li
            %a{:href => "#internet"} Internet
          %li
            %a{:href => "#software-services"} Software and Services
          %li
            %a{:href => "#mobile-wireless"} Mobile and Wireless
          %li
            %a{:href => "#clean-tech"} CleanTech
          %li
            %a{:href => "#client-portfolio"} Client Portfolio    
        #internet
        #software-services
        #mobile-wireless
        #clean-tech
        #client-portfolio
          .clients.alpha
          .clients
          .clients
          .clients
          .clients.omega

:plain
  <script id="logoTemplate" type="text/x-jquery-tmpl">          
    <div class="logo-background ${margin}">
      <div class="logo-column ${klass}">
        <a href="${href}" title="${title}">${name}</a>
      </div>
    </div>  
  </script>
   
  <script id="recentTemplate" type="text/x-jquery-tmpl">          
    <p class="stock_ticker">${ticker}</p>
    <p class="cto">${cto}</p>
    <p class="vantage_partner">
      <a href="${url}" title="${partner}">${partner}</a>
    </p>
  </script>
          