#practice-area
  .content_setup
    .left-grid
    .right-grid
      .lefthalf
        .spotlight
          %h1 <span class="orange">Spotlight</span> on latest <span class="orange">search</span>es
          %p Vantage Partners specializes in building
          %p executive management teams for market
          %p leaders and venture-backed startups.
        %h2 wisdom deployed optimally
        %p.insight Insightful Consultive Approach to Executive Search
      .righthalf
        .recent
          -#
            %h2.right 
              Recent Searches Here                           
          #recent_searches_slidedeck.skin-slidedeck
            %dl.slidedeck
            
    .divider
    
#logo_content
  .content_setup
    .ct
      %h2 PRACTICE AREAS
      %h3 Our clients lead, innovate, and drive market impact.
      %p The Vantage Team partners with innovators of prominent technology companies who require the most forward-thinking and creative leaders in the high-tech arena.
      #tabs
        %ul
          %li
            %a{:href => "#consumer-internet"} Consumer / Internet
          %li
            %a{:href => "#enterprise-saas"} Enterprise / SaaS
          %li
            %a{:href => "#mobile-wireless"} Mobile / Wireless
          %li
            %a{:href => "#client-portfolio"} Client Portfolio    
        #consumer-internet
        #enterprise-saas
        #mobile-wireless
        #client-portfolio
          .clients.alpha
          .clients
          .clients
          .clients
          .clients.omega

:plain
  <script id="logoTemplate" type="text/x-jquery-tmpl">
    <a href="#search_${title}" class="lightitupbud">        
      <div class="logo-background ${margin}">
        <div class="logo-column ${klass}"></div>
        <div style="display:none">
          <div id="search_${title}" class="fancybox_search">
            <div class="logo-header"></div>
            <div style="clear:both;"></div>
            {{each details}}
              <p class="investors">${$value['investors']}</p>
              <p>${$value['position']}</p>  
              <p>Vantage Team:</p>
              <a href="${$value['lead']['url']}" target="_blank" class="vantage-link">${$value['lead']['name']}</span>
              {{each(i,recruit) recruit}}
                <a href="${recruit['url']}" target="_blank" class="vantage-link">${recruit['name']}</a>
              {{/each}}
            {{/each}}
          </div>
        </div>
      </div>
    </a>  
  </script>
  
  <script id="pagingTemplate" type="text/x-jquery-tmpl">
    <span class="paging-link">
      <a href="#${page}" class="page-link" ref="${category}" title="view page ${page}">${page}</a>
    </span>
  </script>
   
  <script id="recentSearchTemplate" type="text/x-jquery-tmpl">
    <dt>${title}</dt>
    <dd>
      <div class="recent_search_logo"></div>
      <div class="recent_search_company">${company}</div>
      <div class="recent_search_category">${category}</div>      
      <div class="recent_search_position">${position}</div>
      <div class="recent_search_lead">${lead}</div>
      {{each recruit}}  
        <div class="recent_search_recruit">${$value}</div>
      {{/each}}
      <div class="recent_search_investor">${investors}</div>
    </dd>
  </script>        