#content.grid_22.prefix_1.suffix_1
  .content_setup
    .grid_2.alpha{:style => "background: #CED3D9 url('../images/small_icon.png') 0 0 no-repeat; height: 100%;"}
    .grid_20.omega
      .grid_10.alpha
        .spotlight
          %h1 <span class="orange">Spot</span>light on latest <span class="orange">search</span>es
          %p Vantage Partners specializes in building
          %p executive management teams for market
          %p leaders and venture-backed startups.
          %h2 wisdom deployed optimally
        %p.insight Insightful Consultive Approach to Executive Search
      .grid_10.omega
        .recent
          %h2.right Recent Searches Here
          %img{:src => "../images/hp_lrglogo_oracle.png", :alt => "Oracle"}/
          %img{:src => "../images/dots.png", :alt => "dots"}/
          %p.stock_ticker NASDAQ (ORCL)
          %p.cto CTO, Fusion Middleware
          %p.vantage_partner
            %a{:href => "#"} Tom Callahan
    .grid_22.divider.alpha.omega
    
#logo_content.grid_22.prefix_1.suffix_1
  .content_setup
    .grid_20.prefix_1.suffix_1{:style => "margin:0"}
      %h1 Practice Areas
      %h2 Our clients advance software enterprise, consumer internet, and converging technologies
      %p The Vantage Team partners with innovators of prominent technology companies who require the most forward-thinking and creative leaders in the high-tech arena.
      
      #tabs
        %ul
          %li
            %a{:href => "#internet"} Internet
          %li
            %a{:href => "#software-services"} Software and Services
          %li
            %a{:href => "#mobile-wireless"} Mobile and Wireless
          %li
            %a{:href => "#clean-tech"} CleanTech
          %li
            %a{:href => "#client-portfolio"} Client Portfolio    
        #internet
          .grid_5.alpha
            %img{:src => "../images/sprite_logos/Adchemy_logo.png", :alt => "adchemy"}/
          .grid_5
            %img{:src => "../images/sprite_logos/betfair_logo.png", :alt => "betfair"}/
          .grid_5
            %img{:src => "../images/sprite_logos/criteo_logo.png", :alt => "criteo"}/
          .grid_5.omega
            %img{:src => "../images/sprite_logos/ebates_logo.png", :alt => "ebates"}/
        #software-services
          %p Software and Services
        #mobile-wireless
          %p Mobile and Wireless stuff
        #clean-tech
          %p Clean Tech
        #client-portfolio
          %p Client Portfolio
          