#content.grid_22.prefix_1.suffix_1
  .content_setup
    .grid_2.alpha{:style => "background: #CED3D9 url('../images/small_icon.png') 0 0 no-repeat; height: 100%;"}
    .grid_20.omega
      .grid_12.alpha
        %h1 Practice Areas
      .grid_8.omega
        %h1 Recent Searches Here
    .grid_22.divider.alpha.omega  