#slidedeck_total_container
  #slidedeck_frame.grid_22.prefix_1.suffix_1
    %dl#my_slidedeck.slidedeck
      %dt Slide 1
      %dd.grid_22
        %ul.slidesVertical
          %li
            #vantage_machine
              .left.grid_16.alpha
                .grid_3
                .grid_3
                .grid_3
                .grid_3
                .grid_3
                .grid_3
              .right.grid_6.omega
                %h1 Right
          %li
            %dl#team_mission.slidedeck{:style => "height: 328px; position: relative; overflow: hidden;"}
              %dt
              %dd.slide.slide_14{:style => "position: absolute; left: 0px; z-index:1; height:328px; width:870px; margin:0px; padding: 0px; display: block; overflow: hidden;"}
                .inner_mission_nav
                  %a.prev{:href => "#1"} prev
                  %a.next{:href => "#1"} next
              %dt
              %dd.slide.slide_15{:style => "position: absolute; left: 0px; z-index:1; height:328px; width:870px; margin:0px; padding: 0px; display: block; overflow: hidden;"}
                .inner_mission_nav         
                  %a.prev{:href => "#2"} prev
                  %a.next{:href => "#2"} next
              %dt
              %dd.slide.slide_16{:style => "position: absolute; left: 0px; z-index:1; height:328px; width:870px; margin:0px; padding: 0px; display: block; overflow: hidden;"}
                .inner_mission_nav
                  %a.prev{:href => "#3"} prev
                  %a.next{:href => "#3"} next
          %li
            %img{:src => 'images/VantageCatalyst.png', :height => 335} 
          %li
            %img{:src => 'images/ThoughtLeadership.png', :height => 335} 
      %dt Slide 2
      %dd Slide Content
      %dt Slide 3
      %dd Slide Content
  #outer-slidedeck_nav.grid_22.prefix_1.suffix_1
    .divider.grid_22
    .grid_22{:style => 'margin:0;background-color:#fff;'}
      #mission.grid_7
        %h1 wisdom deployed optimally
        %h2 Insightful Consultative Approach to Executive Search
      %ul
        %li
          %a.vertical_menu.nav-bottom-vantage{:href => "#1"} The Vantage Team
        %li
          %a.vertical_menu.nav-bottom-mission{:href => "#2"} Our Mission
        %li
          %a.vertical_menu.nav-bottom-catalyst{:href => "#3"} Vantage Catalysts
        %li
          %a.vertical_menu.nav-bottom-leadership{:href => "#4"} Thought Leadership
        %li.right
          %a.prev{:href => "#prev"}
          %a.next{:href => "#next"}  

#content_home
  #content.grid_22.prefix_1.suffix_1.alpha.omega
    %img{:src => 'images/content-home-placeholder.png', :alt => 'temporary image'}/

