#slidedeck_total_container
  #slidedeck_frame.grid_22.prefix_1.suffix_1
    %dl#my_slidedeck.slidedeck
      %dd.grid_22
        %ul.slidesVertical
          %li
            %dl#team_vantage.slidedeck
              -# this is the slidedeck home or default slide #
              %dd
                .grid_18.alpha
                  .grid_3.mini-shot.alpha
                    %img{:src => "../images/mini-shot-april.png", :rel => "april", :alt => "April's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-tom.png", :rel=> "tom", :alt => "Tom's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-may.png", :rel => "may", :alt => "May's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-mark.png", :rel => "mark", :alt => "Mark's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-julie.png", :rel => "julie", :alt => "Julie's Story"}/
                  .grid_3.mini-shot.omega
                    %img{:src => "../images/mini-shot-rich.png", :rel => "rich", :alt => "Rich's Story"}/ 
                  .grid_3.mini-shot.alpha
                    %img{:src => "../images/mini-shot-gene.png", :rel => "gene", :alt => "Gene's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-audrey.png", :rel => "audrey", :alt => "Audrey's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-steve.png", :rel => "steve", :alt => "Steve's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-irene.png", :rel => "irene", :alt => "Irene's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-brynne.png", :rel => "brynne", :alt => "Brynne's Story"}/
                  .grid_3.mini-shot.omega
                    %img{:src => "../images/trust-mark.png", :alt => "Trust Mark"}/
                  .grid_9.alpha
                    %h1.meet meet our team                        
                  .grid_9.omega
                    %h2.master mastering the art of executive impact
                .grid_4.color_block.omega
             
              -# April's Story
              %dd
                .grid_15.alpha
                  .grid_3.mini-shot.alpha
                    %img{:src => "../images/mini-shot-april-hover.png", :rel => "april", :alt => "April's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-tom.png", :rel=> "tom", :alt => "Tom's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-may.png", :rel => "may", :alt => "May's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-mark.png", :rel => "mark", :alt => "Mark's Story"}/
                  .grid_3.mini-shot.omega
                    %img{:src => "../images/mini-shot-julie.png", :rel => "julie", :alt => "Julie's Story"}/
                  .grid_3.mini-shot.alpha
                    %img{:src => "../images/mini-shot-gene.png", :rel => "gene", :alt => "Gene's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-audrey.png", :rel => "audrey", :alt => "Audrey's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-steve.png", :rel => "steve", :alt => "Steve's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-irene.png", :rel => "irene", :alt => "Irene's Story"}/
                  .grid_3.mini-shot.omega
                    %img{:src => "../images/mini-shot-rich.png", :rel => "rich", :alt => "Rich's Story"}/ 
                  .grid_11.alpha
                    .grid_3.alpha
                      %img{:src => "../images/hp_smlogo_10gen.png", :alt => "Mindflash!"}/
                    .grid_3
                      %img{:src => "../images/hp_smlogo_mindflash.png", :alt => "10 Gen"}/
                    .grid_3
                      %img{:src => "../images/hp_smlogo_criteo.png", :alt => "Criteo"}/                    
                    .grid_2.omega
                      %img{:src => "../images/hp_smlogo_razoo.png", :alt => "Razoo"}/                    
                  .grid_4.omega
                    .vantage_bio
                      %h1 April B. King
                      %p Specializing in Software
                      %p Saas / Internet
                      %p Systems / CleanTech
                .grid_7.omega
                  %img{:src => "../images/April_HomePage_IMG_1472.png", :alt => "April B. King", :width => 270, :height => 335}    
                  
              -# Tom's Story
              %dd
                .grid_15.alpha
                  .grid_3.mini-shot.alpha
                    %img{:src => "../images/mini-shot-april.png", :rel => "april", :alt => "April's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-tom-hover.png", :rel=> "tom", :alt => "Tom's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-may.png", :rel => "may", :alt => "May's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-mark.png", :rel => "mark", :alt => "Mark's Story"}/
                  .grid_3.mini-shot.omega
                    %img{:src => "../images/mini-shot-julie.png", :rel => "julie", :alt => "Julie's Story"}/
                  .grid_3.mini-shot.alpha
                    %img{:src => "../images/mini-shot-gene.png", :rel => "gene", :alt => "Gene's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-audrey.png", :rel => "audrey", :alt => "Audrey's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-steve.png", :rel => "steve", :alt => "Steve's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-irene.png", :rel => "irene", :alt => "Irene's Story"}/
                  .grid_3.mini-shot.omega
                    %img{:src => "../images/mini-shot-rich.png", :rel => "rich", :alt => "Rich's Story"}/
                  .grid_11.alpha
                    .grid_3.alpha
                      %img{:src => "../images/hp_smlogo_oracle.png" , :alt => "Oracle"}/
                    .grid_2
                      %img{:src => "../images/hp_smlogo_merced.png", :alt => "Merced"}/
                    .grid_3
                      %img{:src => "../images/hp_smlogo_10gen.png", :alt => "10 Gen"}/                    
                    .grid_3.omega
                      %img{:src => "../images/hp_smlogo_betfair.png", :alt => "Betfair"}/                    
                  .grid_4.omega
                    .vantage_bio
                      %h1 Tom Callahan
                      %p Specializing in Infrastructure
                      %p Consumer Internet
                      %p Saas / Software
                .grid_7.omega
                  %img{:src => "../images/Tom_HomePage-IMG-284.png", :alt => "Tom Callahan", :width => 270, :height => 335}   
              
              -# May's Story
              %dd
                .grid_15.alpha
                  .grid_3.mini-shot.alpha
                    %img{:src => "../images/mini-shot-april.png", :rel => "april", :alt => "April's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-tom.png", :rel=> "tom", :alt => "Tom's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-may-hover.png", :rel => "may", :alt => "May's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-mark.png", :rel => "mark", :alt => "Mark's Story"}/
                  .grid_3.mini-shot.omega
                    %img{:src => "../images/mini-shot-julie.png", :rel => "julie", :alt => "Julie's Story"}/
                  .grid_3.mini-shot.alpha
                    %img{:src => "../images/mini-shot-gene.png", :rel => "gene", :alt => "Gene's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-audrey.png", :rel => "audrey", :alt => "Audrey's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-steve.png", :rel => "steve", :alt => "Steve's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-irene.png", :rel => "irene", :alt => "Irene's Story"}/
                  .grid_3.mini-shot.omega
                    %img{:src => "../images/mini-shot-rich.png", :rel => "rich", :alt => "Rich's Story"}/
                  .grid_11.alpha
                    .grid_3.alpha
                      %img{:src => "../images/hp_smlogo_tagged.png", :alt => "Razoo"}/
                    .grid_3
                      %img{:src => "../images/hp_smlogo_lynda.png", :alt => "Tagged"}/
                    .grid_2
                      %img{:src => "../images/hp_smlogo_razoo.png", :alt => "Lynda"}/                    
                    .grid_2.omega
                      %img{:src => "../images/hp_smlogo_webroot.png", :alt => "Webroot"}/                    
                  .grid_4.omega
                    .vantage_bio
                      %h1 May Young
                      %p Specializing in Media
                      %p Interactive / Software
                      %p Consumer Internet
                .grid_7.omega
                  %img{:src => "../images/May_homepage_1581.png", :alt => "May Young", :width => 270, :height => 335}

              -# Mark's Story
              %dd
                .grid_15.alpha
                  .grid_3.mini-shot.alpha
                    %img{:src => "../images/mini-shot-april.png", :rel => "april", :alt => "April's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-tom.png", :rel=> "tom", :alt => "Tom's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-may.png", :rel => "may", :alt => "May's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-mark-hover.png", :rel => "mark", :alt => "Mark's Story"}/
                  .grid_3.mini-shot.omega
                    %img{:src => "../images/mini-shot-julie.png", :rel => "julie", :alt => "Julie's Story"}/
                  .grid_3.mini-shot.alpha
                    %img{:src => "../images/mini-shot-gene.png", :rel => "gene", :alt => "Gene's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-audrey.png", :rel => "audrey", :alt => "Audrey's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-steve.png", :rel => "steve", :alt => "Steve's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-irene.png", :rel => "irene", :alt => "Irene's Story"}/
                  .grid_3.mini-shot.omega
                    %img{:src => "../images/mini-shot-rich.png", :rel => "rich", :alt => "Rich's Story"}/
                  .grid_11.alpha
                    .grid_2.alpha
                      %img{:src => "../images/hp_smlogo_zynga.png", :alt => "Zynga"}/
                    .grid_3
                      %img{:src => "../images/hp_smlogo_tagged.png", :alt => "Songkick"}/
                    .grid_2
                      %img{:src => "../images/hp_smlogo_songkick.png" , :alt => "Tagged"}/                    
                    .grid_3.omega
                      %img{:src => "../images/hp_smlogo_turn.png", :alt => "Turn"}/                    
                  .grid_4.omega
                    .vantage_bio
                      %h1 Mark Hubbell
                      %p Specializing in Software
                      %p Internet Media / Interactive
                      %p Consumer Internet
                .grid_7.omega
                  %img{:src => "../images/Mark_PersonalPage_IMG-1858.png", :alt => "Mark Hubbell", :width => 270, :height => 335}
                     
              -# Julie's Story
              %dd
                .grid_15.alpha
                  .grid_3.mini-shot.alpha
                    %img{:src => "../images/mini-shot-april.png", :rel => "april", :alt => "April's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-tom.png", :rel=> "tom", :alt => "Tom's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-may.png", :rel => "may", :alt => "May's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-mark.png", :rel => "mark", :alt => "Mark's Story"}/
                  .grid_3.mini-shot.omega
                    %img{:src => "../images/mini-shot-julie-hover.png", :rel => "julie", :alt => "Julie's Story"}/
                  .grid_3.mini-shot.alpha
                    %img{:src => "../images/mini-shot-gene.png", :rel => "gene", :alt => "Gene's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-audrey.png", :rel => "audrey", :alt => "Audrey's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-steve.png", :rel => "steve", :alt => "Steve's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-irene.png", :rel => "irene", :alt => "Irene's Story"}/
                  .grid_3.mini-shot.omega
                    %img{:src => "../images/mini-shot-rich.png", :rel => "rich", :alt => "Rich's Story"}/
                  .grid_11.alpha
                    .grid_2.alpha
                      %img{:src => "../images/hp_smlogo_zynga.png", :alt => "Zynga"}/
                    .grid_3
                      %img{:src => "../images/hp_smlogo_like.png", :alt => "Like"}/
                    .grid_3
                      %img{:src => "../images/hp_smlogo_adchemy.png", :alt => "Adchemy"}/                    
                    .grid_3.omega
                      %img{:src => "../images/hp_smlogo_topsy.png", :alt => "Topsy"}/                    
                  .grid_4.omega
                    .vantage_bio
                      %h1 Julie Locke
                      %p Specializing in Media
                      %p Interactive / Consumer
                      %p Internet Software
                .grid_7.omega
                  %img{:src => "../images/Julie_HomePage_IMG-0954.png", :alt => "Julie Locke", :width => 270, :height => 335} 
              
              -# Rich's Story
              %dd
                .grid_15.alpha
                  .grid_3.mini-shot.alpha
                    %img{:src => "../images/mini-shot-april.png", :rel => "april", :alt => "April's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-tom.png", :rel=> "tom", :alt => "Tom's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-may.png", :rel => "may", :alt => "May's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-mark.png", :rel => "mark", :alt => "Mark's Story"}/
                  .grid_3.mini-shot.omega
                    %img{:src => "../images/mini-shot-julie.png", :rel => "julie", :alt => "Julie's Story"}/
                  .grid_3.mini-shot.alpha
                    %img{:src => "../images/mini-shot-gene.png", :rel => "gene", :alt => "Gene's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-audrey.png", :rel => "audrey", :alt => "Audrey's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-steve.png", :rel => "steve", :alt => "Steve's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-irene.png", :rel => "irene", :alt => "Irene's Story"}/
                  .grid_3.mini-shot.omega
                    %img{:src => "../images/mini-shot-rich-hover.png", :rel => "rich", :alt => "Rich's Story"}/
                  .grid_11.alpha
                    .grid_3.alpha
                      %img{:src => "../images/hp_smlogo_webroot.png", :alt => "Webroot"}/
                    .grid_3
                      %img{:src => "../images/hp_smlogo_ebates.png", :alt => "Ebates"}/
                    .grid_2
                      %img{:src => "../images/hp_smlogo_songkick.png", :alt => "Songkick"}/                    
                    .grid_3.omega
                      %img{:src => "../images/hp_smlogo_pubmatic.png", :alt => "Pubmatic"}/                    
                  .grid_4.omega
                    .vantage_bio
                      %h1 Richard Lear
                      %p Specializing in Media
                      %p Interactive / eCommerce
                      %p Saas Open Source
                .grid_7.omega
                  %img{:src => "../images/Rich_HomePage_IMG-1132.png", :alt => "Richard Lear", :width => 270, :height => 335}
              
              -# Gene's Story
              %dd
                .grid_15.alpha
                  .grid_3.mini-shot.alpha
                    %img{:src => "../images/mini-shot-april.png", :rel => "april", :alt => "April's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-tom.png", :rel=> "tom", :alt => "Tom's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-may.png", :rel => "may", :alt => "May's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-mark.png", :rel => "mark", :alt => "Mark's Story"}/
                  .grid_3.mini-shot.omega
                    %img{:src => "../images/mini-shot-julie.png", :rel => "julie", :alt => "Julie's Story"}/
                  .grid_3.mini-shot.alpha
                    %img{:src => "../images/mini-shot-gene-hover.png", :rel => "gene", :alt => "Gene's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-audrey.png", :rel => "audrey", :alt => "Audrey's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-steve.png", :rel => "steve", :alt => "Steve's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-irene.png", :rel => "irene", :alt => "Irene's Story"}/
                  .grid_3.mini-shot.omega
                    %img{:src => "../images/mini-shot-rich.png", :rel => "rich", :alt => "Rich's Story"}/
                  .grid_11.alpha
                    .grid_3.alpha
                      %img{:src => "../images/hp_smlogo_yahoo.png", :alt => "Mark Monitor"}/
                    .grid_3
                      %img{:src => "../images/hp_smlogo_markmonitor.png", :alt => "Razoo"}/
                    .grid_2
                      %img{:src => "../images/hp_smlogo_razoo.png", :alt => "Yahoo"}/                    
                    .grid_3.omega
                      %img{:src => "../images/hp_smlogo_marklogic.png", :alt => "Mark Logic"}/                    
                  .grid_4.omega
                    .vantage_bio
                      %h1 Gene Zaccor
                      %p Specializing in Internet
                      %p Software / Cleantech
                .grid_7.omega
                  %img{:src => "../images/Gene_HomePg_IMG-1823.png", :alt => "Gene Zaccor", :width => 270, :height => 335}

              -# Audery's Story
              %dd
                .grid_15.alpha
                  .grid_3.mini-shot.alpha
                    %img{:src => "../images/mini-shot-april.png", :rel => "april", :alt => "April's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-tom.png", :rel=> "tom", :alt => "Tom's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-may.png", :rel => "may", :alt => "May's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-mark.png", :rel => "mark", :alt => "Mark's Story"}/
                  .grid_3.mini-shot.omega
                    %img{:src => "../images/mini-shot-julie.png", :rel => "julie", :alt => "Julie's Story"}/
                  .grid_3.mini-shot.alpha
                    %img{:src => "../images/mini-shot-gene.png", :rel => "gene", :alt => "Gene's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-audrey-hover.png", :rel => "audrey", :alt => "Audrey's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-steve.png", :rel => "steve", :alt => "Steve's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-irene.png", :rel => "irene", :alt => "Irene's Story"}/
                  .grid_3.mini-shot.omega
                    %img{:src => "../images/mini-shot-rich.png", :rel => "rich", :alt => "Rich's Story"}/
                  .grid_11.alpha
                    .grid_3.alpha
                      %img{:src => "../images/hp_smlogo_webroot.png", :alt => "Mark Monitor"}/
                    .grid_3
                      %img{:src => "../images/hp_smlogo_markmonitor.png", :alt => "Webroot"}/
                    .grid_2
                      %img{:src => "../images/hp_smlogo_yahoo_narrow.png", :alt => "Mark Logic"}/                    
                    .grid_3.omega
                      %img{:src => "../images/hp_smlogo_marklogic.png", :alt => "Yahoo"}/                    
                  .grid_4.omega
                    .vantage_bio
                      %h1 Audery Shuster
                      %p Specializing in Software
                      %p Saas / Internet
                .grid_7.omega
                  %img{:src => "../images/Audrey_personal_IMG-0988.png", :alt => "Audery Shuster", :width => 270, :height => 335}
            
              -# Steve's Story
              %dd
                .grid_15.alpha
                  .grid_3.mini-shot.alpha
                    %img{:src => "../images/mini-shot-april.png", :rel => "april", :alt => "April's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-tom.png", :rel=> "tom", :alt => "Tom's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-may.png", :rel => "may", :alt => "May's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-mark.png", :rel => "mark", :alt => "Mark's Story"}/
                  .grid_3.mini-shot.omega
                    %img{:src => "../images/mini-shot-julie.png", :rel => "julie", :alt => "Julie's Story"}/
                  .grid_3.mini-shot.alpha
                    %img{:src => "../images/mini-shot-gene.png", :rel => "gene", :alt => "Gene's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-audrey.png", :rel => "audrey", :alt => "Audrey's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-steve-hover.png", :rel => "steve", :alt => "Steve's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-irene.png", :rel => "irene", :alt => "Irene's Story"}/
                  .grid_3.mini-shot.omega
                    %img{:src => "../images/mini-shot-rich.png", :rel => "rich", :alt => "Rich's Story"}/
                  .grid_11.alpha
                    .grid_3.alpha
                      %img{:src => "../images/hp_smlogo_splunk.png", :alt => "Splunk"}/
                    .grid_3
                      %img{:src => "../images/hp_smlogo_xen.png", :alt => "Xen"}/
                    .grid_3
                      %img{:src => "../images/hp_smlogo_get-satisfaction.png", :alt => "Get Satisfaction"}/                    
                    .grid_2.omega
                      %img{:src => "../images/hp_smlogo_boomi.png", :alt => "Boomi"}/                    
                  .grid_4.omega
                    .vantage_bio
                      %h1 Steve O'Deegan
                      %p Specializing in Engineering
                      %p Infrastructure Application 
                      %p Systems / Saas / Sales 
                .grid_7.omega
                  %img{:src => "../images/Steve_HomePage_IMG-0601.png", :alt => "Steve O'Deegan", :width => 270, :height => 335}

              -# Irene's Story
              %dd
                .grid_15.alpha
                  .grid_3.mini-shot.alpha
                    %img{:src => "../images/mini-shot-april.png", :rel => "april", :alt => "April's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-tom.png", :rel=> "tom", :alt => "Tom's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-may.png", :rel => "may", :alt => "May's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-mark.png", :rel => "mark", :alt => "Mark's Story"}/
                  .grid_3.mini-shot.omega
                    %img{:src => "../images/mini-shot-julie.png", :rel => "julie", :alt => "Julie's Story"}/
                  .grid_3.mini-shot.alpha
                    %img{:src => "../images/mini-shot-gene.png", :rel => "gene", :alt => "Gene's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-audrey.png", :rel => "audrey", :alt => "Audrey's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-steve.png", :rel => "steve", :alt => "Steve's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-irene-hover.png", :rel => "irene", :alt => "Irene's Story"}/
                  .grid_3.mini-shot.omega
                    %img{:src => "../images/mini-shot-rich.png", :rel => "rich", :alt => "Rich's Story"}/
                  .grid_11.alpha
                    .grid_3.alpha
                      %img{:src => "../images/hp_smlogo_10gen.png", :alt => "10 Gen"}/
                    .grid_2
                      %img{:src => "../images/hp_smlogo_rti.png", :alt => "RTI"}/
                    .grid_3
                      %img{:src => "../images/hp_smlogo_infusion.png", :alt => "IP Infusion"}/                    
                    .grid_3.omega
                      %img{:src => "../images/hp_smlogo_ingres.png", :alt => "Ingres"}/                    
                  .grid_4.omega
                    .vantage_bio
                      %h1 Irene Murphy
                      %p Specializing in
                      %p Software / Internet
                      %p Cleantech / Saas
                .grid_7.omega
                  %img{:src => "../images/Irene_Home_IMG-0818.png", :alt => "Irene Murphy", :width => 270, :height => 335}    
                  
              -# Brynne's Story
              %dd
                .grid_15.alpha
                  .grid_3.mini-shot.alpha
                    %img{:src => "../images/mini-shot-april.png", :rel => "april", :alt => "April's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-tom.png", :rel=> "tom", :alt => "Tom's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-may.png", :rel => "may", :alt => "May's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-mark.png", :rel => "mark", :alt => "Mark's Story"}/
                  .grid_3.mini-shot.omega
                    %img{:src => "../images/mini-shot-julie.png", :rel => "julie", :alt => "Julie's Story"}/
                  .grid_3.mini-shot.alpha
                    %img{:src => "../images/mini-shot-gene.png", :rel => "gene", :alt => "Gene's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-audrey.png", :rel => "audrey", :alt => "Audrey's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-steve.png", :rel => "steve", :alt => "Steve's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-irene.png", :rel => "irene", :alt => "Irene's Story"}/
                  .grid_3.mini-shot.omega
                    %img{:src => "../images/mini-shot-rich.png", :rel => "rich", :alt => "Rich's Story"}/
                  .grid_9.alpha
                    %h1.meet meet our team
                  .grid_3
                    &nbsp;
                  .grid_3.omega
                    .vantage_bio
                      %h1 Brynne Pogoncheff
                      %p Vantage Team Coordinator
                .grid_7.omega
                  %img{:src => "../images/Brynne_HomePage_IMG-1416.png", :alt => "Brynne Pogoncheff", :width => 270, :height => 335}    
          
          %li
            %dl#team_mission.slidedeck{:style => "height: 335px; position: relative; overflow: hidden;"}
              %dd.slide.slide_14{:style => "position: absolute; left: 0px; z-index:1; height:328px; width:870px; margin:0px; padding: 0px; display: block; overflow: hidden;"}
              %dd.slide.slide_15{:style => "position: absolute; left: 0px; z-index:1; height:328px; width:870px; margin:0px; padding: 0px; display: block; overflow: hidden;"}
              %dd.slide.slide_16{:style => "position: absolute; left: 0px; z-index:1; height:328px; width:870px; margin:0px; padding: 0px; display: block; overflow: hidden;"}
          %li
            %img{:src => 'images/VantageCatalyst.png', :height => 335} 
          %li
            %img{:src => 'images/ThoughtLeadership.png', :height => 335} 
      %dt Slide 2
      %dd Slide Content
      %dt Slide 3
      %dd Slide Content
  #outer-slidedeck_nav.grid_22.prefix_1.suffix_1
    .divider.grid_22
    .grid_22{:style => 'margin:0;background-color:#fff;'}
      #mission.grid_7
        %h1 wisdom deployed optimally
        %h2 Insightful Consultative Approach to Executive Search
      %ul
        %li
          %a.vertical_menu.nav-bottom-vantage{:href => "#1"} The Vantage Team
        %li
          %a.vertical_menu.nav-bottom-mission{:href => "#2"} Our Mission
        %li
          %a.vertical_menu.nav-bottom-catalyst{:href => "#3"} Vantage Catalysts
        %li
          %a.vertical_menu.nav-bottom-leadership{:href => "#4"} Thought Leadership
        %li.right
          %a.prev{:href => "#prev"}
          %a.next{:href => "#next"}  

  #content_home.grid_22.prefix_1.suffix_1
    .ct
      #left-content.grid_16.alpha
        .ct
          #category VANTAGE VALUE 
          %h1 There's a confluence of art and reason behind each search we complete.
          %p
            Applying our proprietary approach is what guides us.  And mastering the art of building executive 
            teams is what stimulates us.  But closing searches that give our Clients a competitive edge is what
            drives every recruiter at Vantage Partners.
            %br/
            %br/
            We have completed over 850 retained executive searches for our global clientele in Consumer Internet, 
            Enterprise SaaS, Mobile/Wireless, and CleanTech. In primarily serving these four key tech sectors with trillions 
            in active revenue, our consultative and strategic approaches deliver real, tangible success for our Clients. 
            While our network continues to grow and thrive among top VC firms and the most innovative companies 
            in the world, we pride ourselves in knowing our direct impact yields impressive results for those we serve.
            
        #chart_1.grid_5.alpha{:style => "height: 200px;"}
        #chart_2.grid_5{:style => "height: 200px;"}
        #chart_3.grid_5.suffix_1.omega{:style => "height: 200px;"}
        .grid_16.prefix_1.suffix_1
          %img{:src => "images/bars.png", :alt => "bars"}
      #right-content.grid_6.omega
        .divider-small
        #newsfeed
          .rss-icon
          %h1 newswire 
        .content-block
          .date
            00.00.00
            %span.date-divider
              |
          .author author
          %br/
          %h3
            Cornerstone OnDemand
            %br/
            President and CEO,
            %br/ 
            Adam Miller
            %br/
          .photo
            %img{:src => "images/sample_photo.png", :alt => "Newfeed", :width => 76,  :height => 73, :style => "padding: 5px 10px 0 0; float:left;"}
          .photo-credit Photo: Business Wire
          %p
            Here's a newspost that would
            %br/
            then spotlight an activity feed. Here is a newspost that would
            spotlight an activity post
            %br/
            This would be a feature story
            %br/
            and would most likely remain... 
            %br/
          .more
            %a{:title => "More details", :href => "/"} more
          .arrows
          .dots
        .content-block
          .date
            00.00.00
            %span.date-divider
              |
          .author author
          %h3
            This is a story Headline
          %p
            Here's a newspost that would
            %br/
            then spotlight an activity feed. Here is a newspost that would...
          .more
            %a{:title => "More details", :href => "/"} more
          .arrows
          .dots
        .content-block
          .date
            00.00.00
            %span.date-divider
              |
          .author author
          %h3 This is a story Headline
          %p
            Here's a newspost that would
            %br/
            then spotlight an activity feed. Here is a newspost that would...
          .more
            %a{:title => "More details", :href => "/"} more
          .arrows
          .dots
        #social-media
          %a.facebook{:href => "/"}
          %a.twitter{:href => "/"}
          .clear
        .social-media.grid_6
          %h4 subscribe to our social sites  