  <% @title = "SUDOKU SENSATION" %>
    <div id="main" role="main" class="container_24">
      <div id="main-shot"></div>
      <div id="myCarousel" class="carousel slide">
        <div class="carousel-inner">
          <div class="item active">
            <img src="images/iPad-startpage.png" alt="">
            <div class="carousel-caption"></div>
          </div>
          <div class="item">
            <img src="images/iPad-gamemenu.png" alt="">
            <div class="carousel-caption"></div>
          </div>
          <div class="item">
            <img src="images/iPad-gamelevels.png" alt="">
            <div class="carousel-caption"></div>
          </div>
          <div class="item">
            <img src="images/iPad-game.png" alt="">
            <div class="carousel-caption"></div>
          </div>
          <div class="item">
            <img src="images/iPad-settings.png" alt="">
            <div class="carousel-caption"></div>
          </div>
          <div class="item">
            <img src="images/iPad-game2.png" alt="">
            <div class="carousel-caption"></div>
          </div>
        </div> <!-- /carousel-inner  -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
      </div> <!-- /myCarousel  -->             
      <div id="left-area" class="grid_15 alpha omega">
        <div class="top-image"></div>
      </div> <!-- /left-area    -->
      <div id="right-area" class="grid_8 alpha omega">
        <div class="icon suffix_1 prefix_1"></div>
        <div id="logo" class="grid_8 alpha omega">
          <div class="commonboxes-sudoku-color-a" ><img src="./images/s.png" alt="s" width="21" height="21" style="padding-left: 3px" /></div>
          <div class="commonboxes-sudoku-color-b" ><img src="./images/u.png" alt="u" width="21" height="21" style="padding-left: 3px" /></div>
          <div class="commonboxes-sudoku-color-a" ><img src="./images/d.png" alt="d" width="21" height="21" style="padding-left: 3px" /></div>
          <div class="commonboxes-sudoku-color-b" ><img src="./images/o.png" alt="o" width="25" height="21" style="padding-left: 2px" /></div>
          <div class="commonboxes-sudoku-color-a" ><img src="./images/k.png" alt="k" width="21" height="21" style="padding-left: 3px" /></div>
          <div class="commonboxes-sudoku-color-b" ><img src="./images/u.png" alt="u" width="21" height="21" style="padding-left: 3px" /></div>
        </div> <!-- /logo    -->
        <div id="logo-type-top" class="grid_8 alpha omega"></div>
        <div class="grid_8 alpha omega">
          <h3><a href="enter-to-win">ENTER TO WIN</a></h3>
          <h4>
            A YEAR OF SPOTIFY BY <br/>
            SIMPLY TESTING AN AD-FREE <br/>
            VERSION OF THE NEW <br/>
          </h4>
          <div id="logo-type" class="grid_8 alpha omega"></div>
          <div class="features">
            <ul id="tab" class="nav nav-tabs" style="padding-left: 64px;">
              <li class="active"><a href="#iPad" data-toggle="tab">iPad</a></li>
              <li class=""><a href="#iPhone" data-toggle="tab">iPhone</a></li>
            </ul>
            <div id="myTabContent" class="tab-content">
              <div class="tab-pane fade active in" id="iPad">
                <p>4+ Challenging Levels <br /> 100 High Quality Puzzles <br />
                   Upgrade and get 2 Gorgeous Garden Themes <br />
                   <a href="/sensational-features">LOADED WITH SENSATIONAL FEATURES</a>
                </p>
              </div> <!-- /tab-pane  -->
              <div class="tab-pane fade" id="iPhone">
                <p>Flexible and Easy-to-Read,<br />Re-designed Compact Version <br />
                   Endlessly Challenging!!<br />
                   <a href="/sensational-features">LOADED WITH SENSATIONAL FEATURES</a>
                </p>
              </div> <!-- /tab-pane fade    -->
            </div> <!-- /myTabContent  -->           
          </div> <!-- /features  -->
          <div class="grid_8 alpha omega">
            <div class="grid_2 suffix_1 left">
              <a href="http://www.facebook.com/SudokuSensation" data-original-title="Play with your Friends on Facebook"><img id="facebook" src="./images/facebook.png" alt="facebook" width="50" height="50" style="padding:0px 0 0 20px" /></a>
            </div> <!-- /grid_8  -->
            <div class="grid_2 left">  
              <img src="./images/frog.png" alt="little frog" width="70" height="72" style="padding: 0px" />
            </div>
            <div class="grid_2 left">
              <a href="http://www.appgrabber.com/app/sudoku-sensation"><img src="./images/gamecenter.png" alt="apple gamecenter" width="50" height="50" style="padding: 0px 0 0 0" /></a>
            </div><!-- /grid_2 suffix_1 left   --> 
          </div> <!-- /grid_8 alpha omega  -->
          <div class="legal grid_8">
            WE ABHOR SPAM - YOUR NAME WILL NOT BE SOLD <br/>
            TO ANY THIRD PARTIES OF SPAM-MONSTERS!
          </div> <!-- /legal grid_8  -->
          <div class="bottom-image grid_8"></div>
        </div> <!-- / grid_8 alpha omega    -->
      </div> <!-- /right-area" class="grid_8 alpha omega  -->
    </div> <!-- /main role="main" class="container_24  -->
