#slidedeck_total_container
  #slidedeck_frame.grid_22.prefix_1.suffix_1
    %dl#my_slidedeck.slidedeck
      %dd.grid_22
        %ul.slidesVertical
          %li
            %dl#team_vantage.slidedeck{:style => 'background-color: #fff'}
              -# this is the slidedeck home or default slide #
              %dd#home
                .grid_18.alpha
                  .grid_3.mini-shot.alpha
                    %img{:src => "../images/mini-shot-april.png", :rel => "april", :alt => "April's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-tom.png", :rel=> "tom", :alt => "Tom's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-may.png", :rel => "may", :alt => "May's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-mark.png", :rel => "mark", :alt => "Mark's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-julie.png", :rel => "julie", :alt => "Julie's Story"}/
                  .grid_3.mini-shot.omega
                    %img{:src => "../images/mini-shot-rich.png", :rel => "rich", :alt => "Rich's Story"}/ 
                  .grid_3.mini-shot.alpha
                    %img{:src => "../images/mini-shot-gene.png", :rel => "gene", :alt => "Gene's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-audrey.png", :rel => "audrey", :alt => "Audrey's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-steve.png", :rel => "steve", :alt => "Steve's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-irene.png", :rel => "irene", :alt => "Irene's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-brynne.png", :rel => "brynne", :alt => "Brynne's Story"}/
                  .grid_3.mini-shot.omega
                    %img{:src => "../images/trust-mark.png", :alt => "Trust Mark"}/
                  .grid_9.alpha
                    %h1.meet meet our team                        
                  .grid_9.omega
                    %h2.master mastering the art of executive impact
                .grid_4.color_block.omega
              #other_slides{:style => "display:none;"}
                 
          
          %li
            %dl#team_mission.slidedeck{:style => "height: 335px; position: relative; overflow: hidden;"}
              %dd.slide.slide_14{:style => "position: absolute; left: 0px; z-index: 1; height: 335px; width: 870;background-color: #fff;"}
                #slide_container.grid_2.alpha{:style => "background-color: #CED3D9; height: 100%;"}
                  .trustmark-icon
                .grid_20.omega
                  .grid_8.alpha
                    .mission-top-left
                  .grid_12.omega
                    .mission-top-right
                  .grid_18.suffix_1
                    <h1 class="opener">Pro<span class="orange">act</span>ively optimizing <span class="white">executive search</span></h1>
                    %p
                      Streamlined, dynamic, and focused from the start, we are determined to work smart. We draw from the acumen of 
                      our internal collective. And we employ our proprietary Success Factors methodology to foster maximum alignment
                      between our Client’s needs and the goals of an ideal candidate. With our optimum insight, we steward the
                      exploration for the ideal executive, consistently engendering success for our Client’s businesses.
                    %h2.clickforward.right
                      %a{:title => "Discover", :href => "/"} discover our approach >
              %dd.slide.slide_2
                .grid_2.alpha{:style => "background: #CED3D9 url('../images/small_icon.png') 0 0 no-repeat; height: 100%;"}
                .grid_20.omega
                  <h1 class="connect_left">Conducting super-charged <span class="orange">connect</span>ions</h1>
                .grid_11.omega    
                  %p.connect 
                    Vantage Partners cultivates relationships with innovative talent in technology convergence. 
                    And we nurture invaluable partnerships with leading venture capitalists and companies.
                  %h2.trailer But these are only beginnings.
                .grid_18.omega  
                  %h2.clickforward.right
                    %a{:title => "Meet your match", :href => "/"} MEET YOUR MATCH >
                  .clear
                .grid_11.omega    
                  <h2 class="connect_left">Vantage Partners is about creating relevant</h2>
                .grid_8.omega
                  <h2 class="connect_left"> connections for maximum effect</h2>    
              %dd.slide.slide_3
                .grid_20.alpha
                  <h1 class="connect_right">Collective fore<span class="orange">sight</span> for success</h1>
                  %p.connect_right Our discipline of planning will make your goals quite tangible from the start. Our team works proactively with CEOs, board members and entrepreneurs to identify milestones that will help define your business' future success.
                  %h2.clickforward.right
                    %a{:title => "Read more", :href => "/", :style => "margin-right:0;"} Read more about our results-driven approach >
                  .clear
                  .grid_20 
                    %h2.clickback.left
                      %a{:title => "change the world", :href => "/"} < AND CHANGE THE WORLD
                    .clear
                  .grid_9 
                    %h2.connect_left Our process ensures a comprehensive
                  .grid_10
                    %h2.connect_right evaluation of your core business needs
                  .clear
                .grid_2.omega{:style => "background: #CED3D9 url('../images/small_icon.png') 0 0 no-repeat; height: 100%; float:right"}
          %li
            %dl#vantage_catalyst{:style => "height: 335px; position: relative; overflow: hidden;"}
              %dd
                .grid_13.alpha
                  %h1 Video goes here
                .grid_9.omega
                  .grid_8.suffix
                    %h1 THE VANTAGE CATALYSTS
                    %h2 Catalysts in the Cloud
                    %h3 Leaders changing the way people work,
                    %h3 connect and collaborate
                    %p Vantage Partners interviewed the best and brightest of the Technology Convergence domain. Get access to their unique perspective with the Catalyst in the Cloud series, where they share insights on trends, challenges and new developments.
                    %h3.clickforward
                      %a{:href => "#", :title => ""} watch the entire series >
                    .clear
                    %p.list Interviews include:
                    .grid_3.alpha
                      %p.list Michael Olson
                    .grid_4.omega  
                      %span CEO of Cloudera
                    .grid_3.alpha  
                      %p.list John Dillon
                    .grid_4.omega  
                      %span CEO of Engine Yard
                    .grid_3.alpha  
                      %p.list Navin Nagiah
                    .grid_4.omega
                      %span CEO of DotNetNuke
          %li
            %img{:src => 'images/ThoughtLeadership.png', :height => 335} 
  #outer-slidedeck_nav.grid_22.prefix_1.suffix_1
    .divider.grid_22
    .grid_22{:style => 'margin:0;background-color:#fff;'}
      #mission.grid_7
        %h1 wisdom deployed optimally
        %h2 Insightful Consultative Approach to Executive Search
      %ul
        %li
          %a.vertical_menu.nav-bottom-vantage{:href => "#1"} The Vantage Team
        %li
          %a.vertical_menu.nav-bottom-mission{:href => "#2"} Our Mission
        %li
          %a.vertical_menu.nav-bottom-catalyst{:href => "#3"} Vantage Catalysts
        %li
          %a.vertical_menu.nav-bottom-leadership{:href => "#4"} Thought Leadership
        %li.right
          %a.prev{:href => "#prev"}
          %a.next{:href => "#next"}  

  #content_home.grid_22.prefix_1.suffix_1
    .ct
      #left-content.grid_16.alpha
        .ct
          #category VANTAGE VALUE 
          %h1 There's a confluence of art and reason behind each search we complete.
          %p
            Applying our proprietary approach is what guides us.  And mastering the art of building executive 
            teams is what stimulates us.  But closing searches that give our Clients a competitive edge is what
            drives every recruiter at Vantage Partners.
            %br/
            %br/
            We have completed over 850 retained executive searches for our global clientele in Consumer Internet, 
            Enterprise SaaS, Mobile/Wireless, and CleanTech. In primarily serving these four key tech sectors with trillions 
            in active revenue, our consultative and strategic approaches deliver real, tangible success for our Clients. 
            While our network continues to grow and thrive among top VC firms and the most innovative companies 
            in the world, we pride ourselves in knowing our direct impact yields impressive results for those we serve.
        #pie.grid_15.suffix_1{:style => "padding-left: 10px"}    
          #chart_1.chart.grid_5.alpha
          #chart_2.chart.grid_5
          #chart_3.chart.grid_5.omega
        .grid_14.prefix_1.suffix_1{:style => 'text-align: right;'}
          %img{:src => "images/bars.png", :alt => "bars"}
          %span.average AVERAGE TIME TO COMPLETE 79 DAYS
          %p.industry INDUSTRY AVERAGE 120 DAYS
      #right-content.grid_6.omega
        .divider-small
        #newsfeed
          .rss-icon
          %h1 newswire 
        .content-block
          .date
            00.00.00
            %span.date-divider
              |
          .author author
          %br/
          %h3
            Cornerstone OnDemand
            %br/
            President and CEO,
            %br/ 
            Adam Miller
            %br/
          .photo
            %img{:src => "images/sample_photo.png", :alt => "Newfeed", :width => 76,  :height => 73, :style => "padding: 5px 10px 0 0; float:left;"}
          .photo-credit Photo: Business Wire
          %p
            Here's a newspost that would
            %br/
            then spotlight an activity feed. Here is a newspost that would
            spotlight an activity post
            %br/
            This would be a feature story
            %br/
            and would most likely remain... 
            %br/
          .more
            %a{:title => "More details", :href => "/"} more
          .arrows
          .dots
        .content-block
          .date
            00.00.00
            %span.date-divider
              |
          .author author
          %h3
            This is a story Headline
          %p
            Here's a newspost that would
            %br/
            then spotlight an activity feed. Here is a newspost that would...
          .more
            %a{:title => "More details", :href => "/"} more
          .arrows
          .dots
        .content-block
          .date
            00.00.00
            %span.date-divider
              |
          .author author
          %h3 This is a story Headline
          %p
            Here's a newspost that would
            %br/
            then spotlight an activity feed. Here is a newspost that would...
          .more
            %a{:title => "More details", :href => "/"} more
          .arrows
          .dots
        #social-media
          %a.facebook{:href => "/"}
          %a.twitter{:href => "/"}
          .clear
        .social-media.grid_6
          %h4 subscribe to our social sites


:plain
  <script id="tvTemplate" type="text/x-jquery-tmpl">
    <dd>
      <div class="grid_15 alpha">
        <div class="grid_3 mini-shot alpha">
          <img src="../images/${april}" rel="april" alt="April's Story"/>
        </div>
        <div class="grid_3 mini-shot">
          <img src="../images/${tom}" rel="tom" alt="Tom's Story"/>
        </div>
        <div class="grid_3 mini-shot">
          <img src="../images/${may}" rel="may" alt="May's Story"/>
        </div>
        <div class="grid_3 mini-shot">
          <img src="../images/${mark}" rel="mark" alt="Mark's Story"/>
        </div>    
        <div class="grid_3 mini-shot omega">
          <img src="../images/${julie}" rel="julie" alt="Julie's Story"/>
        </div>
        <div class="grid_3 mini-shot alpha">
          <img src="../images/${gene}" rel="gene" alt="Gene's Story"/>
        </div>
        <div class="grid_3 mini-shot">
          <img src="../images/${audrey}" rel="audrey" alt="Audery's Story"/>
        </div> 
        <div class="grid_3 mini-shot">
          <img src="../images/${steve}" rel="steve" alt="Steve's Story"/>
        </div>
        <div class="grid_3 mini-shot">
          <img src="../images/${irene}" rel="irene" alt="Irene's Story"/>
        </div>
        <div class="grid_3 mini-shot omega">
          <img src="../images/${rich}" rel="rich" alt="Rich's Story"/>
        </div> 
        <div class="grid_11 alpha mini_logos">
          {{each logos}}
            <div class="grid_${grid}">
              <img src="../images/hp_smlogo_${image}.png" alt="${alt}"/>
            </div>
          {{/each}}
        </div>                    
        <div class="grid_4 omega">
          <div class="vantage_bio">
            <h1>${name}</h1>
            {{each jobs}}
              <p>${$value}</p>
            {{/each}}
          </div>
        </div>
      </div>
      <div class="grid_7 omega">
        <div class="close-button"></div>
        <img src="../images/${bigpic}" alt="${name}" width="270" height="335"/>
      </div>
    </dd>
  </script>
  <script id="brynneTemplate" type="text/x-jquery-tmpl">
    <dd>
      <div class="grid_15 alpha">
        <div class="grid_3 mini-shot alpha">
          <img src="../images/${april}" rel="april" alt="April's Story"/>
        </div>
        <div class="grid_3 mini-shot">
          <img src="../images/${tom}" rel="tom" alt="Tom's Story"/>
        </div>
        <div class="grid_3 mini-shot">
          <img src="../images/${may}" rel="may" alt="May's Story"/>
        </div>
        <div class="grid_3 mini-shot">
          <img src="../images/${mark}" rel="mark" alt="Mark's Story"/>
        </div>    
        <div class="grid_3 mini-shot omega">
          <img src="../images/${julie}" rel="julie" alt="Julie's Story"/>
        </div>
        <div class="grid_3 mini-shot alpha">
          <img src="../images/${gene}" rel="gene" alt="Gene's Story"/>
        </div>
        <div class="grid_3 mini-shot">
          <img src="../images/${audrey}" rel="audrey" alt="Audery's Story"/>
        </div> 
        <div class="grid_3 mini-shot">
          <img src="../images/${steve}" rel="steve" alt="Steve's Story"/>
        </div>
        <div class="grid_3 mini-shot">
          <img src="../images/${irene}" rel="irene" alt="Irene's Story"/>
        </div>
        <div class="grid_3 mini-shot omega">
          <img src="../images/${rich}" rel="rich" alt="Rich's Story"/>
        </div> 
        <div class="grid_9 alpha">
          <h1 class="meet">meet our team</h1>
        </div>
        <div class="grid_3">&nbsp;</div>
        <div class="grid_3 omega">
          <div class="vantage_bio">
            <h1>${name}</h1>
            {{each jobs}}
              <p>${$value}</p>
            {{/each}}
          </div>
        </div>
      </div>
      <div class="grid_7 omega">
        <div class="close-button"></div>
        <img src="../images/${bigpic}" alt="${name}" width="270" height="335"/>
      </div>
    </dd>
  </script>            