#slidedeck_total_container
  #slidedeck_frame.grid_22.prefix_1.suffix_1
    %dl#my_slidedeck.slidedeck
      %dd.grid_22
        %ul.slidesVertical
          %li
            %dl#team_vantage.slidedeck
              -# this is the slidedeck home or default slide #
              %dd
                .grid_18.alpha
                  .grid_3.mini-shot.alpha
                    %img{:src => "../images/mini-shot-april.png", :rel => "april", :alt => "April's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-tom.png", :rel=> "tom", :alt => "Tom's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-may.png", :rel => "may", :alt => "May's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-mark.png", :rel => "mark", :alt => "Mark's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-julie.png", :rel => "julie", :alt => "Julie's Story"}/
                  .grid_3.mini-shot.omega
                    %img{:src => "../images/mini-shot-rich.png", :rel => "rich", :alt => "Rich's Story"}/ 
                  .grid_3.mini-shot.alpha
                    %img{:src => "../images/mini-shot-gene.png", :rel => "gene", :alt => "Gene's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-audrey.png", :rel => "audrey", :alt => "Audrey's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-steve.png", :rel => "steve", :alt => "Steve's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-irene.png", :rel => "irene", :alt => "Irene's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-brynne.png", :rel => "brynne", :alt => "Brynne's Story"}/
                  .grid_3.mini-shot.omega
                    %img{:src => "../images/trust-mark.png", :alt => "Trust Mark"}/  
                .grid_4.color_block.omega
             
              -# April's Story
              %dd
                .grid_15.alpha
                  .grid_3.mini-shot.alpha
                    %img{:src => "../images/mini-shot-april.png", :rel => "april", :alt => "April's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-tom.png", :rel=> "tom", :alt => "Tom's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-may.png", :rel => "may", :alt => "May's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-mark.png", :rel => "mark", :alt => "Mark's Story"}/
                  .grid_3.mini-shot.omega
                    %img{:src => "../images/mini-shot-julie.png", :rel => "julie", :alt => "Julie's Story"}/
                  .grid_3.mini-shot.alpha
                    %img{:src => "../images/mini-shot-gene.png", :rel => "gene", :alt => "Gene's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-audrey.png", :rel => "audrey", :alt => "Audrey's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-steve.png", :rel => "steve", :alt => "Steve's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-irene.png", :rel => "irene", :alt => "Irene's Story"}/
                  .grid_3.mini-shot.omega
                    %img{:src => "../images/mini-shot-rich.png", :rel => "rich", :alt => "Rich's Story"}/ 
                  .grid_12.alpha
                    .grid_3.alpha
                      %img{:src => "../images/hp_smlogo_mindflash.png", :alt => "Mindflash!"}/
                    .grid_3
                      %img{:src => "../images/hp_smlogo_10gen.png", :alt => "10 Gen"}/
                    .grid_3
                      %img{:src => "../images/hp_smlogo_criteo.png", :alt => "Criteo"}/                    
                    .grid_3.omega
                      %img{:src => "../images/hp_smlogo_razoo.png", :alt => "Razoo"}/                    
                  .grid_3.omega
                    .vantage_bio
                      %h1 April B. King
                      %p Specializing in Software
                      %p Saas / Internet
                      %p Systems / CleanTech
                .grid_7.omega
                  %img{:src => "../images/April_HomePage_IMG_1472.png", :alt => "April B. King", :width => 270, :height => 335}    
                  
              -# Tom's Story
              %dd
                .grid_15.alpha
                  .grid_3.mini-shot.alpha
                    %img{:src => "../images/mini-shot-april.png", :rel => "april", :alt => "April's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-tom.png", :rel=> "tom", :alt => "Tom's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-may.png", :rel => "may", :alt => "May's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-mark.png", :rel => "mark", :alt => "Mark's Story"}/
                  .grid_3.mini-shot.omega
                    %img{:src => "../images/mini-shot-julie.png", :rel => "julie", :alt => "Julie's Story"}/
                  .grid_3.mini-shot.alpha
                    %img{:src => "../images/mini-shot-gene.png", :rel => "gene", :alt => "Gene's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-audrey.png", :rel => "audrey", :alt => "Audrey's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-steve.png", :rel => "steve", :alt => "Steve's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-irene.png", :rel => "irene", :alt => "Irene's Story"}/
                  .grid_3.mini-shot.omega
                    %img{:src => "../images/mini-shot-rich.png", :rel => "rich", :alt => "Rich's Story"}/
                  .grid_12.alpha
                    .grid_3.alpha
                      %img{:src => "../images/hp_smlogo_oracle.png", :alt => "Oracle"}/
                    .grid_3
                      %img{:src => "../images/hp_smlogo_merced.png", :alt => "Merced"}/
                    .grid_3
                      %img{:src => "../images/hp_smlogo_10gen.png", :alt => "10 Gen"}/                    
                    .grid_3.omega
                      %img{:src => "../images/hp_smlogo_betfair.png", :alt => "Betfair"}/                    
                  .grid_3.omega
                    .vantage_bio
                      %h1 Tom Callahan
                      %p Specializing in Infrastructure
                      %p Consumer Internet
                      %p Saas / Software
                .grid_7.omega
                  %img{:src => "../images/Tom_HomePage-IMG-284.png", :alt => "Tom Callahan", :width => 270, :height => 335}   
              
              -# May's Story
              %dd
                .grid_15.alpha
                  .grid_3.mini-shot.alpha
                    %img{:src => "../images/mini-shot-april.png", :rel => "april", :alt => "April's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-tom.png", :rel=> "tom", :alt => "Tom's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-may.png", :rel => "may", :alt => "May's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-mark.png", :rel => "mark", :alt => "Mark's Story"}/
                  .grid_3.mini-shot.omega
                    %img{:src => "../images/mini-shot-julie.png", :rel => "julie", :alt => "Julie's Story"}/
                  .grid_3.mini-shot.alpha
                    %img{:src => "../images/mini-shot-gene.png", :rel => "gene", :alt => "Gene's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-audrey.png", :rel => "audrey", :alt => "Audrey's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-steve.png", :rel => "steve", :alt => "Steve's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-irene.png", :rel => "irene", :alt => "Irene's Story"}/
                  .grid_3.mini-shot.omega
                    %img{:src => "../images/mini-shot-rich.png", :rel => "rich", :alt => "Rich's Story"}/
                  .grid_11.alpha
                    .grid_3.alpha
                      %img{:src => "../images/hp_smlogo_razoo.png", :alt => "Razoo"}/
                    .grid_3
                      %img{:src => "../images/hp_smlogo_tagged.png", :alt => "Tagged"}/
                    .grid_3
                      %img{:src => "../images/hp_smlogo_lynda.png", :alt => "Lynda"}/                    
                    .grid_2.omega
                      %img{:src => "../images/hp_smlogo_webroot.png", :alt => "Webroot"}/                    
                  .grid_4.omega
                    .vantage_bio
                      %h1 May Young
                      %p Specializing in Media
                      %p Interactive / Consumer Internet
                      %p Software
                .grid_7.omega
                  %img{:src => "../images/May_homepage_1581.png", :alt => "May Young", :width => 270, :height => 335}

              -# Mark's Story
              %dd
                .grid_15.alpha
                  .grid_3.mini-shot.alpha
                    %img{:src => "../images/mini-shot-april.png", :rel => "april", :alt => "April's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-tom.png", :rel=> "tom", :alt => "Tom's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-may.png", :rel => "may", :alt => "May's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-mark.png", :rel => "mark", :alt => "Mark's Story"}/
                  .grid_3.mini-shot.omega
                    %img{:src => "../images/mini-shot-julie.png", :rel => "julie", :alt => "Julie's Story"}/
                  .grid_3.mini-shot.alpha
                    %img{:src => "../images/mini-shot-gene.png", :rel => "gene", :alt => "Gene's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-audrey.png", :rel => "audrey", :alt => "Audrey's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-steve.png", :rel => "steve", :alt => "Steve's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-irene.png", :rel => "irene", :alt => "Irene's Story"}/
                  .grid_3.mini-shot.omega
                    %img{:src => "../images/mini-shot-rich.png", :rel => "rich", :alt => "Rich's Story"}/
                  .grid_11.alpha
                    .grid_2.alpha
                      %img{:src => "../images/hp_smlogo_zynga.png", :alt => "Zynga"}/
                    .grid_3
                      %img{:src => "../images/hp_smlogo_songkick.png", :alt => "Songkick"}/
                    .grid_3
                      %img{:src => "../images/hp_smlogo_tagged.png", :alt => "Tagged"}/                    
                    .grid_3.omega
                      %img{:src => "../images/hp_smlogo_turn.png", :alt => "Turn"}/                    
                  .grid_4.omega
                    .vantage_bio
                      %h1 Mark Hubbell
                      %p Specializing in Software
                      %p Internet Media / Interactive
                      %p Consumer Internet
                .grid_7.omega
                  %img{:src => "../images/Mark_PersonalPage_IMG-1858.png", :alt => "Mark Hubbell", :width => 270, :height => 335}
                     
              -# Julie's Story
              %dd
                .grid_15.alpha
                  .grid_3.mini-shot.alpha
                    %img{:src => "../images/mini-shot-april.png", :rel => "april", :alt => "April's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-tom.png", :rel=> "tom", :alt => "Tom's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-may.png", :rel => "may", :alt => "May's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-mark.png", :rel => "mark", :alt => "Mark's Story"}/
                  .grid_3.mini-shot.omega
                    %img{:src => "../images/mini-shot-julie.png", :rel => "julie", :alt => "Julie's Story"}/
                  .grid_3.mini-shot.alpha
                    %img{:src => "../images/mini-shot-gene.png", :rel => "gene", :alt => "Gene's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-audrey.png", :rel => "audrey", :alt => "Audrey's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-steve.png", :rel => "steve", :alt => "Steve's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-irene.png", :rel => "irene", :alt => "Irene's Story"}/
                  .grid_3.mini-shot.omega
                    %img{:src => "../images/mini-shot-rich.png", :rel => "rich", :alt => "Rich's Story"}/
                  .grid_12.alpha
                    .grid_3.alpha
                      %img{:src => "../images/hp_smlogo_zynga.png", :alt => "Zynga"}/
                    .grid_3
                      %img{:src => "../images/hp_smlogo_like.png", :alt => "Like"}/
                    .grid_3
                      %img{:src => "../images/hp_smlogo_adchemy.png", :alt => "Adchemy"}/                    
                    .grid_3.omega
                      %img{:src => "../images/hp_smlogo_topsy.png", :alt => "Topsy"}/                    
                  .grid_3.omega
                    .vantage_bio
                      %h1 Julie Locke
                      %p Specializing in Media
                      %p Interactive / Consumer
                      %p Internet Software
                .grid_7.omega
                  %img{:src => "../images/Julie_HomePage_IMG-0954.png", :alt => "Julie Locke", :width => 270, :height => 335} 
              
              -# Rich's Story
              %dd
                .grid_15.alpha
                  .grid_3.mini-shot.alpha
                    %img{:src => "../images/mini-shot-april.png", :rel => "april", :alt => "April's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-tom.png", :rel=> "tom", :alt => "Tom's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-may.png", :rel => "may", :alt => "May's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-mark.png", :rel => "mark", :alt => "Mark's Story"}/
                  .grid_3.mini-shot.omega
                    %img{:src => "../images/mini-shot-julie.png", :rel => "julie", :alt => "Julie's Story"}/
                  .grid_3.mini-shot.alpha
                    %img{:src => "../images/mini-shot-gene.png", :rel => "gene", :alt => "Gene's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-audrey.png", :rel => "audrey", :alt => "Audrey's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-steve.png", :rel => "steve", :alt => "Steve's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-irene.png", :rel => "irene", :alt => "Irene's Story"}/
                  .grid_3.mini-shot.omega
                    %img{:src => "../images/mini-shot-rich.png", :rel => "rich", :alt => "Rich's Story"}/
                  .grid_12.alpha
                    .grid_3.alpha
                      %img{:src => "../images/hp_smlogo_webroot.png", :alt => "Webroot"}/
                    .grid_3
                      %img{:src => "../images/hp_smlogo_ebates.png", :alt => "Ebates"}/
                    .grid_3
                      %img{:src => "../images/hp_smlogo_songkick.png", :alt => "Songkick"}/                    
                    .grid_3.omega
                      %img{:src => "../images/hp_smlogo_pubmatic.png", :alt => "Pubmatic"}/                    
                  .grid_3.omega
                    .vantage_bio
                      %h1 Richard Lear
                      %p Specializing in Media
                      %p Interactive / eCommerce
                      %p Saas Open Source
                .grid_7.omega
                  %img{:src => "../images/Rich_HomePage_IMG-1132.png", :alt => "Julie Locke", :width => 270, :height => 335}
              
              -# Gene's Story
              %dd
                .grid_15.alpha
                  .grid_3.mini-shot.alpha
                    %img{:src => "../images/mini-shot-april.png", :rel => "april", :alt => "April's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-tom.png", :rel=> "tom", :alt => "Tom's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-may.png", :rel => "may", :alt => "May's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-mark.png", :rel => "mark", :alt => "Mark's Story"}/
                  .grid_3.mini-shot.omega
                    %img{:src => "../images/mini-shot-julie.png", :rel => "julie", :alt => "Julie's Story"}/
                  .grid_3.mini-shot.alpha
                    %img{:src => "../images/mini-shot-gene.png", :rel => "gene", :alt => "Gene's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-audrey.png", :rel => "audrey", :alt => "Audrey's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-steve.png", :rel => "steve", :alt => "Steve's Story"}/
                  .grid_3.mini-shot
                    %img{:src => "../images/mini-shot-irene.png", :rel => "irene", :alt => "Irene's Story"}/
                  .grid_3.mini-shot.omega
                    %img{:src => "../images/mini-shot-rich.png", :rel => "rich", :alt => "Rich's Story"}/
                  .grid_12.alpha
                    .grid_3.alpha
                      %img{:src => "../images/hp_smlogo_markmonitor.png", :alt => "Mark Monitor"}/
                    .grid_3
                      %img{:src => "../images/hp_smlogo_razoo.png", :alt => "Razoo"}/
                    .grid_3
                      %img{:src => "../images/hp_smlogo_yahoo.png", :alt => "Yahoo"}/                    
                    .grid_3.omega
                      %img{:src => "../images/hp_smlogo_marklogic.png", :alt => "Mark Logic"}/                    
                  .grid_3.omega
                    .vantage_bio
                      %h1 Gene Zaccor
                      %p Specializing in Internet
                      %p Software / Cleantech
                .grid_7.omega
                  %img{:src => "../images/Gene_HomePg_IMG-1823.png", :alt => "Julie Locke", :width => 270, :height => 335}
          
          
          %li
            %dl#team_mission.slidedeck{:style => "height: 335px; position: relative; overflow: hidden;"}
              %dd.slide.slide_14{:style => "position: absolute; left: 0px; z-index:1; height:328px; width:870px; margin:0px; padding: 0px; display: block; overflow: hidden;"}
                .inner_mission_nav
                  %a.prev{:href => "#1"} prev
                  %a.next{:href => "#1"} next
              %dd.slide.slide_15{:style => "position: absolute; left: 0px; z-index:1; height:328px; width:870px; margin:0px; padding: 0px; display: block; overflow: hidden;"}
                .inner_mission_nav         
                  %a.prev{:href => "#2"} prev
                  %a.next{:href => "#2"} next
              %dd.slide.slide_16{:style => "position: absolute; left: 0px; z-index:1; height:328px; width:870px; margin:0px; padding: 0px; display: block; overflow: hidden;"}
                .inner_mission_nav
                  %a.prev{:href => "#3"} prev
                  %a.next{:href => "#3"} next
          %li
            %img{:src => 'images/VantageCatalyst.png', :height => 335} 
          %li
            %img{:src => 'images/ThoughtLeadership.png', :height => 335} 
      %dt Slide 2
      %dd Slide Content
      %dt Slide 3
      %dd Slide Content
  #outer-slidedeck_nav.grid_22.prefix_1.suffix_1
    .divider.grid_22
    .grid_22{:style => 'margin:0;background-color:#fff;'}
      #mission.grid_7
        %h1 wisdom deployed optimally
        %h2 Insightful Consultative Approach to Executive Search
      %ul
        %li
          %a.vertical_menu.nav-bottom-vantage{:href => "#1"} The Vantage Team
        %li
          %a.vertical_menu.nav-bottom-mission{:href => "#2"} Our Mission
        %li
          %a.vertical_menu.nav-bottom-catalyst{:href => "#3"} Vantage Catalysts
        %li
          %a.vertical_menu.nav-bottom-leadership{:href => "#4"} Thought Leadership
        %li.right
          %a.prev{:href => "#prev"}
          %a.next{:href => "#next"}  

#content_home
  #content.grid_22.prefix_1.suffix_1.alpha.omega
    %img{:src => 'images/content-home-placeholder.png', :alt => 'temporary image'}/

