<% @title = "SUDOKU SENSATION" %>
  <div id="main" role="main" class="container_24">
    <div id="iphone-1"></div>
    <div id="iphone-2"></div>
    <div id="iphone-3"></div>
    
    <div id="left-area-big" class="grid_15 alpha omega">
      <div class="top-image-sensational"></div> 
    </div>
    <div id="right-area" class="grid_9 alpha omega">
      <div class="icon suffix_1 prefix_1"></div>
      <div id="logo" class="grid_8 alpha omega">
        <div class="commonboxes-sudoku-color-a" ><img border="0" src="./images/s.png" alt="s" width="28" height="34" style="padding-left: 3px" /></div>
        <div class="commonboxes-sudoku-color-b" ><img border="0" src="./images/u.png" alt="u" width="28" height="34" style="padding-left: 3px" /></div>
        <div class="commonboxes-sudoku-color-a" ><img border="0" src="./images/d.png" alt="d" width="28" height="34" style="padding-left: 3px" /></div>
        <div class="commonboxes-sudoku-color-b" ><img border="0" src="./images/o.png" alt="o" width="32" height="35" style="padding-left: 2px" /></div>
        <div class="commonboxes-sudoku-color-a" ><img border="0" src="./images/k.png" alt="k" width="28" height="34" style="padding-left: 3px" /></div>
        <div class="commonboxes-sudoku-color-b" ><img border="0" src="./images/u.png" alt="u" width="28" height="34" style="padding-left: 3px" /></div>
      </div>
      <div class="swirly grid_9 alpha omega"></div>
      <div id="logo-type-top" class="grid_7 alpha omega"><img border="0" src="./images/sensation-logo.png" alt="/"height="30px"></div>
      <div class="details grid_7"><img border="0" src="./images/accent_bugs.png" alt="/"height="20px"></div>
      <div class="grid_9 alpha omega">
        <h3>WORLD CLASS FEATURES</h3>        
      <div id="rotator">
        <div id="block-1" class="active">
          <h2>Facebook Fun</h2>
          <div>
            <h1>Invite your Friends to play on Facebook</h1>
            <p>Want to play a challenging game with your friends and neighbors? Invite them to play on Facebook! Whether it's a challenging time-oriented game or a cooperative one,
               Sudoku Sensation allows you to ping your buddies for a fun match easily, then posts your results on the OpenFeint Leader Board. Who knows, you might get a challenger interested!</p>
          </div>
        </div>

        <div id="block-2" class="non-active-top">
          <h2>Sensational Features</h2>
          <div>
            <h1>Inspired by a foregone era fascinated by curios and wonders offered only by nature </h1>
            <p> Designed to stay challenging but always fun, Sudoku Sensation is loaded with over 100+ high quality puzzles, plus you can<br /> 
                load your favorites from newspapers or game books. Quell that obsession to solve a puzzle with an easy to use multi-touch interface, great animations and a feature rich help menu that makes playing irresistible. 
            </p>
          </div>			
        </div>

        <div id="block-3" class="non-active-bottom">
          <h2>Lush Interface</h2>
          <div>
            <h1>A treasure trove of meticulous hand-drawn illustrations and patterns designed to delight  </h1>
            <p>Subtle elegant hues and deep rich patterns are what makes Sudoku Sensation so fabulously different and eye-catching. Developed with hand-drawn high quality graphics,
               you can enjoy a game that heralds the lore of high craftsmanship with crisp and clever delivery from your iPhone and iPad. Discover nature again and again each time you solve a new puzzle! 
              </p>
          </div>
        </div>
      </div>
      <div class="grid-6" style="margin: 20px 0 0 20px; height: 170px;"></div>                         
      <div class="grid_6">
        <img border="0" src="./images/frog.png" alt="o" width="95" height="72" style="padding-bottom: 10px" />
      </div>
      <div class="legal grid_9">
        WE ABHOR SPAM - YOUR NAME WILL NOT BE SOLD <br/>
        TO ANY THIRD PARTIES OF SPAM-MONSTERS!
      </div>
      <div class="bottom-image grid_9"></div>
    </div>
  </div>
  
  <div id="sphere-area-five">
      <img src="images/butterfly-seven.png" alt="butterfly-seven" id="butterfly-seven" />
    </div>
    <div id="sphere-area-six">   
      <img src="images/butterfly-eight.png" id="butterfly-eight" alt="" />
    </div>
    <div id="sphere-area-seven">   
      <img src="images/butterfly-nine.png" id="butterfly-nine" alt="" />
  </div>
  
 </div>
</div>