<% @title = "SENSATIONAL FEATURES" %>
  <div id="sensational" role="main" class="container_24">
    <div id="sensational-ipad"></div>
    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <img src="images/frenchgarden-0.png" alt="">
          <div class="carousel-caption"></div>
        </div>
        <div class="item">
          <img src="images/frenchgarden-1.png" alt="">
          <div class="carousel-caption"></div>
        </div>
        <div class="item">
          <img src="images/frenchgarden-2.png" alt="">
          <div class="carousel-caption"></div>
        </div>
        <div class="item">
          <img src="images/frenchgarden-3.png" alt="">
          <div class="carousel-caption"></div>
        </div>
        <div class="item">
          <img src="images/graphicgarden-0.png" alt="">
          <div class="carousel-caption"></div>
        </div>
        <div class="item">
          <img src="images/graphicgarden-1.png" alt="">
          <div class="carousel-caption"></div>
        </div>
        <div class="item">
          <img src="images/graphicgarden-2.png" alt="">
          <div class="carousel-caption"></div>
        </div>
        <div class="item">
          <img src="images/graphicgarden-3.png" alt="">
          <div class="carousel-caption"></div>
        </div>
        <div class="item">
          <img src="images/midnightgarden-0.png" alt="">
          <div class="carousel-caption"></div>
        </div>
        <div class="item">
          <img src="images/midnightgarden-1.png" alt="">
          <div class="carousel-caption"></div>
        </div>
        <div class="item">
          <img src="images/midnightgarden-2.png" alt="">
          <div class="carousel-caption"></div>
        </div>
        <div class="item">
          <img src="images/midnightgarden-3.png" alt="">
          <div class="carousel-caption"></div>
        </div>
        <div class="item">
          <img src="images/wildgarden-0.png" alt="">
          <div class="carousel-caption"></div>
        </div>
        <div class="item">
          <img src="images/wildgarden-1.png" alt="">
          <div class="carousel-caption"></div>
        </div>
        <div class="item">
          <img src="images/wildgarden-2.png" alt="">
          <div class="carousel-caption"></div>
        </div>
        <div class="item">
          <img src="images/wildgarden-3.png" alt="">
          <div class="carousel-caption"></div>
        </div>
      </div> <!-- /end carousel-inner -->
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
    </div> <!-- /end myCarousel carousel slide   -->
    
    <div id="iphone-1"></div>
    
    <div id="left-area" class="grid_15 alpha omega">   
      <div class="top-image"></div>
    </div>
    <div id="right-area-sensation" class="grid_8 alpha omega">
      <div class="icon suffix_1 prefix_1"></div>
      <div id="logo" class="grid_8 alpha omega">
        <div class="commonboxes-sudoku-color-a" >
          <img src="./images/s.png" alt="s" width="21" height="21" style="padding-left: 3px" />
        </div>
        <div class="commonboxes-sudoku-color-b" >
          <img src="./images/u.png" alt="u" width="21" height="21" style="padding-left: 3px" />
        </div>
        <div class="commonboxes-sudoku-color-a" >
          <img src="./images/d.png" alt="d" width="21" height="21" style="padding-left: 3px" />
        </div>
        <div class="commonboxes-sudoku-color-b" >
          <img src="./images/o.png" alt="o" width="25" height="21" style="padding-left: 2px" />
        </div>
        <div class="commonboxes-sudoku-color-a" >
          <img src="./images/k.png" alt="k" width="21" height="21" style="padding-left: 3px" />
        </div>
        <div class="commonboxes-sudoku-color-b" >
          <img src="./images/u.png" alt="u" width="21" height="21" style="padding-left: 3px" />
        </div>
      </div> <!-- /end logo grid_8 alpha omega -->
      <div id="logo-type-top" class="grid_8 alpha omega"></div>
      <div class="grid_8 alpha omega">
        <h3>WORLD CLASS FEATURES</h3>        
        <div class="rotator">
          <div id="block-1" class="active">
            <h2>Facebook Fun</h2>
            <div>
              <h1>Invite your Friends to Play on Facebook</h1>
              <p>Want to play a challenging game with your friends and neighbors? <br> 
                Invite them to play on Facebook! Sudoku Sensation allows you to ping <br>
                your buddies for a fun match. Who knows, you might get a challenger interested!
              </p>
            </div>
          </div> <!-- /end block-1 .active  -->

          <div id="block-2" class="non-active-top">
            <h2>Sensational Features</h2>
            <div>
              <h1>Inspired by a Foregone Era and Wonders offered by Nature </h1>
              <p> Designed to stay challenging but always fun, Sudoku Sensation is loaded with <br> over 100+ high quality puzzles.
                A multi-touch interface, great animations and <br> feature-rich help menu, that makes playing irresistible.<br>
              </p>
            </div>
          </div> <!-- /end block-2 .non-active-top  -->

          <div id="block-3" class="non-active-bottom">
            <h2>Lush Interface</h2>
            <div>
              <h1>A Treasure Trove of Illustrations Designed to Delight</h1>
              <p>Fabulous themes are what makes Sudoku Sensation so sensational!<br>
                 Developed with hand-drawn illustrations delivered right to your iPhone or iPad.<br> 
                 Discover nature again and again, each time you solve a new puzzle! 
              </p>
            </div>
          </div> <!-- /end block-3 .non-active-bottom -->    
        </div> <!-- /end rotator -->
        
        <div class="grid-6" style="margin: 10px 0px 0px 0px; height: 90px; padding: 30px 0 20px 0px;"></div>                         
        <div class="grid_8 alpha omega">
          <div class="grid_2 suffix_1 left">
            <a href="http://www.facebook.com/SudokuSensation">
              <img class="facebook" alt="facebook" rel="tootip" data-original-title="Play with your Friends on Facebook" />
            </a>
          </div> <!-- /end grid_2  -->
          <div class="grid_2 left">  
            <img src="./images/frog.png" alt="little frog" width="70" height="72" style="padding: 0px; margin-left: -10px;">        
          </div>
          <div class="grid_2 left">
            <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-count="vertical">Tweet</a>
            <script>
            !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
            </script>
          </div>
        </div> <!-- /end grid_8 alpha omega -->
        <div class="legal grid_8">
          WE ABHOR SPAM - YOUR NAME WILL NOT BE SOLD <br/>
          TO ANY THIRD PARTIES OF SPAM-MONSTERS!
        </div> <!-- /end legal grid_8  -->
        <div class="bottom-image grid_8"></div>
      </div> <!-- /end grid_8 alpha omega -->
    </div> <!-- /end right-area grid_8 alpha omega     -->
  </div> <!-- /end sensational container_24  -->
