<% @title = "SUDOKU SENSATION" %>
  <div id="main" role="main" class="container_24">
    <div id="iphone-1"></div>
    <div id="iphone-2"></div>
    <div id="iphone-3"></div>
    
    <div id="left-area-big" class="grid_15 alpha omega">
      <div class="top-image-sensational"></div> 
    </div>
    <div id="right-area" class="grid_9 alpha omega">
      <div class="icon suffix_1 prefix_1"></div>
      <div id="logo" class="grid_8 alpha omega">
        <div class="commonboxes-sudoku-color-a" ><img border="0" src="./images/s.png" alt="s" width="28" height="34" style="padding-left: 3px" /></div>
        <div class="commonboxes-sudoku-color-b" ><img border="0" src="./images/u.png" alt="u" width="28" height="34" style="padding-left: 3px" /></div>
        <div class="commonboxes-sudoku-color-a" ><img border="0" src="./images/d.png" alt="d" width="28" height="34" style="padding-left: 3px" /></div>
        <div class="commonboxes-sudoku-color-b" ><img border="0" src="./images/o.png" alt="o" width="32" height="35" style="padding-left: 2px" /></div>
        <div class="commonboxes-sudoku-color-a" ><img border="0" src="./images/k.png" alt="k" width="28" height="34" style="padding-left: 3px" /></div>
        <div class="commonboxes-sudoku-color-b" ><img border="0" src="./images/u.png" alt="u" width="28" height="34" style="padding-left: 3px" /></div>
      </div>
      <div class="swirly grid_9 alpha omega"></div>
      <div id="logo-type-top" class="grid_7 alpha omega"><img border="0" src="./images/sensation-logo.png" alt="/"height="30px"></div>
      <div class="details grid_7"><img border="0" src="./images/accent_bugs.png" alt="/"height="20px"></div>
      <div class="grid_9 alpha omega">
        <h3>WORLD CLASS FEATURES</h3>        
      <div id="rotator">
        <div id="block-1" class="active">
          <h2>Facebook Fun</h2>
          <div>
            <h1>Invite your Facebook Friends to Play</h1>
            <p>Commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
          </div>
        </div>

        <div id="block-2" class="non-active-top">
          <h2>Wonderful Features</h2>
          <div>
            <h1>The Plug about the Features, Levels, Intuitive Interface </h1>
            <p>Ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
          </div>			
        </div>

        <div id="block-3" class="non-active-bottom">
          <h2>Lush Interface</h2>
          <div>
            <h1>The plug about the Graphical Look & Feel</h1>
            <p>Commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
          </div>
        </div>
      </div>
      <div class="grid-6" style="margin: 20px 0 0 20px; height: 170px;"></div>                         
      <div class="grid_6">
        <img border="0" src="./images/frog.png" alt="o" width="95" height="72" style="padding-bottom: 10px" />
      </div>
      <div class="legal grid_9">
        WE ABHOR SPAM - YOUR NAME WILL NOT BE SOLD <br/>
        TO ANY THIRD PARTIES OF SPAM-MONSTERS!
      </div>
      <div class="bottom-image grid_9"></div>
    </div>
  </div>
  
  <div id="sphere-area-five">
      <img src="images/butterfly-seven.png" alt="butterfly-seven" id="butterfly-seven" />
    </div>
    <div id="sphere-area-six">   
      <img src="images/butterfly-eight.png" id="butterfly-eight" alt="" />
    </div>
    <div id="sphere-area-seven">   
      <img src="images/butterfly-nine.png" id="butterfly-nine" alt="" />
  </div>
  
 </div>
</div>