#top_container
  .ct 
    #transparent
    #bio
      %h1 Richard A. Lear
      %p  “Rich is a search leader with a unique combination of the highly intuitive and analytical. He’s credible, compelling and hard-charging about search execution and driving results for our clients.” 
      %h2 
        – a perspective from Audrey,
        %br/
        a Vantage colleague
  .divider
  
#biography-content
  #heading
    %h2 MEET THE TEAM  / RICHARD A. LEAR
  .ct  
    #left-content
      .ct
        #partner
          <img src='images/rich_partner.png'/>
        #partner-tag
          %h3 Richard Lear
          %h4 Chairman and Managing Director
        .clear  
        #icons
          #mail
          #direct
          #fax
          %a{:href => "http://www.linkedin.com/in/richardlear"}
            #linkedin
          -# 
            %a{:href => "/"}
              #tweet
            %a{:href => "/"}
              #podcast 
        #info
          %h2
            %a{:href => "mailto:rich@vantagepartners.net"} rich@vantagepartners.net
          %h2 Direct: (650) 579-7300, ext 108
          %h2 Fax: (650) 590-7470
          %h2
            %a{:title => "/", :href => "http://www.linkedin.com/in/richardlear"} Rich On LinkedIn
          -# 
            %h2
              %a{:title => "/", :href => "/"} Rich's Tweets
            %h2
              %a{:title => "/", :href => "/"} Rich's Podcasts 
      .bio-info
        %p Rich has completed more than 300 executive searches across the executive team of early stage companies. Presently, he is focused on digital media, interactive media, eCommerce, SaaS, Open Source and consumer technology.  
        %p Previously, Rich led major relationships with market-leading companies such as Microsoft, Warner Bros, RealNetworks, AOL, Zone Labs and Verisign. In 1999-2000, Rich was founder and CEO of RichMedia Networks, which developed media-based, customer lifecycle management (CLM) solutions.  
        %p He was the founding partner at Lear, Herrerias & Lee and Senior Associate at the Stratford Group. 
        %p Rich graduated Magna Cum Laude from Brown University, where he received his bachelor’s with honors in Economics.
    #right-content-bio
      %a{:href=>'/teams',:title=>'Back'} BACK TO TEAMS
      %br/
      %br/
      %a{:href=>'/tom',:title=>'Meet Tom'} Tom Callahan
      %br/
      %a{:href=>'/mark',:title=>'Meek Mark'} Mark Hubbell
      %br/
      %a{:href=>'/april',:title=>'Meet April'} April King
      %br/
      %a{:href=>'/rich',:title=>'Meet Rich'} 
        %span.orange Rich Lear
      %br/
      %a{:href=>'/julie',:title=>'Meet Julie'} Julie Locke
      %br/
      %a{:href=>'/irene',:title=>'Meet Irene'} Irene Murphy
      %br/
      %a{:href=>'/steve',:title=>'Meet Steve'} Steve O'Deegan
      %br/
      %a{:href=>'/audrey',:title=>'Meet Audrey'} Audrey Shuster
      %br/
      %a{:href=>'/may',:title=>'Meet May'} May Young
      %br/
      %a{:href=>'/gene',:title=>'Meet Gene'} Gene Zaccor
      %br/

#domain-review
  .domain-review
    #domain-background
      #domain
        .domain-ct
          %h1 DOMAIN FOCUS:
          %br/
          %h2
            Enterprise / SaaS
            %br/ 
            Consumer / Internet
            %br/ 
            Mobile / Wireless
            %br/
            %br/
          / #reviews
          /   %h2 REVIEWS
          /   %p
          /     "This is where testimonials will go.
          /     %br/ 
          /     and this is where the copy will sit.”
          /   %h2 Name, Sector, Company   
      #recent
        .recent-ct
          %h1 RECENT SEARCHES:
          %br/
          %h2 • President, Criteo 
          %h3
            Online Advertising
            %br/
            (Index Ventures, Bessemer)
          %h2 • GM – US, Songkick
          %h3
            Consumer Internet, Music Portal
            %br/
            (Index Ventures)
            %br/
          %h2 • SVP, Global Online, Webroot 
          %h3
            B2C and B2B Security Solutions
            %br/
            (Accel Partners, Mayfield, Technology Crossover Ventures)
            %br/
          %h2 • VP Online Marketing, Total Defense 
          %h3
            B2C and B2B Security solutions
            %br/
            (Spin-off from Computer Associates)
            %br/
          %h2 • VP Online and VP Business Development, Betfair USA  
          %h3
            Online Gaming
            %br/
            (FTSE: BET)
  
#bottom-content
  .container
    #slideToggle
      .more more searches >
    .slideTogglebox{:style => "display:none"}
      %table#archives
        %thead
          %tr.orange 
            %th{:colspan => 3} Role
            %th{:colspan => 3} Client
            %th{:colspan => 3} Sector
        %tbody
        
      #clickme
        .close close x

:plain
  <script id="archiveTemplate" type="text/x-jquery-tmpl">
    <tr class="stripe">
      <td class="info" colspan="3">${position}</td>
      <td class="info" colspan="3">${company}</td>
      <td class="info" colspan="3">${sector}</td>
    </tr>
  </script>
