#top_container
  .ct 
    #transparent
    #bio
      %h1 Irene Murphy
      %p “Irene is extremely diligent and highly driven --  a master at execution who consistently draws a pipeline of high-quality candidates out of the gate.”
      %h2 
        – a perspective from May,
        %br/
        a Vantage colleague
  .divider
  
#biography-content
  #heading
    %h2 MEET THE TEAM  / IRENE MURPHY
  .ct  
    #left-content
      .ct
        #partner
          <img src='images/irene_partner.png'/>            
        #partner-tag
          %h3 Irene Murphy
          %h4 Managing Director
        .clear  
        #icons
          #mail
          #direct
          #fax
          %a{:href => "http://www.linkedin.com/in/irenemurphy"}
            #linkedin
          -#    
            %a{:href => "/"}
              #tweet
            %a{:href => "/"}
              #podcast  
        #info
          %h2
            %a{:href => "mailto:irene@vantagepartners.net"} irene@vantagepartners.net
          %h2 Direct: (650) 579-7300, ext 109
          %h2 Fax: (650) 590-7470
          %h2
            %a{:title => "/", :href => "http://www.linkedin.com/in/irenemurphy"} Irene On LinkedIn
          -#     
            %h2
              %a{:title => "/", :href => "/"} Irene's Tweets
            %h2
              %a{:title => "/", :href => "/"} Irene's Podcasts 
      .bio-info
        %p Irene Murphy brings more than 20 years of successful recruiting in the retained executive search business.  Prior to joining Vantage Partners, she was the founder of Prism Associates, running a very successful search firm.  Previously, Irene held the position of Director at the BridgeGate Group, she more than doubled practice revenues within one year of her promotion to Director and received the “Most Valuable Player” award for ten consecutive years.  This award was in recognition of her number one firm-wide ranking in both revenue production and outstanding client satisfaction. 
        %p She has conducted more than 300 executive searches during her career to include C level executives, GM, and VP roles in enterprise software, SaaS, internet, and e-commerce clients. She has worked closely with top Venture Capital firms such as Draper Fisher Jurvetson, Bay Partners, Bessemer Ventures, Sutter Hill Ventures, Walden International, and Mohr Davidow, as well as private investors and public companies.  Some of her clients include CornerstoneOnDemand, CourseSmart, Ingres, IPInfusion, and Streetline Networks.
        %p Irene is a well-respected recruiter in Silicon Valley and has a strong network of talented leaders in the technology sector. She is a consultative leader who is able to work hand in hand with her clients to identify and hire top executives who can add value their companies.   
        %p Irene holds a degree in Political Science from the University of California at Berkeley.
    #right-content-bio
      %a{:href=>'/teams',:title=>'Back'} BACK TO TEAMS
      %br/
      %br/
      %a{:href=>'/tom',:title=>'Meet Tom'} Tom Callahan
      %br/
      %a{:href=>'/mark',:title=>'Meek Mark'} Mark Hubbell
      %br/
      %a{:href=>'/april',:title=>'Meet April'} April King
      %br/
      %a{:href=>'/rich',:title=>'Meet Rich'} Rich Lear
      %br/
      %a{:href=>'/julie',:title=>'Meet Julie'} Julie Locke
      %br/
      %a{:href=>'/irene',:title=>'Meet Irene'} 
        %span.orange Irene Murphy
      %br/
      %a{:href=>'/steve',:title=>'Meet Steve'} Steve O'Deegan
      %br/
      %a{:href=>'/audrey',:title=>'Meet Audrey'} Audrey Shuster
      %br/
      %a{:href=>'/may',:title=>'Meet May'} May Young
      %br/
      %a{:href=>'/gene',:title=>'Meet Gene'} Gene Zaccor
      %br/

#domain-review
  .domain-review
    #domain-background
      #domain
        .domain-ct
          %h1 DOMAIN FOCUS:
          %br/
          %h2
            Enterprise / SaaS
            %br/ 
            Consumer / Internet
            %br/ 
            Mobile / Wireless
            %br/
            %br/
          #reviews
            %h2 REVIEWS
            %p
              “Irene did a fantastic job of understanding the needs of our company, the requirements of our team, and she was very successful in bringing us a great panel of candidates to evaluate.
              %br/ 
              We hired an outstanding candidate with superb qualifications.  I would be pleased to work with Irene again.”
            %h2 David Thompson, Co-Founder & CEO, Genius.com
      #recent
        .recent-ct
          %h1 RECENT SEARCHES:
          %br/
          %h2 • SVP Sales, Streetline Networks 
          %h3
            New Sensing Technology for City Infrastructure / Clean-Tech Solution
            %br/
            (Sutter Hill Ventures)
          %h2 • SVP Business Development, CourseSmart 
          %h3
            eTexbooks
            %br/
            (Joint Venture)
            %br/
          %h2 • VP Global Sales and Business Development, IP Infusion 
          %h3
            Next Generation Mobile Infrastructure Software 
            %br/
            (Wholly owned subsidiary of Access Co., LTD of Japan)
            %br/
          %h2 • VP Sales, Cornerstone On-Demand 
          %h3
            SaaS Talent Management Solutions 
            %br/
            (Bessemer Venture Partners, Bay Partners)
            %br/
          %h2 • VP Marketing, 10Gen 
          %h3
            MongoDB; Document-Oriented Database
            %br/
            (Sequoia Capital, Flybridge Capital, Union Square Ventures)
  
#bottom-content
  .container
    #slideToggle
      .more more searches >
    .slideTogglebox{:style => "display:none"}
      %table#archives
        %thead
          %tr.orange 
            %th{:colspan => 3} Role
            %th{:colspan => 3} Client
            %th{:colspan => 3} Sector
        %tbody
        
      #clickme
        .close close x

:plain
  <script id="archiveTemplate" type="text/x-jquery-tmpl">
    <tr class="stripe">
      <td class="info" colspan="3">${position}</td>
      <td class="info" colspan="3">${company}</td>
      <td class="info" colspan="3">${sector}</td>
    </tr>
  </script>
