#top_container
  .ct 
    #transparent
    #bio
      %h1 Steve O'Deegan
      %p “Steve’s strategic and creative disposition allows him to be a role model for other experienced search professionals. Expect to learn something anytime you interact with him.” 
      %h2 
        – a perspective from Tom,
        %br/
        a Vantage colleague
  .divider
  
#biography-content
  #heading
    %h2 MEET THE TEAM  / STEVE O'DEEGAN
  .ct  
    #left-content
      .ct
        #partner
          <img src='images/steve_partner.png'/>
        #partner-tag
          %h3 Steve O'Deegan
          %h4 Managing Director
        .clear  
        #icons
          #mail
          #direct
          #fax
          %a{:href => "http://www.linkedin.com/in/sodeegan"}
            #linkedin
          -#
            %a{:href => "/"}
              #tweet
            %a{:href => "/"}
              #podcast
        #info
          %h2
            %a{:href => "mailto:steve@vantagepartners.net"} steve@vantagepartners.net
          %h2 Direct: (650) 579-7300, ext 107
          %h2 Fax: (650) 590-7470
          %h2
            %a{:title => "/", :href => "http://www.linkedin.com/in/sodeegan"} Steve On LinkedIn
          -#
            %h2
              %a{:title => "/", :href => "/"} Steve's Tweets
            %h2
              %a{:title => "/", :href => "/"} Steve's Podcasts
      .bio-info
        %p Steve O’Deegan joined Vantage Partners in 2010.   His background combines 16 years in executive search and recent start-up operating experience.  He has started a search firm from scratch (Celerity), served as a Managing Partner of two other firms (Laurel Group, Austin McGregor) and was a key Principal at leading search firms Howard Fischer and Quest Search Associates.  Prior to Vantage Partners, Steve was VP Sales and Marketing of Web 2.0 start-up Fastpencil (ebook self-publishing industry).  Prior to his search career, Steve was a Corporal in the U.S. Army (25th I.D./Ranger) and certified athletic trainer. 
        %p Steve's own entrepreneurial experience within the SaaS sector, coupled with his extensive search work with early-stage companies, has shaped Steve's appreciation for the many challenges a young company faces during its maturation process. Steve focuses on three key areas of the market that are rapidly coming together – SaaS / Cloud, Mobile and Consumer / Internet (all things Social).   His clients have included Boomi (acquired by Dell), SpringCM, Host Analytics, Helpstream (acquired by Innotas), Daptiv, Xensource (acquired by Citrix), Splunk, Get Satisfaction, Oracle, Inigral, and Medpedia, among many others.  
        %p 
          Steve’s recent writings: 
          %br/ 
          "Thought Leaders of the SaaS Revolution"
          %br/
          (Whitepaper) 
          %br/ 
          "Living in the Cloud, Meanings, Myths and Opportunities" (Whitepaper)
        
    #right-content-bio
      %a{:href=>'/teams',:title=>'Back'} BACK TO TEAMS
      %br/
      %br/
      %a{:href=>'/tom',:title=>'Meet Tom'} Tom Callahan
      %br/
      %a{:href=>'/mark',:title=>'Meek Mark'} Mark Hubbell
      %br/
      %a{:href=>'/april',:title=>'Meet April'} April King
      %br/
      %a{:href=>'/rich',:title=>'Meet Rich'} Rich Lear
      %br/
      %a{:href=>'/julie',:title=>'Meet Julie'} Julie Locke
      %br/
      %a{:href=>'/irene',:title=>'Meet Irene'} Irene Murphy
      %br/
      %a{:href=>'/steve',:title=>'Meet Steve'} 
        %span.orange Steve O'Deegan
      %br/
      %a{:href=>'/audrey',:title=>'Meet Audrey'} Audrey Shuster
      %br/
      %a{:href=>'/may',:title=>'Meet May'} May Young
      %br/
      %a{:href=>'/gene',:title=>'Meet Gene'} Gene Zaccor
      %br/

#domain-review
  .domain-review
    #domain-background
      #domain
        .domain-ct
          %h1 DOMAIN FOCUS:
          %h2
            Enterprise / SaaS
            %br/ 
            Consumer / Internet
            %br/ 
            Mobile / Wireless
            %br/
          #reviews
            %h2 REVIEWS
            %p
              “I’ve engaged with Steve on multiple searches over several years—both as a candidate and as a client.  His professionalism, tenacity, attention to detail, and work ethic are unmatched.   
              %br/ 
              Steve (Vantage) has delivered great candidates and results every single time.”
            %h2 
              Tony Nemelka, 
              %br/
              (former) CEO, Helpstream
      #recent
        .recent-ct
          %h1 RECENT SEARCHES:
          %br/
          %h2 • CEO, Inigral
          %h3
            Schools on Facebook
            %br/
            (Retro Ventures, Founders Fund, Gates Foundation)
          %h2 • Chief Product Officer, Get Satisfaction
          %h3
            Social Community Software
            %br/
            (InterWest, Azure Capital, OATV and First Round Capital)
            %br/
          %h2 • SVP (GM) Enterprise 2.0, Oracle 
          %h3
            Database and Enterprise Orientated Technologies and Software
            %br/
            (Nasdaq: ORCL)
            %br/
          %h2 • VP Marketing and VP Business Development, Splunk 
          %h3
            Operational Intelligence Software
            %br/
            (Ignition Partners, August Capital, Seven Rosen, JK&B)
            %br/
  
#bottom-content
  .container
    #slideToggle
      .more more searches >
    .slideTogglebox{:style => "display:none"}
      %table#archives
        %thead
          %tr.orange 
            %th{:colspan => 3} Role
            %th{:colspan => 3} Client
            %th{:colspan => 3} Sector
        %tbody
        
      #clickme
        .close close x

:plain
  <script id="archiveTemplate" type="text/x-jquery-tmpl">
    <tr class="stripe">
      <td class="info" colspan="3">${position}</td>
      <td class="info" colspan="3">${company}</td>
      <td class="info" colspan="3">${sector}</td>
    </tr>
  </script>
