/* line 17, /Users/annamendoza/.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, /Users/annamendoza/.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, /Users/annamendoza/.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, /Users/annamendoza/.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, /Users/annamendoza/.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, /Users/annamendoza/.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, /Users/annamendoza/.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, /Users/annamendoza/.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, /Users/annamendoza/.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* $ninesixty-gutter-width: 20px !default */
/* $ninesixty-grid-width: 960px !default */
/* $ninesixty-columns: 12 !default */
/* $ninesixty-class-separator: "_" !default */
@font-face {
  font-family: "Neue Helvetica";
  src: url('../fonts/HelveticaNeueLTW1G-Md.otf') format('opentype');
}

@font-face {
  font-family: "Dante MT Std";
  src: url(../fonts/DanteMTStd.eot);
  src: local("../fonts/DanteMTStd-Medium"), url(../fonts/DanteMTStd-Medium.otf) format("opentype");
}

@font-face {
  font-family: "Neue Helvetica";
  src: local("../fonts/HelveticaNeueLTW1G-Md"), url(../fonts/HelveticaNeueLTW1G-Md.otf) format("opentype");
}

/* line 17, /Users/annamendoza/.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, /Users/annamendoza/.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, /Users/annamendoza/.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, /Users/annamendoza/.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, /Users/annamendoza/.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, /Users/annamendoza/.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, /Users/annamendoza/.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, /Users/annamendoza/.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, /Users/annamendoza/.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 114, /Users/annamendoza/.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 67, /Users/annamendoza/Documents/teamvantage/stylesheets/partials/_base.sass */
body {
  background: #a9b2ba url("../images/main_bkgrnd.png") 0 0 repeat-x;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 62.5%;
  line-height: 1.6em;
}

/** ESSENTIAL STYLES ** */
/* line 3, /Users/annamendoza/Documents/teamvantage/stylesheets/partials/_superfish.sass */
.sf-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1;
}
/* line 7, /Users/annamendoza/Documents/teamvantage/stylesheets/partials/_superfish.sass */
.sf-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 12, /Users/annamendoza/Documents/teamvantage/stylesheets/partials/_superfish.sass */
.sf-menu ul {
  position: absolute;
  top: -999em;
  width: 10em;
  /* left offset of submenus need to match (see below) */
}
/* line 17, /Users/annamendoza/Documents/teamvantage/stylesheets/partials/_superfish.sass */
.sf-menu ul li {
  width: 100%;
}
/* line 19, /Users/annamendoza/Documents/teamvantage/stylesheets/partials/_superfish.sass */
.sf-menu li {
  float: left;
  position: relative;
}
/* line 20, /Users/annamendoza/Documents/teamvantage/stylesheets/partials/_superfish.sass */
.sf-menu li:hover {
  visibility: inherit;
  /* fixes IE7 'sticky bug' */
}
/* line 25, /Users/annamendoza/Documents/teamvantage/stylesheets/partials/_superfish.sass */
.sf-menu a {
  display: block;
  position: relative;
}
/* line 29, /Users/annamendoza/Documents/teamvantage/stylesheets/partials/_superfish.sass */
.sf-menu li:hover ul, .sf-menu li.sfHover ul {
  left: 0;
  /*top: 2.5em */
  top: 25px;
  /* match top ul list item height */
  z-index: 99;
}

/* line 37, /Users/annamendoza/Documents/teamvantage/stylesheets/partials/_superfish.sass */
ul.sf-menu li:hover li ul, ul.sf-menu li.sfHover li ul {
  top: -999em;
}
/* line 40, /Users/annamendoza/Documents/teamvantage/stylesheets/partials/_superfish.sass */
ul.sf-menu li li:hover ul, ul.sf-menu li li.sfHover ul {
  left: 10em;
  /* match ul width */
  top: 0;
}
/* line 44, /Users/annamendoza/Documents/teamvantage/stylesheets/partials/_superfish.sass */
ul.sf-menu li li:hover li ul, ul.sf-menu li li.sfHover li ul {
  top: -999em;
}
/* line 47, /Users/annamendoza/Documents/teamvantage/stylesheets/partials/_superfish.sass */
ul.sf-menu li li li:hover ul, ul.sf-menu li li li.sfHover ul {
  left: 10em;
  /* match ul width */
  top: 0;
}

/** DEMO SKIN ** */
/* line 54, /Users/annamendoza/Documents/teamvantage/stylesheets/partials/_superfish.sass */
.sf-menu {
  float: left;
  margin-bottom: 1em;
}
/* line 57, /Users/annamendoza/Documents/teamvantage/stylesheets/partials/_superfish.sass */
.sf-menu a {
  border-left: 1px solid white;
  border-top: 1px solid #cfdeff;
  padding: 0.75em 1em;
  text-decoration: none;
  /* visited pseudo selector so IE6 applies text colour */
  color: #2f404c !important;
  display: block;
  font-weight: bold;
  line-height: 1;
  position: relative;
  text-decoration: none;
  font: normal 12px Dante MT Std serif;
  letter-spacing: 0.08em;
}
/* line 71, /Users/annamendoza/Documents/teamvantage/stylesheets/partials/_superfish.sass */
.sf-menu a:visited {
  /* visited pseudo selector so IE6 applies text colour */
  color: #2f404c !important;
  display: block;
  font-weight: bold;
  line-height: 1;
  position: relative;
  text-decoration: none;
  font: normal 12px Dante MT Std serif;
  letter-spacing: 0.08em;
}
/* line 81, /Users/annamendoza/Documents/teamvantage/stylesheets/partials/_superfish.sass */
.sf-menu li {
  background: #bdd2ff;
}
/* line 83, /Users/annamendoza/Documents/teamvantage/stylesheets/partials/_superfish.sass */
.sf-menu li li {
  background: #aabde6;
}
/* line 85, /Users/annamendoza/Documents/teamvantage/stylesheets/partials/_superfish.sass */
.sf-menu li li li {
  background: #9aaedb;
}
/* line 87, /Users/annamendoza/Documents/teamvantage/stylesheets/partials/_superfish.sass */
.sf-menu li:hover, .sf-menu li.sfHover {
  background: #cfdeff;
  outline: 0;
}
/* line 91, /Users/annamendoza/Documents/teamvantage/stylesheets/partials/_superfish.sass */
.sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active {
  background: #cfdeff;
  outline: 0;
}
/* line 94, /Users/annamendoza/Documents/teamvantage/stylesheets/partials/_superfish.sass */
.sf-menu a.sf-with-ul {
  /*padding-right: 	2.25em; */
  min-width: 1px;
  /* trigger IE7 hasLayout so spans position accurately */
  padding-top: 22px;
  padding-left: 2em;
  padding-right: 2em;
}

/** arrows */
/* line 104, /Users/annamendoza/Documents/teamvantage/stylesheets/partials/_superfish.sass */
.sf-sub-indicator {
  position: absolute;
  display: block;
  right: 0.75em;
  top: 1.05em;
  /* IE6 only */
  width: 10px;
  height: 10px;
  text-indent: -999em;
  overflow: hidden;
  background: url("../images/arrows-ffffff.png") no-repeat -10px -100px;
  /* 8-bit indexed alpha png. IE6 gets solid image only */
}

/* line 118, /Users/annamendoza/Documents/teamvantage/stylesheets/partials/_superfish.sass */
a > .sf-sub-indicator {
  /* give all except IE6 the correct values */
  top: 0.8em;
  background-position: 0 -100px;
  /* use translucent arrow for modern browsers */
}
/* line 123, /Users/annamendoza/Documents/teamvantage/stylesheets/partials/_superfish.sass */
a:focus > .sf-sub-indicator, a:hover > .sf-sub-indicator, a:active > .sf-sub-indicator {
  background-position: -10px -100px;
  /* arrow hovers for modern browsers */
}

/* apply hovers to modern browsers */
/* line 130, /Users/annamendoza/Documents/teamvantage/stylesheets/partials/_superfish.sass */
li:hover > a > .sf-sub-indicator, li.sfHover > a > .sf-sub-indicator {
  background-position: -10px -100px;
  /* arrow hovers for modern browsers */
}

/* point right for anchors in subs */
/* line 137, /Users/annamendoza/Documents/teamvantage/stylesheets/partials/_superfish.sass */
.sf-menu ul .sf-sub-indicator {
  background-position: -10px 0;
}
/* line 140, /Users/annamendoza/Documents/teamvantage/stylesheets/partials/_superfish.sass */
.sf-menu ul a > .sf-sub-indicator {
  background-position: 0 0;
}
/* line 142, /Users/annamendoza/Documents/teamvantage/stylesheets/partials/_superfish.sass */
.sf-menu ul a:focus > .sf-sub-indicator, .sf-menu ul a:hover > .sf-sub-indicator, .sf-menu ul a:active > .sf-sub-indicator {
  background-position: -10px 0;
  /* arrow hovers for modern browsers */
}
/* line 146, /Users/annamendoza/Documents/teamvantage/stylesheets/partials/_superfish.sass */
.sf-menu ul li:hover > a > .sf-sub-indicator, .sf-menu ul li.sfHover > a > .sf-sub-indicator {
  background-position: -10px 0;
  /* arrow hovers for modern browsers */
}

/* apply hovers to modern browsers */
/** shadows for all but IE6 ** */
/* line 154, /Users/annamendoza/Documents/teamvantage/stylesheets/partials/_superfish.sass */
.sf-shadow ul {
  background: url("../images/shadow.png") no-repeat bottom right;
  padding: 0 8px 9px 0;
  -moz-border-radius-bottomleft: 17px;
  -moz-border-radius-topright: 17px;
  -webkit-border-top-right-radius: 17px;
  -webkit-border-bottom-left-radius: 17px;
}
/* line 161, /Users/annamendoza/Documents/teamvantage/stylesheets/partials/_superfish.sass */
.sf-shadow ul.sf-shadow-off {
  background: transparent;
}

/** adding the class sf-navbar in addition to sf-menu creates an all-horizontal nav-bar menu ** */
/* line 3, /Users/annamendoza/Documents/teamvantage/stylesheets/partials/_superfish-navbar.sass */
.sf-navbar {
  background: #a9b2ba;
  height: 45px;
  padding-bottom: 50px;
  position: relative;
}
/* line 8, /Users/annamendoza/Documents/teamvantage/stylesheets/partials/_superfish-navbar.sass */
.sf-navbar li {
  background: #f37421;
  position: static;
  font-family: "Dante MT Std" serif;
}
/* line 12, /Users/annamendoza/Documents/teamvantage/stylesheets/partials/_superfish-navbar.sass */
.sf-navbar a {
  border-top: none;
}
/* line 15, /Users/annamendoza/Documents/teamvantage/stylesheets/partials/_superfish-navbar.sass */
.sf-navbar li ul {
  width: 44em;
  /*IE6 soils itself without this */
}
/* line 18, /Users/annamendoza/Documents/teamvantage/stylesheets/partials/_superfish-navbar.sass */
.sf-navbar li li {
  background: #9ba3ab;
  position: relative;
}
/* line 21, /Users/annamendoza/Documents/teamvantage/stylesheets/partials/_superfish-navbar.sass */
.sf-navbar li li ul {
  width: 13em;
}
/* line 23, /Users/annamendoza/Documents/teamvantage/stylesheets/partials/_superfish-navbar.sass */
.sf-navbar li li li {
  width: 100%;
}
/* line 25, /Users/annamendoza/Documents/teamvantage/stylesheets/partials/_superfish-navbar.sass */
.sf-navbar ul li {
  width: auto;
  float: left;
}
/* line 28, /Users/annamendoza/Documents/teamvantage/stylesheets/partials/_superfish-navbar.sass */
.sf-navbar a {
  border: none;
}
/* line 30, /Users/annamendoza/Documents/teamvantage/stylesheets/partials/_superfish-navbar.sass */
.sf-navbar a:visited {
  border: none;
}
/* line 33, /Users/annamendoza/Documents/teamvantage/stylesheets/partials/_superfish-navbar.sass */
.sf-navbar li.current {
  background: #f37421;
}
/* line 35, /Users/annamendoza/Documents/teamvantage/stylesheets/partials/_superfish-navbar.sass */
.sf-navbar li:hover, .sf-navbar li.sfHover, .sf-navbar li li.current {
  background-color: #f37421;
  color: white;
}
/* line 39, /Users/annamendoza/Documents/teamvantage/stylesheets/partials/_superfish-navbar.sass */
.sf-navbar a:focus, .sf-navbar a:hover, .sf-navbar a:active {
  background-color: #f37421;
  color: white;
}
/* line 42, /Users/annamendoza/Documents/teamvantage/stylesheets/partials/_superfish-navbar.sass */
.sf-navbar a:hover {
  background: transparent url("../images/white_nav_icon.png") 50% 0 no-repeat;
}
/* line 44, /Users/annamendoza/Documents/teamvantage/stylesheets/partials/_superfish-navbar.sass */
.sf-navbar li.active {
  background: #f37421 url("../images/white_nav_icon.png") 50% 0 no-repeat;
}
/* line 47, /Users/annamendoza/Documents/teamvantage/stylesheets/partials/_superfish-navbar.sass */
.sf-navbar ul li:hover, .sf-navbar ul li.sfHover {
  background-color: #848a91;
}

/* line 51, /Users/annamendoza/Documents/teamvantage/stylesheets/partials/_superfish-navbar.sass */
ul.sf-navbar ul li:hover li, ul.sf-navbar ul li.sfHover li {
  background-color: #848a91;
}

/* line 55, /Users/annamendoza/Documents/teamvantage/stylesheets/partials/_superfish-navbar.sass */
.sf-navbar ul a:focus, .sf-navbar ul a:hover, .sf-navbar ul a:active {
  background-color: #848a91;
}

/* line 59, /Users/annamendoza/Documents/teamvantage/stylesheets/partials/_superfish-navbar.sass */
ul.sf-navbar li li li:hover, ul.sf-navbar li li li.sfHover {
  background: #e6eeff;
}

/* line 66, /Users/annamendoza/Documents/teamvantage/stylesheets/partials/_superfish-navbar.sass */
.sf-navbar li li.current li.current {
  background: #e6eeff;
}
/* line 69, /Users/annamendoza/Documents/teamvantage/stylesheets/partials/_superfish-navbar.sass */
.sf-navbar ul li li a:focus, .sf-navbar ul li li a:hover, .sf-navbar ul li li a:active {
  background: #e6eeff;
}

/* line 73, /Users/annamendoza/Documents/teamvantage/stylesheets/partials/_superfish-navbar.sass */
ul.sf-navbar .current ul {
  left: 0;
  top: 2.5em;
  /* match top ul list item height */
}
/* line 78, /Users/annamendoza/Documents/teamvantage/stylesheets/partials/_superfish-navbar.sass */
ul.sf-navbar ul li:hover ul, ul.sf-navbar ul li.sfHover ul {
  left: 0;
  top: 2.5em;
  /* match top ul list item height */
}
/* line 82, /Users/annamendoza/Documents/teamvantage/stylesheets/partials/_superfish-navbar.sass */
ul.sf-navbar .current ul ul {
  top: -999em;
}

/* line 86, /Users/annamendoza/Documents/teamvantage/stylesheets/partials/_superfish-navbar.sass */
.sf-navbar li li.current > a {
  font-weight: normal;
  color: white;
}
/* line 90, /Users/annamendoza/Documents/teamvantage/stylesheets/partials/_superfish-navbar.sass */
.sf-navbar ul .sf-sub-indicator {
  background-position: -10px -100px;
}
/* line 93, /Users/annamendoza/Documents/teamvantage/stylesheets/partials/_superfish-navbar.sass */
.sf-navbar ul a > .sf-sub-indicator {
  background-position: 0 -100px;
}
/* line 95, /Users/annamendoza/Documents/teamvantage/stylesheets/partials/_superfish-navbar.sass */
.sf-navbar ul a:focus > .sf-sub-indicator, .sf-navbar ul a:hover > .sf-sub-indicator, .sf-navbar ul a:active > .sf-sub-indicator {
  background-position: -10px -100px;
  /* arrow hovers for modern browsers */
}
/* line 99, /Users/annamendoza/Documents/teamvantage/stylesheets/partials/_superfish-navbar.sass */
.sf-navbar ul li:hover > a > .sf-sub-indicator, .sf-navbar ul li.sfHover > a > .sf-sub-indicator {
  background-position: -10px -100px;
  /* arrow hovers for modern browsers */
}
/* line 102, /Users/annamendoza/Documents/teamvantage/stylesheets/partials/_superfish-navbar.sass */
.sf-navbar > li > ul {
  background: transparent;
  padding: 20px 0 0 86px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topright: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
}

/** point all arrows down ** */
/* point right for anchors in subs */
/* apply hovers to modern browsers */
/** remove shadow on first submenu ** */
/* This little bit of Sass is used all over the layouts.. .assume we have loaded the grid module before this one... */
/* line 2, /Users/annamendoza/Documents/teamvantage/stylesheets/partials/_general_layout.sass */
#container {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}
/* line 4, /Users/annamendoza/Documents/teamvantage/stylesheets/partials/_general_layout.sass */
#container #header {
  display: inline;
  float: left;
  margin-left: 5px;
  margin-right: 5px;
  width: 950px;
}
/* line 6, /Users/annamendoza/Documents/teamvantage/stylesheets/partials/_general_layout.sass */
#container #header #logo {
  display: inline;
  float: left;
  margin-left: 5px;
  margin-right: 5px;
  width: 310px;
  margin-left: 0;
}
/* line 9, /Users/annamendoza/Documents/teamvantage/stylesheets/partials/_general_layout.sass */
#container #header #globalsearch {
  display: inline;
  float: left;
  margin-left: 5px;
  margin-right: 5px;
  width: 630px;
  margin-right: 0;
}
/* line 12, /Users/annamendoza/Documents/teamvantage/stylesheets/partials/_general_layout.sass */
#container #header #navigation {
  display: inline;
  float: left;
  margin-left: 5px;
  margin-right: 5px;
  width: 870px;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: 0;
  margin-right: 0;
}
/* line 18, /Users/annamendoza/Documents/teamvantage/stylesheets/partials/_general_layout.sass */
#container #main {
  display: inline;
  float: left;
  margin-left: 5px;
  margin-right: 5px;
  width: 950px;
}

/* line 21, /Users/annamendoza/Documents/teamvantage/stylesheets/partials/_general_layout.sass */
#wrapper {
  margin: 0 auto;
  padding: 0;
  width: 960px;
}

/* line 26, /Users/annamendoza/Documents/teamvantage/stylesheets/partials/_general_layout.sass */
#footer {
  float: left;
  background: #36434d url("../images/footer.png") repeat-x scroll 0 0;
  height: 236px;
  width: 100%;
  clear: both;
  height: 236px;
  position: relative;
}

/* line 35, /Users/annamendoza/Documents/teamvantage/stylesheets/partials/_general_layout.sass */
#foot {
  background: #a9b2ba url("../images/foot-bkgrng.png") no-repeat scroll 0 16px;
  width: 960px;
  height: 226px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 0;
  padding: 0;
}
/* line 44, /Users/annamendoza/Documents/teamvantage/stylesheets/partials/_general_layout.sass */
#foot #left {
  float: left;
  padding: 0;
  width: 680px;
  height: 210px;
  margin: 0;
  padding: 0;
}
/* line 51, /Users/annamendoza/Documents/teamvantage/stylesheets/partials/_general_layout.sass */
#foot #right {
  float: right;
  padding: 37px 0 0 27px;
  margin: 16px 45px 0 0;
  width: 200px;
  height: 173px;
  background-color: white;
  background: white url("../images/foot-right-bkgrnd.png") no-repeat scroll 0 0;
}
/* line 59, /Users/annamendoza/Documents/teamvantage/stylesheets/partials/_general_layout.sass */
#foot #logo {
  float: right;
  padding: 0 20px 0 0;
  margin: 0;
  width: 165px;
  height: 46px;
  background: white url("../images/footer-logo.png") no-repeat scroll 0 0;
}

/* line 67, /Users/annamendoza/Documents/teamvantage/stylesheets/partials/_general_layout.sass */
#footer h4 {
  font-family: pragmatica-web, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  color: #95a0a9;
  padding: 15px 30px 0 0;
  text-align: right;
  line-height: 1.3;
  letter-spacing: 0.02em;
}
/* line 77, /Users/annamendoza/Documents/teamvantage/stylesheets/partials/_general_layout.sass */
#footer h4 a {
  color: #f37421;
  font-weight: 600;
  text-decoration: none;
  line-height: 2.2;
  font-family: pragmatica-web, sans-serif;
  font-style: normal;
}
/* line 84, /Users/annamendoza/Documents/teamvantage/stylesheets/partials/_general_layout.sass */
#footer h4 a:hover {
  color: #2f404c;
  text-decoration: none;
}

/* Navigation
 *---------------------------------------------------------------------------------------------------- */
/* line 91, /Users/annamendoza/Documents/teamvantage/stylesheets/partials/_general_layout.sass */
#navigation {
  height: 45px;
  background-color: #f37421;
}

/* line 97, /Users/annamendoza/Documents/teamvantage/stylesheets/partials/_general_layout.sass */
.nav-top {
  line-height: 1;
  list-style: none outside none;
  margin: 0px;
  padding: 0px;
  z-index: 99;
  float: left;
}
/* line 104, /Users/annamendoza/Documents/teamvantage/stylesheets/partials/_general_layout.sass */
.nav-top li {
  float: left;
  width: auto;
}
/* line 107, /Users/annamendoza/Documents/teamvantage/stylesheets/partials/_general_layout.sass */
.nav-top li a {
  color: #2f404c !important;
  display: block;
  font-weight: bold;
  line-height: 1;
  padding: 5px 0px 0px 25px;
  position: relative;
  text-decoration: none;
  z-index: 100;
  font: normal 12px Dante MT Std serif;
  letter-spacing: 0.08em;
}
/* line 118, /Users/annamendoza/Documents/teamvantage/stylesheets/partials/_general_layout.sass */
.nav-top a:hover {
  color: white !important;
  text-decoration: none !important;
}

/* line 122, /Users/annamendoza/Documents/teamvantage/stylesheets/partials/_general_layout.sass */
#navigation-footer {
  margin: 0px;
  padding: 10px 0 0 50px;
  float: left;
  height: 35px;
  width: 500px;
}

/* line 131, /Users/annamendoza/Documents/teamvantage/stylesheets/partials/_general_layout.sass */
.nav-bottom {
  line-height: 1;
  list-style: none outside none;
  margin: 0px;
  padding: 0px;
  z-index: 99;
  float: left;
}
/* line 138, /Users/annamendoza/Documents/teamvantage/stylesheets/partials/_general_layout.sass */
.nav-bottom li {
  float: left;
  width: auto;
}
/* line 141, /Users/annamendoza/Documents/teamvantage/stylesheets/partials/_general_layout.sass */
.nav-bottom li a {
  color: #a9b2ba !important;
  display: block;
  font-weight: bold;
  line-height: 1;
  padding: 27px 0px 0px 25px;
  position: relative;
  text-decoration: none;
  z-index: 100;
  font: normal 12px Dante MT Std serif;
  letter-spacing: 0.08em;
}
/* line 152, /Users/annamendoza/Documents/teamvantage/stylesheets/partials/_general_layout.sass */
.nav-bottom a:hover {
  color: #f37421 !important;
  text-decoration: none !important;
}

/* line 156, /Users/annamendoza/Documents/teamvantage/stylesheets/partials/_general_layout.sass */
#logo {
  margin: 0;
  padding: 0;
  background: white url("../images/logo.png") no-repeat -5px 0;
  float: left;
  height: 90px;
}

/* line 165, /Users/annamendoza/Documents/teamvantage/stylesheets/partials/_general_layout.sass */
.search {
  float: right;
  margin: 40px 44px 0 0;
  padding: 3px 3px 3px 0;
  width: 243px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #999999;
  display: block;
}

/* line 175, /Users/annamendoza/Documents/teamvantage/stylesheets/partials/_general_layout.sass */
#search_form {
  float: left;
  margin: 0;
  padding: 0px;
  height: 23px;
}
/* line 180, /Users/annamendoza/Documents/teamvantage/stylesheets/partials/_general_layout.sass */
#search_form #q {
  width: 182px;
  height: 17px;
  border-right-style: solid;
  border-right-width: 2px;
  border-right-color: #999999;
  padding: 3px 14px 3px 5px;
  border-left: none;
  border-top: none;
  border-bottom: none;
  float: left;
  background: none;
}
/* line 192, /Users/annamendoza/Documents/teamvantage/stylesheets/partials/_general_layout.sass */
#search_form #q:hover {
  background-color: #dddddd;
}
/* line 194, /Users/annamendoza/Documents/teamvantage/stylesheets/partials/_general_layout.sass */
#search_form input {
  background: white url("../images/magnifying_glass.png") no-repeat 0 0;
  height: 24px;
  width: 24px;
  display: inline;
  float: right;
  vertical-align: middle;
  padding: 0;
  margin: 0 0 0 6px;
  border: none;
}
/* line 204, /Users/annamendoza/Documents/teamvantage/stylesheets/partials/_general_layout.sass */
#search_form input:hover {
  background-position: -25px 0;
}

/* line 207, /Users/annamendoza/Documents/teamvantage/stylesheets/partials/_general_layout.sass */
#globalsearch {
  margin: 0;
  padding: 0;
  float: right;
  position: relative;
  height: 90px;
}

/* line 214, /Users/annamendoza/Documents/teamvantage/stylesheets/partials/_general_layout.sass */
#g-search {
  display: block;
  background: white url("../images/search-placeholder.png") no-repeat scroll 0 40px;
  margin: 0;
  padding: 0 43px 0 0;
  height: 80px;
  width: 240px;
  float: right;
}

/* line 223, /Users/annamendoza/Documents/teamvantage/stylesheets/partials/_general_layout.sass */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* line 1, ../../stylesheets/partials/_individual.sass */
#top_container {
  margin-top: 45px;
  display: inline;
  float: left;
  margin-left: 5px;
  margin-right: 5px;
  width: 870px;
  padding-left: 40px;
  padding-right: 40px;
}
/* line 6, ../../stylesheets/partials/_individual.sass */
#top_container .ct {
  box-shadow: 0 0 7px 5px rgba(0, 0, 0, 0.25);
  height: 336px;
  background: url("../images/golden-gate-bridge.png") no-repeat 0 0;
  position: relative;
}
/* line 11, ../../stylesheets/partials/_individual.sass */
#top_container .ct #bio {
  display: inline;
  float: left;
  margin-left: 5px;
  margin-right: 5px;
  width: 310px;
  padding-left: 560px;
  margin-right: 0;
  opacity: 1;
  z-index: 2;
  position: absolute;
  right: 50px;
  width: 225px;
  padding-top: 30px;
}
/* line 21, ../../stylesheets/partials/_individual.sass */
#top_container .ct #bio h1 {
  font: normal normal normal 3.25em/1em Dante MT sans-serif;
  padding-bottom: 5px;
  color: #f37421;
}
/* line 25, ../../stylesheets/partials/_individual.sass */
#top_container .ct #bio h2 {
  font: italic normal normal 1.3em/1.3em Dante MT Std serif;
  color: black;
  padding-top: 10px;
}
/* line 29, ../../stylesheets/partials/_individual.sass */
#top_container .ct #bio h2 span.italic {
  font-style: italic;
}
/* line 31, ../../stylesheets/partials/_individual.sass */
#top_container .ct #bio p {
  font: normal normal normal 1.3em Dante MT Std serif;
  color: black;
  padding: 0 5px 0 0;
}
/* line 35, ../../stylesheets/partials/_individual.sass */
#top_container .ct #transparent {
  background-color: white;
  display: inline;
  float: left;
  margin-left: 5px;
  margin-right: 5px;
  width: 270px;
  position: relative;
  left: 560px;
  margin-right: 0;
  zoom: 1;
  filter: alpha(opacity=50);
  opacity: 0.5;
  height: 210px;
  z-index: 1;
}
/* line 45, ../../stylesheets/partials/_individual.sass */
#top_container .divider {
  display: inline;
  float: left;
  margin-left: 5px;
  margin-right: 5px;
  width: 870px;
  margin-left: 0;
  margin-right: 0;
  height: 40px;
  background: white url("../images/slidedeck-home-images/divider-graphic-a.png") no-repeat 0 0;
}

/* line 52, ../../stylesheets/partials/_individual.sass */
#biography-content {
  display: inline;
  float: left;
  margin-left: 5px;
  margin-right: 5px;
  width: 870px;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 40px;
}
/* line 57, ../../stylesheets/partials/_individual.sass */
#biography-content #heading {
  padding-left: 40px;
  height: 80px;
  background: #a9b2ba url("../images/main-bkgrnd.png") no-repeat scroll 0 0;
}
/* line 61, ../../stylesheets/partials/_individual.sass */
#biography-content #heading h2 {
  color: #f37421;
  font: normal normal 600 1.3em Arial, sans-serif;
  letter-spacing: 0.11em;
  padding-top: 35px;
}
/* line 66, ../../stylesheets/partials/_individual.sass */
#biography-content .ct {
  background-color: white;
  height: 100%;
  float: left;
}
/* line 70, ../../stylesheets/partials/_individual.sass */
#biography-content .ct #left-content {
  display: inline;
  float: left;
  margin-left: 5px;
  margin-right: 5px;
  width: 710px;
  margin-left: 0;
}
/* line 73, ../../stylesheets/partials/_individual.sass */
#biography-content .ct #left-content .bio-info {
  display: inline;
  float: left;
  margin-left: 5px;
  margin-right: 5px;
  width: 350px;
  position: relative;
  left: 40px;
  margin-left: 0;
  padding-bottom: 20px;
}
/* line 78, ../../stylesheets/partials/_individual.sass */
#biography-content .ct #left-content .bio-info p {
  color: #455560;
  font: normal normal 400 1.3em/1.5em Georgia, sans-serif;
  padding: 0 0 19px 5px;
  text-align: justify;
}
/* line 83, ../../stylesheets/partials/_individual.sass */
#biography-content .ct #left-content .bio-info p span.em {
  font-style: italic;
}
/* line 85, ../../stylesheets/partials/_individual.sass */
#biography-content .ct #left-content .ct {
  display: inline;
  float: left;
  margin-left: 5px;
  margin-right: 5px;
  width: 270px;
  position: relative;
  left: 40px;
}
/* line 88, ../../stylesheets/partials/_individual.sass */
#biography-content .ct #left-content .ct #partner {
  display: inline;
  float: left;
  margin-left: 5px;
  margin-right: 5px;
  width: 110px;
  margin-left: 0;
  height: 138px;
  padding-right: 20px;
}
/* line 93, ../../stylesheets/partials/_individual.sass */
#biography-content .ct #left-content .ct #partner-tag {
  display: inline;
  float: left;
  margin-left: 5px;
  margin-right: 5px;
  width: 110px;
  margin: 0;
  background-color: #95a0a9;
  height: 100%;
  padding: 8px 0 5px 12px;
}
/* line 99, ../../stylesheets/partials/_individual.sass */
#biography-content .ct #left-content .ct #partner-tag h3 {
  color: #455560;
  text-align: left;
  font: normal 2em/1em Georgia, serif;
}
/* line 103, ../../stylesheets/partials/_individual.sass */
#biography-content .ct #left-content .ct #partner-tag h4 {
  color: white;
  text-align: left;
  font: normal 1.125em/1.4em Arial, serif;
  padding-top: 4px;
}
/* line 108, ../../stylesheets/partials/_individual.sass */
#biography-content .ct #left-content .ct #icons {
  display: inline;
  float: left;
  margin-left: 5px;
  margin-right: 5px;
  width: 70px;
  margin-left: 0;
  margin-top: 15px;
}
/* line 112, ../../stylesheets/partials/_individual.sass */
#biography-content .ct #left-content .ct #icons #mail {
  background-clip: border-box;
  background: transparent url("../images/contact_icons.png") -6px 0 no-repeat scroll;
  background-origin: padding-box;
  background-size: auto auto;
  height: 34px;
  width: 41px;
}
/* line 119, ../../stylesheets/partials/_individual.sass */
#biography-content .ct #left-content .ct #icons #direct {
  background-clip: border-box;
  background: transparent url("../images/contact_icons.png") -6px -33px no-repeat scroll;
  background-origin: padding-box;
  background-size: auto auto;
  height: 34px;
  width: 41px;
}
/* line 126, ../../stylesheets/partials/_individual.sass */
#biography-content .ct #left-content .ct #icons #fax {
  background-clip: border-box;
  background: transparent url("../images/contact_icons.png") -6px -66px no-repeat scroll;
  background-origin: padding-box;
  background-size: auto auto;
  height: 34px;
  width: 41px;
}
/* line 133, ../../stylesheets/partials/_individual.sass */
#biography-content .ct #left-content .ct #icons #linkedin {
  background-clip: border-box;
  background: transparent url("../images/socialmedia_icons.png") 0 -65px no-repeat scroll;
  background-origin: padding-box;
  background-size: auto auto;
  height: 34px;
  width: 39px;
}
/* line 140, ../../stylesheets/partials/_individual.sass */
#biography-content .ct #left-content .ct #icons #tweet {
  background-clip: border-box;
  background: transparent url("../images/socialmedia_icons.png") 0 0 no-repeat scroll;
  background-origin: padding-box;
  background-size: auto auto;
  height: 34px;
  width: 39px;
}
/* line 147, ../../stylesheets/partials/_individual.sass */
#biography-content .ct #left-content .ct #icons #podcast {
  background-clip: border-box;
  background: transparent url("../images/socialmedia_podcast.png") 0 0 no-repeat scroll;
  background-origin: padding-box;
  background-size: auto auto;
  height: 34px;
  width: 39px;
}
/* line 154, ../../stylesheets/partials/_individual.sass */
#biography-content .ct #left-content .ct #info {
  display: inline;
  float: left;
  margin-left: 5px;
  margin-right: 5px;
  width: 190px;
  margin-right: 0;
  margin-top: 15px;
}
/* line 158, ../../stylesheets/partials/_individual.sass */
#biography-content .ct #left-content .ct #info h2 {
  font: normal normal bold 1.2em/2.9em Arial, Helvetica, sans-serif;
  color: #5f6a72;
  margin-left: -15px;
  letter-spacing: 0.02em;
}
/* line 163, ../../stylesheets/partials/_individual.sass */
#biography-content .ct #left-content .ct #info h2 a {
  color: #5f6a72;
  text-decoration: none;
}
/* line 166, ../../stylesheets/partials/_individual.sass */
#biography-content .ct #left-content .ct #info h2 a:hover {
  color: #f37421;
}
/* line 168, ../../stylesheets/partials/_individual.sass */
#biography-content .ct #right-content {
  display: inline;
  float: left;
  margin-left: 5px;
  margin-right: 5px;
  width: 150px;
  margin-right: 0;
  padding-top: 30px;
}
/* line 172, ../../stylesheets/partials/_individual.sass */
#biography-content .ct #right-content span.orange {
  color: #f37421;
}
/* line 174, ../../stylesheets/partials/_individual.sass */
#biography-content .ct #right-content a {
  color: #5d87a1;
  font: normal 1.4em Arial, sans-serif;
  line-height: 3.35em;
  text-decoration: none;
}
/* line 179, ../../stylesheets/partials/_individual.sass */
#biography-content .ct #right-content a:hover {
  color: #f37421;
}

/* line 182, ../../stylesheets/partials/_individual.sass */
#domain-review {
  display: inline;
  float: left;
  margin-left: 5px;
  margin-right: 5px;
  width: 870px;
  padding-left: 40px;
  padding-right: 40px;
  margin: 0;
}
/* line 187, ../../stylesheets/partials/_individual.sass */
#domain-review .domain-review {
  display: inline;
  float: left;
  margin-left: 5px;
  margin-right: 5px;
  width: 630px;
  padding-left: 40px;
  padding-right: 200px;
  background-color: white;
}
/* line 192, ../../stylesheets/partials/_individual.sass */
#domain-review .domain-review #domain-background {
  display: inline;
  float: left;
  margin-left: 5px;
  margin-right: 5px;
  width: 630px;
  background-color: #f37421;
}
/* line 195, ../../stylesheets/partials/_individual.sass */
#domain-review .domain-review #domain {
  display: inline;
  float: left;
  margin-left: 5px;
  margin-right: 5px;
  width: 230px;
  margin: 0;
  background-color: #f37421;
  height: 100%;
  margin-right: 10px;
}
/* line 201, ../../stylesheets/partials/_individual.sass */
#domain-review .domain-review #domain .domain-ct {
  margin-bottom: 15px;
  margin-top: 0;
  padding: 25px 25px 0px 30px;
}
/* line 205, ../../stylesheets/partials/_individual.sass */
#domain-review .domain-review #domain .domain-ct h1 {
  color: white;
  font: normal normal 400 1.5em/1.3em pragmatica-web-condensed, sans-serif;
}
/* line 208, ../../stylesheets/partials/_individual.sass */
#domain-review .domain-review #domain .domain-ct h2 {
  color: #ced5db;
  font: normal normal 400 1.2em/1.35em Arial, sans-serif;
  text-align: left;
  letter-spacing: 0.11em;
}
/* line 213, ../../stylesheets/partials/_individual.sass */
#domain-review .domain-review #domain .domain-ct #reviews {
  padding-top: 10px;
}
/* line 215, ../../stylesheets/partials/_individual.sass */
#domain-review .domain-review #domain .domain-ct #reviews p {
  margin: 0;
  padding-bottom: 5px;
  font: normal normal normal 1.125em/1.25em Arial, sans-serif;
  color: white;
  text-align: left;
}
/* line 221, ../../stylesheets/partials/_individual.sass */
#domain-review .domain-review #recent {
  display: inline;
  float: left;
  margin-left: 5px;
  margin-right: 5px;
  width: 390px;
  margin: 0;
  background-color: #95a0a9;
}
/* line 225, ../../stylesheets/partials/_individual.sass */
#domain-review .domain-review #recent .recent-ct {
  margin: 0;
  padding: 25px 70px 50px 40px;
}
/* line 228, ../../stylesheets/partials/_individual.sass */
#domain-review .domain-review #recent .recent-ct h1 {
  color: white;
  font: normal normal 400 1.5em/1.3em pragmatica-web-condensed, sans-serif;
}
/* line 231, ../../stylesheets/partials/_individual.sass */
#domain-review .domain-review #recent .recent-ct h2 {
  color: white;
  font: normal normal 400 1.125em Arial, sans-serif;
  text-align: left;
  padding: 0 2px 0 0;
}
/* line 236, ../../stylesheets/partials/_individual.sass */
#domain-review .domain-review #recent .recent-ct h3 {
  color: #ced5db;
  font: normal normal 400 1.125em Arial, sans-serif;
  text-align: left;
  padding: 0 0 10px 0;
}

/* line 242, ../../stylesheets/partials/_individual.sass */
#bottom-content {
  display: inline;
  float: left;
  margin-left: 5px;
  margin-right: 5px;
  width: 870px;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: 0;
}
/* line 247, ../../stylesheets/partials/_individual.sass */
#bottom-content .container {
  display: inline;
  float: left;
  margin-left: 5px;
  margin-right: 5px;
  width: 790px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: white;
  padding-top: 25px;
  padding-bottom: 25px;
}
/* line 254, ../../stylesheets/partials/_individual.sass */
#bottom-content .container #slideToggle {
  color: #455560;
}
/* line 256, ../../stylesheets/partials/_individual.sass */
#bottom-content .container #slideToggle .more {
  -webkit-border-radius: 8px;
  border-radius: 8px;
  border: 2px solid #cccccc;
  font-family: Georgia, serif;
  font-size: 1.2em;
  font-style: italic;
  float: right;
  padding: 5px 10px;
  margin-right: 157px;
  margin-bottom: 10px;
  letter-spacing: 0px;
  cursor: pointer;
}
/* line 269, ../../stylesheets/partials/_individual.sass */
#bottom-content .container #slideToggle .more:hover {
  color: #f37421;
}
/* line 272, ../../stylesheets/partials/_individual.sass */
#bottom-content .container .slideTogglebox table {
  border-collapse: collapse;
  border-spacing: 0;
  font: 11px/24px Arial, Helvetica, sans-serif;
  margin: 50px 0 20px 0;
  width: 100%;
}
/* line 278, ../../stylesheets/partials/_individual.sass */
#bottom-content .container .slideTogglebox table th {
  color: white;
  font: normal normal bold 1.25em/3em Arial, Helvetica, sans-serif;
  padding-left: 30px;
}
/* line 282, ../../stylesheets/partials/_individual.sass */
#bottom-content .container .slideTogglebox table tr.orange {
  background-color: #f37421;
}
/* line 284, ../../stylesheets/partials/_individual.sass */
#bottom-content .container .slideTogglebox table tr.orange td {
  background-color: #f37421;
  margin-top: 0;
  padding: 5px 0 5px 30px;
  color: white;
  font: normal normal 400 1.25em/1.3em pragmatica-web-condensed, sans-serif;
}
/* line 291, ../../stylesheets/partials/_individual.sass */
#bottom-content .container .slideTogglebox table tr.stripe td.info {
  color: #5f6a72;
  padding: 5px 0 5px 30px;
  font: normal normal normal 1.1em/2.05em Arial, Helvetica, sans-serif;
  letter-spacing: 0.02em;
}
/* line 296, ../../stylesheets/partials/_individual.sass */
#bottom-content .container .slideTogglebox table tr.stripe.even {
  background-color: #a9b2ba;
}
/* line 299, ../../stylesheets/partials/_individual.sass */
#bottom-content .container .slideTogglebox #clickme .close {
  -webkit-border-radius: 8px;
  border-radius: 8px;
  border: 2px solid #cccccc;
  font-family: Georgia, serif;
  font-size: 1.2em;
  font-style: italic;
  float: right;
  padding: 5px 10px;
  margin-right: 157px;
  margin-bottom: 10px;
  letter-spacing: 0px;
  cursor: pointer;
}
/* line 312, ../../stylesheets/partials/_individual.sass */
#bottom-content .container .slideTogglebox #clickme .close:hover {
  color: #f37421;
}
