@font-face {
  font-family: 'Dante MT Std';
  src: url(../fonts/DanteMTStd.eot);
  src: local('../fonts/DanteMTStd-Medium'), url(../fonts/DanteMTStd-Medium.otf) format('opentype');
}

@font-face {
  font-family: 'Neue Helvetica';
  src: local('../fonts/HelveticaNeueLTW1G-Md'), url(../fonts/HelveticaNeueLTW1G-Md.otf) format('opentype');
}

/* Containers
----------------------------------------------------------------------------------------------------*/
#body {
  margin:0px;
  padding:0px;
}
body {
   background: #fff url("../images/main_bkgrnd.png") repeat-x;
   font: normal 62.5%/1.6em Arial, Helvetica, sans-serif;
}    

#wrapper {
  margin:auto;
  padding:0px;
  width:960px;
}
.container {
  /*background-color: #fff;*/
}
.container_24 {
  width:960px;
}
#header {
  margin:0 0 25px;
  padding:0px;
  float:left;
  width:960px;
  background-color: #fff;
}
#main {
  float:left;
  /*background-color:#a9b2ba;*/
}

#content_home {
  margin:0;
  padding:0 0 210px 0;
  height: 650px;
  border-top: 1px solid #ccc;
}

#content {
  background-color: #b7c0c7;
  padding-top: 20px;
}  

#infographic {
  
}
#newsfeed {
  
}
#footer {
  float:left;
  background: #455560 url("../images/footer.png") repeat-x scroll 0 0;
  background-size: auto auto;
  height:276px;
  width:100%
}

#footer {
  clear: both;
  height: 270px;
  margin-top:-209px;
  position: relative;
}

#foot {
  background: #A9B2BA url("../images/foot-bkgrng.png") no-repeat scroll 0 16px;
  width:960px;
  height: 210px;
  margin-left:auto;
  margin-right:auto;
  margin-top:40px;
  margin-bottom:0;
  padding:0;
}
#foot #left {
  float: left;
  padding:0;
  width: 680px;
  height:210px;
  margin:0;
  padding:0;
}
#foot #right {
  float: right;
  padding:37px 0 0 27px;
  margin:16px 40px 0 0;
  width: 200px;
  height:177px;
  background-color:#fff;
  background: #fff url("../images/foot-right-bkgrnd.png") no-repeat scroll 0 0;
}
#foot #logo {
  float:right;
  padding:0 30px 0 0;
  margin:0;
  width:165px;
  height:46px;
  background: #fff url("../images/footer-logo.png") no-repeat scroll 0 0;
}

#footer h4 {
  font-family: pragmatica-web,sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 11px;  
	color: #95A0A9;
	padding: 15px 40px 0 0;
	text-align:right;
	line-height: 1.3;
	letter-spacing:.02em;
}
#footer h4 a {
	color:#F37421;
	text-decoration: none;
	line-height:2.4;
	font-family: pragmatica-web,sans-serif;
	font-style:normal;
}

#footer h4 a:hover {
	color:#2F404C;
	text-decoration: none;
}

/* Navigation
----------------------------------------------------------------------------------------------------*/

#navigation {
  margin:0px;
  padding:10px 0 0 50px;
  float:left;
  height:35px;
  background-color: #F37421;
  width:910px;
}

#main-nav {  
}
.nav-top {
	line-height:1;
	list-style:none outside none;
	margin:0px;
	padding:0px;
	z-index:99;
	float:left;
}
.nav-top li {
	float:left;
	width:auto;
}

.nav-top li a {
	color:#2f404c; !important;
	display:block;
	font-weight:bold;
	line-height:1;
	padding:5px 0px 0px 25px;
	position:relative;
	text-decoration:none;
	z-index:100;
	font: normal 12px Dante MT Std serif;
	letter-spacing: .08em;
}
.nav-top a:hover {
  color:#fff!important;
  text-decoration:none !important;
}

#navigation-footer {
  margin:0px;
  padding:10px 0 0 50px;
  float:left;
  height:35px;
  width:500px;
}
#nav-footer {
}
.nav-bottom {
	line-height:1;
	list-style:none outside none;
	margin:0px;
	padding:0px;
	z-index:99;
	float:left;
}
.nav-bottom li {
	float:left;
	width:auto;
}
.nav-bottom li a {
	color:#a9b2ba; !important;
	display:block;
	font-weight:bold;
	line-height:1;
	padding:27px 0px 0px 25px;
	position:relative;
	text-decoration:none;
	z-index:100;
	font: normal 12px Dante MT Std serif;
	letter-spacing: .08em;
}
.nav-bottom a:hover {
  color:#F37421 !important;
  text-decoration:none !important;
}

  

 /* I'm leaving this up to your discretion */  
#slide-menu-nav {
  
}


 /* Content
----------------------------------------------------------------------------------------------------*/
#logo { 
 margin:0;
 padding:0;
 background: #fff url("../images/logo.png") no-repeat;
 float:left;
 height: 90px;
}

#logo-bottom{
  
}


 /* Search
----------------------------------------------------------------------------------------------------*/
.search {
  float: right;
  margin: 40px 44px 0 0;
  padding:3px 3px 3px 0;
  width:243px;
  -moz-border-radius:5px;
  border-radius: 5px;
  border:1px solid #999999;
  display: block;

}

#search_form {
 float:left;
 margin:0;
 padding: 0px;
 height:23px;
}

#search_form #q {
  width: 182px;
  height:17px;
  border-right-style:solid;
  border-right-width:2px;
  border-right-color: #999999;
  padding: 3px 14px 3px 5px;
  border-left: none;
  border-top:none;
  border-bottom:none;
  float: left;
  background:none;
}
#search_form #q:hover {
  background-color:#dddddd;
}

#search_form input {
  background: #fff url("../images/magnifying_glass.png") no-repeat 0 0;
  height:24px;
  width:24px;
  display: inline;
  float:right;
  vertical-align: middle;
  padding:0;
  margin: 0 0 0 6px;
  border: none;
}

#search_form input:hover { 
  background-position:-25px 0;
}

#globalsearch {
  margin:0;
  padding:0;
  float:right;
  position:relative;  
}

#g-search {
  display:block;
  background: #fff url("../images/search-placeholder.png") no-repeat scroll 0 40px;
  margin:0;
  padding:0 43px 0 0;
  height:80px;
  width:240px;
  float: right;  
}

/* Contact us page */
#content-contact-us {
  /*margin:30px 37px 0 36px;*/
  margin-top: 40px;
}

#content-contact-us .ct {
  background: transparent url("../images/contact-us-bkgrnd_870px.png") no-repeat scroll 0 -25px;
  margin:0;
  padding:0;
  height: 304px;
}

#content-contact-us .address-info {
  padding-top: 37px;
}

#content-contact-us .address-info h1 {
  padding-top: 10px;   
  font: normal 1.5em Dante MT sans-serif;
  color: #5F6A72;
  line-height:1.37em;
}

#content-contact-us .address-info h2 {   
  font: bold 1.10em Arial, sans-serif;
  color:#5F6A72;
  line-height:2.16em;
}

#content-contact-us .info h2 {
  line-height: 34px;
}

#content-contact-us .address-info h2 a, #content-contact-us .info h2 a  {   
  font: bold 1.10em Arial, sans-serif;
  color:#5F6A72;
  line-height:2.05em;   
  text-decoration:none;
}
#content-contact-us .address-info h2 a:hover, #content-contact-us .info h2 a:hover {   
  font: bold 1.10em Arial, sans-serif;
  color:#F37421;
  line-height:2.05em;   
}

#content-contact-us .info {
  padding-top: 30px;
}

#content-contact-us .info .icons {
  float:left;
  /*margin:0px;
  padding: 3px 0 0 0;
  width:55px; */
}
#content-contact-us .info #mail {
  width:41px;
  height:34px;
  background: transparent url("../images/contact_icons.png") no-repeat scroll -6px 0;
}
#content-contact-us .info #mail:hover {
  width:41px;
  height:34px;
  background: transparent url("../images/contact_icons-2.png") no-repeat scroll -6px 0;
}
#content-contact-us .info #direct {
  width:41px;
  height:34px;
  background: transparent url("../images/contact_icons.png") no-repeat scroll -6px -33px;
}
#content-contact-us .info #direct:hover {
  width:41px;
  height:34px;
  background: transparent url("../images/contact_icons-2.png") no-repeat scroll -6px -33px;
}
#content-contact-us .info #fax {
  width:41px;
  height:34px;
  background: transparent url("../images/contact_icons.png") no-repeat scroll -6px -66px;
}
#content-contact-us .info #fax:hover {
  width:41px;
  height:34px;
  background: transparent url("../images/contact_icons-2.png") no-repeat scroll -6px -66px;
}


#content-contact-us .info #tweet {
  width:39px;
  height:34px;
  background: transparent url("../images/socialmedia_icons.png") no-repeat scroll 6px 0;
}
#content-contact-us .info #tweet:hover {
  width:39px;
  height:34px;
  background: transparent url("../images/socialmedia_icons-2.png") no-repeat scroll 6px 0;
}
#content-contact-us  .info #facebook {
  width:39px;
  height:34px;
  background: transparent url("../images/socialmedia_icons.png") no-repeat scroll 6px -33px;
}
#content-contact-us .info #facebook:hover {
  width:39px;
  height:34px;
  background: transparent url("../images/socialmedia_icons-2.png") no-repeat scroll 6px -33px;
}
#content-contact-us .info #linkedin {
  width:39px;
  height:34px;
  background: transparent url("../images/socialmedia_icons.png") no-repeat scroll 6px -65px;
}
#content-contact-us .info #linkedin:hover {
  width:39px;
  height:34px;
  background: transparent url("../images/socialmedia_icons-2.png") no-repeat scroll 6px -65px;
}


#content-contact-us #bottom-content {
  padding-top: 30px;
  margin-bottom: 350px;
  /*float:left;
  margin:0 0 300px 9px;
  padding:0;
  background-color: #ffffff;*/
}
#content-contact-us #bottom-content p {
  /*float:left;
  margin: 0 30px 30px 30px;
  padding:20px;
  width:770px;*/
  background-color: #C1CACF;
  font: normal 1.5em Dante MT sans-serif;
  color:#455560;
  line-height:1.2em;
  height: 60px;
  padding: 20px;
}
#category {
  font: 600 1.3em  Arial, sans-serif;
  letter-spacing: .11em;
  color: #F37421;
  padding:0;
}

#contact_top_container {
  padding-top: 25px;
}

#contact_top_container .ct {
  height: 331px;
  background: #fff url("../images/contactus_background_2.png") no-repeat 0 0; 
}

#contact_top_container .contact_content {
  margin:0;
  padding: 50px 16px 0 30px;
}

#contact_top_container .company_mission {
  margin:0;
  padding: 0 16px 30px 30px;
}


#contact_top_container .contact_content h1 {
  margin:0;
  padding:0 0 15px 0;
  font: 100 3.2em Dante MT Std serif ;
  color:#5f6a72;
  float:left;
  line-height:1.125;
  
}
span.highlight_orange {
  color:#F37421;
}                               

#contact_top_container .contact_content p {
  margin:0;
  padding:0 0 15px 0; 
  font: normal 1.5em Dante MT Std serif;
  color:#5F6A72;
  line-height:1.65em;
}
#contact_top_container #small-icon{
  width:70px;
  height:79px;
  padding:0;
  margin:0;
  background-image: url("../images/small_icon.png");
}
#contact_top_container #side_container {
  margin:0;
  padding:0;
  background-color:#e1e5e7;
  float:left;
  height:331px;
}

#contact_top_container .divider {
	height: 40px;
	background: #fff url("../images/slidedeck-home-images/divider-graphic-a.png") no-repeat 0 0;
}

#contact_top_container .company_mission h1 {
  font: normal 1.75em Neue Helvetica Arial, sans-serif;
  letter-spacing: .11em;
  line-height:.7em;
  color: #F37421; 
}

#contact_top_container .company_mission h2 {
  font: italic 1.1em Georgia, Times sans-serif;
  line-height:.2em;
  letter-spacing: .06em; 
  color: #5f6a72;
  padding-top: 10px;
}

#bigshot {
  margin-left:auto;
  margin-right:auto;
  padding:0px;
  width:2012px;
  height:1060px;
  background: transparent url("../images/104379501_gettyimages.jpg") no-repeat 0 517px;
}
