#container
  +grid-container
  #header
    +grid(24)
    #logo
      +grid(8)
      +alpha
    #globalsearch
      +grid(16)
      +omega
    #navigation
      +grid(22)
      +grid-prefix(1)
      +grid-suffix(1)
      +alpha
      +omega
  #main
    +grid(24)
    
    
#practice-area
  +grid(22)
  +grid-prefix(1)
  +grid-suffix(1)
  .content_setup
    height: 335px
    margin-top: 50px
    margin-bottom: 30px
    h1
      font: normal normal normal 3.125em Dante MT Std serif
      color: #455560
      letter-spacing: .036em
      span.orange
        color: $orange
    h2
      font: normal 1.7em Neue Helvetica Arial, sans-serif
      color: $orange
      letter-spacing: .05em
      line-height: .7em
    .spotlight
      margin-top: 50px
      margin-bottom: 80px
      h2
        margin-top: 50px
      p
        font: normal normal normal 1.4em Georgia
        color: $crisp-grey  
        margin-top: 15px
    .recent
      margin-top: 55px
      h2
        margin: 20px 20px 0 0
        font: normal 1.3em Neue Helvetica Arial, sans-serif
        color: $orange
      #recent_logo
        width: 190px
        height: 85px
    .divider
      +grid(22)
      +alpha
      +omega
      height: 39px
      background: white url("../images/slidedeck-home-images/divider-graphic-a.png") no-repeat 0 0
    p.insight
      font: italic normal normal 1.1em/2.25em Georgia, Times sans-serif
      letter-spacing: .06em
      color: $crisp-grey
    .left-grid
      +grid(2)
      +alpha
      background: #CED3D9 url('../images/small_icon.png') 0 0 no-repeat
      height: 100%
    .right-grid
      +grid(20)
      +omega  
      .lefthalf
        +grid(10)
        +alpha
        margin-left: 30px
      .righthalf
        +grid(8)
        +omega
        margin-left: 20px
      
#logo_content, #practice-area
  .content_setup
    background-color: #fff
    box-shadow: 0 0 7px 5px rgba(0, 0, 0, 0.3)
#logo_content
  +grid(22)
  +grid-prefix(1)
  +grid-suffix(1)
  margin-top: 30px
  .content_setup
    margin-bottom: 30px  
    height: 650px
    background: $grey url("../images/main-bkgrnd.png") 0 0 no-repeat
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0)
    .ct
      +grid(20)
      +grid-prefix(1)
      +grid-suffix(1)
      margin: 30px 0 0 0
      h2
        font: normal normal 600 1.3em Arial, sans-serif
        letter-spacing: .11em
        color: $orange
      h3
        font: normal normal normal 1.9em Dante MT sans-serif
        color: $logo-blue
        margin: 14px 0  
      p
        font: normal normal normal 1.35em/1.5em Georgia, Times, serif
        color: $copy-grey  
    
      #client-portfolio
        margin: 20px 0 0 20px
        .clients
          +grid(4)
          p
            font: normal normal normal 0.8em/1.5em Arial, Helvetica, sans-serif
            color: $logo-blue
          margin-right: 0px
        .alpha
          +alpha
        .omega
          +omega
      #consumer-internet, #enterprise-saas, #mobile-wireless
        margin-top: 20px
        .spacer
          +grid(20)
          height: 10px
        .logo-background
          +grid(5)
          background: url(../images/sprite_logos/logo_grid_bkgrnd.png) 0 0 no-repeat
          height: 110px
          box-shadow: 7px 4px 9px 2px rgba(0, 0, 0, 0.3)
        .logo-column
          +grid(5)
          height: 85px
          text-decoration: none
          text-indent: -10000px
          margin-top: 10px
          margin-left: 0
        .alpha
          +alpha
        .omega
          +omega
          

.fancybox_search
  .investors
    color: $grey
    font: normal normal normal 1.2em/2.0em Arial, sans-serif
    margin: 20px 0
  .logo-header
    +grid-container
    +grid(8)
    height: 40px 
    border-bottom: 3px solid $orange
  p
    color: $crisp-grey
    font: normal normal normal 1.3em Arial, sans-serif
  span
    font: normal normal normal 1.2em Arial, sans-serif
    color: $orange
  a
    color: $orange
    text-decoration: none
    &:hover
      color: $orange
      text-decoration: underline  
