<% @title = "SUDOKU SENSATION" %>
  <div id="main" role="main" class="container_24">
    <div id="enter-shot"></div>
    <div id="form-wrapper" class="container_15">
      <div id="wufoo-z7x3x5">
      Fill out my <a href="http://sudokusenation.wufoo.com/forms/z7x3x5">online form</a>.
      </div>
      <script type="text/javascript">var z7x3x5;(function(d, t) {
      var s = d.createElement(t), options = {
      'userName':'sudokusenation', 
      'formHash':'z7x3x5', 
      'autoResize':false,
      'height':'304',
      'async':true,
      'header':'show'};
      s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
      s.onload = s.onreadystatechange = function() {
      var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
      try { z7x3x5 = new WufooForm();z7x3x5.initialize(options);z7x3x5.display(); } catch (e) {}};
      var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
      })(document, 'script');</script>
    </div>
    <div id="left-area-big-one">
      <div class="enter-sensational"></div>
    </div>
    <div id="left-area-big-two">
      <div class="enter-sensational"></div>
    </div>
    <div id="right-area" class="grid_9 alpha omega">
      <div class="icon suffix_1 prefix_1"></div>
      <div id="logo" class="grid_8 alpha omega">
        <div class="commonboxes-sudoku-color-a" ><img border="0" src="./images/s.png" alt="s" width="28" height="34" style="padding-left: 3px" /></div>
        <div class="commonboxes-sudoku-color-b" ><img border="0" src="./images/u.png" alt="u" width="28" height="34" style="padding-left: 3px" /></div>
        <div class="commonboxes-sudoku-color-a" ><img border="0" src="./images/d.png" alt="d" width="28" height="34" style="padding-left: 3px" /></div>
        <div class="commonboxes-sudoku-color-b" ><img border="0" src="./images/o.png" alt="o" width="32" height="35" style="padding-left: 2px" /></div>
        <div class="commonboxes-sudoku-color-a" ><img border="0" src="./images/k.png" alt="k" width="28" height="34" style="padding-left: 3px" /></div>
        <div class="commonboxes-sudoku-color-b" ><img border="0" src="./images/u.png" alt="u" width="28" height="34" style="padding-left: 3px" /></div>
      </div>
      <div class="swirly grid_9 alpha omega"></div>
      <div id="logo-type-top" class="grid_7 alpha omega"><img border="0" src="./images/sensation-logo.png" alt="/"height="30px"></div>
      <div class="details grid_7"><img border="0" src="./images/accent_bugs.png" alt="/"height="20px"></div>
      <div class="grid_9 alpha omega">
        <h3>ENTER TO WIN</h3>
        <h4>
          A YEAR OF SPOTIFY BY  <br/>
          SIMPLY TESTING AN AD-FREE <br/>
          VERSION OF THE NEW <br/>
        </h4>
        <div id="logo-type" class="grid_9 alpha omega"></div>
        <div id="rotator">
          <div id="block-1" class=" active">
            <h2>Help Us Make History</h2>
          <div>
            <h1>Easy-Peasy and Totally Worth It</h1>
            <p>
                Help us make Sudoku Sensation even more Sensational!<br />
                We’ll send you a quick and painless survey that will truly help us make <br /> 
                an even better app ;) 
                Send us your feedback, and you'll be entered to win!
            </p>
          </div>
        </div>
        <div id="block-2" class="non-active-top">
          <h2>Sudoku is Spotified</h2>
          <div>
            <h1>We're Sharing Our Favorite 100 Songs on Facebook</h1>
            <p> Names of Song / Name of Song / Name of Song / Name of Song / Name of Song
              Name of Artist / Name of Artist / Name of Artist / Name of Artist 
              Name of Song / Name of Song / Name of Song / Name of Song / Name of Song
              Name of Artist / Name of Artist / Name of Artist / Name of Artist... 
            </p>
          </div>
        </div>

        <div id="block-3" class="non-active-bottom">
          <h2>Ends 00.00.2012</h2>
          <div>
            <h1>Hurry! and Don't Forget to Tell Your Friends!</h1>
            <p>This is where we may have to link to some legal copy and list all the promotional details... 
            </p>
          </div>
        </div>
      </div>
      <div class="grid-6" style="margin: 20px 0 0 20px; height: 170px;"></div>                         
      <div class="grid_9 alpha omega">
        <div class="grid_2 suffix_1 left">
          <a href="http://www.facebook.com/SudokuSensation" rel="tooltip" data-original-title="Play with your Friends on Facebook"><img id="facebook" border="0" src="./images/facebook.png" alt="o" width="55" height="58" style="padding: 16px 0 10px 20px;"></a>        
        </div>
        <div class="grid_3 left">  
          <img border="0" src="./images/frog.png" alt="o" width="95" height="72" style="padding: 5px" />
        </div>
        <div class="grid_2 left">
          <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-count="vertical">Tweet</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
      </div>
      <div class="legal grid_9">
        WE ABHOR SPAM - YOUR NAME WILL NOT BE SOLD <br/>
        TO ANY THIRD PARTIES OF SPAM-MONSTERS!
      </div>
      <div class="bottom-image grid_9"></div>
    </div>
  </div>
  
  <div id="sphere-area-five">
      <img src="images/butterfly-seven.png" alt="butterfly-seven" id="butterfly-seven" />
    </div>
    <div id="sphere-area-six">   
      <img src="images/butterfly-eight.png" id="butterfly-eight" alt="" />
    </div>
    <div id="sphere-area-seven">   
      <img src="images/butterfly-nine.png" id="butterfly-nine" alt="" />
  </div>
  
 </div>
</div>