  <% @title = "ENTER TO WIN A YEAR OF SPOTIFY" %>
    <div id="main" role="main" class="container_24">
      <div id="enter-shot"></div>
      <div id="form-wrapper" class="container_15">
        <div id="wufoo-z7x3x5">
          Fill out my <a href="http://sudokusenation.wufoo.com/forms/z7x3x5">online form</a>.
        </div>
        <script type="text/javascript">var z7x3x5;(function(d, t) {
          var s = d.createElement(t), options = {
          'userName':'sudokusenation', 
          'formHash':'z7x3x5', 
          'autoResize':true,
          'height':'304',
          'async':true,
          'header':'show'};
          s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
          s.onload = s.onreadystatechange = function() {
          var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
          try { z7x3x5 = new WufooForm();z7x3x5.initialize(options);z7x3x5.display(); } catch (e) {}};
          var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
          })(document, 'script');
        </script>
      </div><!-- /form-wrapper" class="container_15  -->

      <div id="left-area" class="grid_15 alpha omega">
        <div class="top-image"></div>
      </div>

      <div id="right-area" class="grid_8 alpha omega">
        <div class="icon suffix_1 prefix_1"></div>
        <div id="logo" class="grid_8 alpha omega">
          <div class="commonboxes-sudoku-color-a" ><img src="./images/s.png" alt="s" width="21" height="21" style="padding-left: 3px" /></div>
          <div class="commonboxes-sudoku-color-b" ><img src="./images/u.png" alt="u" width="21" height="21" style="padding-left: 3px" /></div>
          <div class="commonboxes-sudoku-color-a" ><img src="./images/d.png" alt="d" width="21" height="21" style="padding-left: 3px" /></div>
          <div class="commonboxes-sudoku-color-b" ><img src="./images/o.png" alt="o" width="25" height="21" style="padding-left: 2px" /></div>
          <div class="commonboxes-sudoku-color-a" ><img src="./images/k.png" alt="k" width="21" height="21" style="padding-left: 3px" /></div>
          <div class="commonboxes-sudoku-color-b" ><img src="./images/u.png" alt="u" width="21" height="21" style="padding-left: 3px" /></div>
        </div><!-- /logo  -->

        <div id="logo-type-top" class="grid_8 alpha omega"></div>

        <div class="grid_8 alpha omega">
          <h3>ENTER TO WIN</h3>
          <h4>
            A YEAR OF SPOTIFY BY  <br/>
            SIMPLY TESTING AN AD-FREE <br/>
            VERSION OF THE NEW <br/>
          </h4>
          <div id="logo-type" class="grid_8 alpha omega"></div>
          <div id="rotator">
            <div id="block-1" class=" active">
              <h2>Help Us Make History</h2>
              <div>
                <h1>Easy-Peasy and Totally Worth It</h1>
                <p>
                  Help us make Sudoku Sensation even more Sensational!<br />
                  We’ll send you a quick and painless survey 1 week after you've entered <br /> 
                  the Sudoku Sensation Sweepstakes. Post your feedback on Facebook, <br />
                  and help us make an even better app ;-)  THANK YOU!!
                </p>
              </div>
            </div><!-- /block-1 --> 
          
            <div id="block-2" class="non-active-top">
              <h2>Sudoku is Spotified</h2>
              <div>
                <h1>We're Sharing Our Favorite 50 Songs on Spotify</h1>
                <div class="left">
                  <iframe src="https://embed.spotify.com/?uri=spotify:user:curvgrlsings:playlist:2PYDXdL7CN7v9zm68UgLpr" width="250" height="80" frameborder="0" allowtransparency="true"></iframe>          
                </div>
                <div id="right-copy">
                  <p> We've picked our favorites from the latest to the greatest,
                    to make gaming even more fun. Sample the list, share it with friends, <br>
                    It's the only way to play Sudoku Sensation!
                  </p>
                </div><!-- /right-copy  --> 
              </div> 
            </div><!-- /block-2    -->
      
            <div id="block-3" class="non-active-bottom">
              <h2>Ends 10.02.2012</h2>
              <div>
                <h1>Hurry! and Don't Forget to Tell Your Friends!</h1>
                <p>Want to play a challenging game with your friends around the world? <br> 
                  Invite them to play on Facebook! Whether it's a challenging time-oriented game or a cooperative one, Sudoku Sensation allows you to ping 
                  your buddies for a fun match.<br >Who knows, you might get a challenger interested!
                </p> 
              </div>
            </div><!-- /block-3    -->  
          </div><!-- /rotator  -->
        
          <div class="grid-6" style="margin: 20px 0 0 20px; height: 105px;"></div>                         
          <div class="grid_8 alpha omega">
            <div class="grid_2 suffix_1 left">
              <a href="http://www.facebook.com/SudokuSensation" data-original-title="Play with your Friends on Facebook"><img id="facebook" src="./images/facebook.png" alt="facebook" width="50" height="50" style="padding:0px 0 0 20px" /></a>
            </div>
            <div class="grid_2 left">  
              <img src="./images/frog.png" alt="little frog" width="70" height="72" style="padding: 0px; margin-left: -10px;">        
            </div>
            <div class="grid_2 left">
              <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-count="vertical">Tweet</a>
              <script>
              !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
              </script>
            </div>
          </div><!-- /grid_8 alpha omega  -->
          <div class="legal grid_8">
            WE ABHOR SPAM - YOUR NAME WILL NOT BE SOLD <br/>
            TO ANY THIRD PARTIES OF SPAM-MONSTERS!
          </div><!-- /legal grid_8  -->
          <div class="bottom-image grid_8"></div>
        </div><!-- /grid_8 alpha omega   -->
      </div><!-- /right-area" class="grid_8 alpha omega  -->
    </div><!-- main" role="main" class="container_24  -->
