/* - - - - - - - - - - - - - - - - - - - - -

 Title : Suduoku Sensation!!
 Author : Anna Mendoza
 URL : http://curvecommunications.biz

 Last Updated : 8/10/2012

- - - - - - - - - - - - - - - - - - - - - */

/* - - - Default - - - */

/* Logo */

* html #logo a {/* IE6 png Support */
	background-image: none;
}

/* Backgrounds */
#form-wrapper {
  position: absolute;
  top: 0;
  z-index: 30;
  width: 350px;
  margin: 124px 0 0 100px;
  padding: 20px;
}

#form-wrapper #container{background:none;}
#container, html.embed {background-color: transparent;}

form.wufoo {
  margin: 20px 14px 0 14px;
  padding: 10px 0 20px 10px;
  position: relative;
}
.wufoo {
  font-family:ff-meta-serif-web-pro, Tahoma, sans-serif;
  letter-spacing:.01em;
}
.wufoo li { 
  width:64%;
  padding-top: 5px;
}

.leftLabel li, .rightLabel li {
  width:74% !important;
  padding-top: 0px;
}

.wufoo .info { 
  display:inline-block;
  clear:both;
  margin:0px;
  padding:0px 5px 0px 0px;
  border-bottom:1px dotted #ccc;
}
    
.info[class] {display:block;}
.hideHeader .info,#payment.hideHeader li.first { display:none;}
.wufoo input.text, .wufoo textarea.textarea{background:transparent url(/images/fieldbg.gif) repeat-x top}
.wufoo .focused{background:#FFF7C0;}
.wufoo .instruct{background-color:#F5F5F5;}

/* Borders */
#container{border:none;}
.wufoo .info{border-bottom:none;}
.wufoo .instruct{border:none;}

/* Typography */
.wufoo .info h2{
  font-weight:normal;
  font-size:20px;
  font-family: ff-meta-serif-web-pro, Arial, Helvetica, sans-serif;
  margin:0 0 5px 0;
  clear:left;
  text-shadow:1px 1px #DDD;
}
.wufoo .info div{
  font-size:95%;
  line-height:135%;
  color:#555;
}
.wufoo .section h3{font-size:110%;font-family:inherit;background:none;color:#000000}
.wufoo .section div{font-size:85%;font-family:inherit;color:#444444}
.wufoo label.desc, .wufoo legend.desc{font-size:95%;font-family:inherit;color:#444444}
.wufoo li div, .wufoo li div label, .wufoo li span label{font-family:inherit;color:#444444}
.wufoo input.text, .wufoo textarea.textarea, .wufoo select.select, .wufoo label.choice{font-size:100%;font-family:inherit; background-color: #B0C0C9; opacity: 0.75; color:#333333}
.wufoo label.choice{color:#444444}
.wufoo .instruct{font-size:70%;font-family:inherit;color:#444444
}

/* Drop Shadows */
#bottom{visibility:visible}

/* Confirmations */

embed .confirm h2, .confirm h2 {
	font-family:inherit;
	color:#444444;
	padding: 15px 0 10px 0;
}

