<% @title = "SUDOKU SENSATION" %>
  <div id="main" role="main" class="container_24">
    <div id="main-shot"></div>
    
    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <img src="images/iPad_alqhuist_1.png" alt="">
          <div class="carousel-caption"></div>
        </div>
        <div class="item">
          <img src="images/iPad_alqhuist_2.png" alt="">
          <div class="carousel-caption"></div>
        </div>
        <div class="item">
          <img src="images/iPad_alqhuist_3.png" alt="">
          <div class="carousel-caption"></div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
    </div>
    
    <div id="left-area" class="grid_15 alpha omega">
      <div class="top-image"></div>
    </div>
    <div id="right-area" class="grid_9 alpha omega">
      <div class="icon suffix_1 prefix_1"></div>
      <div id="logo" class="grid_8 alpha omega">
        <div class="commonboxes-sudoku-color-a" ><img border="0" src="./images/s.png" alt="s" width="28" height="34" style="padding-left: 3px" /></div>
        <div class="commonboxes-sudoku-color-b" ><img border="0" src="./images/u.png" alt="u" width="28" height="34" style="padding-left: 3px" /></div>
        <div class="commonboxes-sudoku-color-a" ><img border="0" src="./images/d.png" alt="d" width="28" height="34" style="padding-left: 3px" /></div>
        <div class="commonboxes-sudoku-color-b" ><img border="0" src="./images/o.png" alt="o" width="32" height="35" style="padding-left: 2px" /></div>
        <div class="commonboxes-sudoku-color-a" ><img border="0" src="./images/k.png" alt="k" width="28" height="34" style="padding-left: 3px" /></div>
        <div class="commonboxes-sudoku-color-b" ><img border="0" src="./images/u.png" alt="u" width="28" height="34" style="padding-left: 3px" /></div>
      </div>
      <div class="swirly grid_9 alpha omega"></div>
      <div id="logo-type-top" class="grid_9 alpha omega">
        <img border="0" src="./images/sensation-logo.png" alt="/" height="30px" style="padding: 5px 0 0 86px;">      
      </div>
      <div class="details grid_7"><img border="0" src="./images/accent_bugs.png" alt="/"height="20px"></div>
      <div class="grid_9 alpha omega">
        <h3>GREETINGS!</h3>
        <h4>
          Ahlquist Software specializes<br/>
          in rapid high quality code development,<br/>
          including scripting, animation control,<br/>
          terrain editing, rendering, <br/> 
          AI & general game play.
        </h4>
        <div id="features">
          <ul id="tab" class="nav nav-tabs" style="padding-left: 43px;">
            <li class="active"><a href="#iPad" data-toggle="tab">Skills</a></li>
            <li class=""><a href="#iPhone" data-toggle="tab">Contact Me</a></li>
          </ul>
        <div id="myTabContent" class="tab-content">
          <div class="tab-pane fade active in" id="iPad">
            <p>Expert in C++, C, Pascal, <br />
               Unreal Script and Lua. Experience in <br /> 
               Pentium Assembler and Motorola Assembler. <br />
               Enjoy Design and Development with a Grin. <br />
            </p>
          </div>
          <div class="tab-pane fade" id="iPhone">
            <p>PH: 714-721-7164<br />
               19665 Deer Run Estates Drive, <br />  
               Warrenton, MO 63383
               <a href="">info@ahlquistsoftware.com</a>
            </p>
          </div>
          <h3><a href="www.ahlquistsofrware.com" alt title="">www.ahlquistsoftware.com</a></h3>
        </div>             
      </div>
      <div class="grid_6">
        <img border="0" src="./images/frog.png" alt="o" width="95" height="72" style="padding-bottom: 10px" />
      </div>
      <div class="legal grid_9">
        WE ABHOR SPAM - YOUR NAME WILL NOT BE SOLD <br/>
        TO ANY THIRD PARTIES OF SPAM-MONSTERS!
      </div>
      <div class="bottom-image grid_9"></div>
    </div>
  </div>
  
  <div id="sphere-area-two">
      <img src="images/butterfly-four.png" alt="butterfly-three" id="butterfly-four" />
  </div>
  <div id="sphere-area-three">
  <img src="images/butterfly-five.png" id="butterfly-five" alt="" />
  </div>
  <div id="sphere-area-four">
  <img src="images/butterfly-six.png" id="butterfly-six" alt="" />
  </div>
  
  
 </div>
</div>