<% @title = "ABOUT SUDOKU SENSATION" %>
  <div id="main" role="main" class="container_24">
    <div id="main-shot"></div>
    <div id="myCarousel" class="carousel slide"> 
      <div class="carousel-inner">
        <div class="item active">
          <img src="images/iPad_alqhuist_1.png" alt="">
          <div class="carousel-caption"></div>
        </div>
        <div class="item">
          <img src="images/iPad_alqhuist_2.png" alt="">
          <div class="carousel-caption"></div>
        </div>
        <div class="item">
          <img src="images/iPad_alqhuist_3.png" alt="">
          <div class="carousel-caption"></div>
        </div>
      </div> <!-- /end carousel-inner  -->
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
    </div> <!-- /end carousel slide -->
    
    <div id="left-area" class="grid_15 alpha omega">
      <div class="top-image"></div>
    </div>
    <div id="right-area" class="grid_8 alpha omega">
      <div class="icon suffix_1 prefix_1"></div>
      <div id="logo" class="grid_8 alpha omega">
        <div class="commonboxes-sudoku-color-a" ><img src="./images/s.png" alt="s" width="21" height="21" style="padding-left: 3px" /></div>
        <div class="commonboxes-sudoku-color-b" ><img src="./images/u.png" alt="u" width="21" height="21" style="padding-left: 3px" /></div>
        <div class="commonboxes-sudoku-color-a" ><img src="./images/d.png" alt="d" width="21" height="21" style="padding-left: 3px" /></div>
        <div class="commonboxes-sudoku-color-b" ><img src="./images/o.png" alt="o" width="25" height="21" style="padding-left: 2px" /></div>
        <div class="commonboxes-sudoku-color-a" ><img src="./images/k.png" alt="k" width="21" height="21" style="padding-left: 3px" /></div>
        <div class="commonboxes-sudoku-color-b" ><img src="./images/u.png" alt="u" width="21" height="21" style="padding-left: 3px" /></div>
      </div>
      <div id="logo-type-top" class="grid_8 alpha omega"></div>
      <div class="grid_8 alpha omega">
        <h3>GREETINGS!</h3>
        <h4>
          Ahlquist Software specializes in rapid <br>
          high quality code development including <br>
          scripting, animation control, terrain editing,<br>
          rendering, AI &amp; general game play.
        </h4>
        <div class="features">
          <ul id="tab" class="nav nav-tabs" style="padding-left: 50px;">
            <li class="active"><a href="#iPad" data-toggle="tab">Skills</a></li>
            <li class=""><a href="#iPhone" data-toggle="tab">Contact Me</a></li>
          </ul>
          <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="iPad">
              <p>Expert Developer with both <br> 
               Pentium Assembler & Motorola Assembler <br>
               Expert in C++ / C /  Pascal / Unreal / Lua <br> 
               Enjoy Design and Development with a Grin <br>
              </p>
            </div> <!-- /end tab-pane fade active in -->
            <div class="tab-pane fade" id="iPhone">
              <p>Studio: 714-721-7164<br>
                19665 Deer Run Estates Drive, <br>  
                Warrenton, MO 63383 <br>
                <a href="mailto:info@ahlquistsoftware.com?Subject=Hello%20again">info@ahlquistsoftware.com</a>
              </p>
            </div>
            <h3 style="padding-bottom: 5px;"><a href="http://www.ahlquistsoftware.com/" alt title="">www.ahlquistsoftware.com</a></h3>
          </div> <!-- /end myTabContent  -->            
        </div> <!-- /end features   -->
        <div class="grid_8 alpha omega">
          <div class="grid_2 suffix_1 left">
            <a href="http://www.facebook.com/SudokuSensation">
              <img class="facebook" alt="facebook" rel="tootip" data-original-title="Play with your Friends on Facebook" />
            </a>
          </div> <!-- /end grid_2  -->
          <div class="grid_2 left">  
            <img src="./images/frog.png" alt="little frog" width="70" height="72" style="padding: 0px; margin-left: -10px;">        
          </div>
          <div class="grid_2 left">
            <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-count="vertical">Tweet</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
            </script>
          </div>
        </div> <!-- /end grid_8 alpha omega  -->
        <div class="bottom-image reference grid_8"></div>
      </div> <!-- /end grid_8 alpha omega  -->
    </div> <!-- /end right-area grid_8 alpha omega  -->
  </div> <!-- /end main container_24  -->
