#top_container
  .ct 
    #transparent
    #bio
      %h1 April King
      %p “April is a well-rounded professional search executive who leads with patience, respect and high-standards. She brings an impressive degree of courage to the search business that is required.”
      %h2 Tom Callahan
      %p Managing Director Vantage Partners.
  .divider
  
#biography-content
  #heading
    %h2 MEET THE TEAM  / APRIL KING
  .ct  
    #left-content
      .ct
        #partner
        #partner-tag
          %h3 April King
          %h4 managing partner
        .clear  
        #icons
          #mail
          #direct
          #fax
          %a{:href => "http://www.linkedin.com/in/abking"}
            #linkedin
          %a{:href => "/"}
            #tweet
          %a{:href => "/"}
            #podcast
        #info
          %h2
            %a{:href => "mailto:king@vantagepartners.net"} king@.vantagepartners.net
          %h2 Direct: (650) 579-7300, ext 101
          %h2 Fax: (650) 590-7470
          %h2
            %a{:title => "/", :href => "http://www.linkedin.com/in/abking"} April On LinkedIn
          %h2
            %a{:title => "/", :href => "/"} April's Tweets
          %h2
            %a{:title => "/", :href => "/"} April's Podcasts
      .bio-info
        %p April King brings over 20 years of experience in retained executive search to Vantage Partners, having worked within both international and boutique search firms, as well as serving as the in-house recruiting partner for a top-tier venture capital firm.  She is well versed in Software and Systems, as well as Internet platforms and services, targeting both the enterprise and consumer markets. 
        %p At Vantage, April serves as Managing Partner and is charged with leading the firm’s CEO Practice.  Her combined experience in Enterprise Software, Consumer/Internet and Digital Media has played a major role in the firm’s focus on converging markets.  
        %p Previously, April held the position of Recruiting Partner at Sequoia Capital. She was member of the International Technology and Industrial Practices of Heidrick and Struggles, Inc. and served as a member of the Silicon Valley office management team prior to her tenure with Sequoia Capital.  More recently, April was a senior principal of Howard Fischer Associates, a boutique search firm in the venture capital community. 
        %p April received her Bachelor's Degree specializing in Social Psychology with an emphasis in Business Administration from UCLA.
    #right-content
      %a{:href=>'/',:title=>'Meet Tom'} Tom Callahan
      %br/
      %a{:href=>'/',:title=>'Meek Mark'} Mark Hubbell
      %br/
      %a{:href=>'/april',:title=>'Meet April'}
        %span.orange April King
      %br/
      %a{:href=>'/',:title=>'Meet Rich'} Rich Lear
      %br/
      %a{:href=>'/',:title=>'Meet Julie'} Julie Locke
      %br/
      %a{:href=>'/',:title=>'Meet Irene'} Irene Murphy
      %br/
      %a{:href=>'/',:title=>'Meet Steve'} Steve O'Deegan
      %br/
      %a{:href=>'/',:title=>'Meet Audrey'} Audrey Shuster
      %br/
      %a{:href=>'/',:title=>'Meet May'} May Young
      %br/
      %a{:href=>'/',:title=>'Meet Gene'} Gene Zaccor
      %br/

#domain-review
  .domain-review
    #domain
      .domain-ct
        %h1 DOMAIN FOCUS:
        %br/
        %h2
          Enterprise / SaaS
          %br/ 
          Consumer / Internet
          %br/ 
          Mobile / Wireless
          %br/
        %br/
        %h2 Watch Aprils Podcasts
        #reviews
          %h2 REVIEWS
          %p
            “I’m a tremendous fan of April’s. She’s incredibly connected and trusted in Silicon Valley. We use her as our go-to person on demanding, high-level searches.
            %br/ 
            I give her my highest endorsement.”
        %h2 Tim Bliss, IGSB, Mindflash
    #recent
      .recent-ct
        %h1 RECENT SEARCHES:
        %br/
        %h2 • CEO, Razoo
        %br/
        %h3
          Social Enterprise Connecting Consumers to Causes
          %br/
          (Legatum Capital)
        %br/
        %h2 • CEO, Inigral
        %br/ 
        %h3
          Schools on Facebook
          %br/
          (Retro Ventures, Founders Fund, Gates Foundation)
        %br/
        %h2 • CMO, SVP Products, and SVP Business Development, CourseSmart
        %br/
        %h3
          eTexbooks
          %br/
          (Joint Venture)
        %br/
        %h2 • VP Marketing, 10Gen – MongoDB
        %br/ 
        %h3
          Document Oriented Database
          %br/
          (Sequoia Capital, Flybridge Capital, Union Square Ventures)
        %br/
        %h2 • VP Products, FanSnap
        %h3
          Ticket-Comparison Shopping Site
          %br/
          (Highland Capital Partners, General Catalyst Partners, Harrison Metal Capital)
  
#bottom-content
  .container
    #slideToggle
      .more more searches >
    .slideTogglebox{:style => "display:none"}
      %table
        %tr
          %th{:colspan => "16"} ARCHIVE OF SEARCHES
        %tr.orange 
          %td{:colspan => 4} Role
          %td{:colspan => 4} Client
          %td{:colspan => 4} Sector
          %td{:colspan => 4} Investors
        %tr.stripe
          %td.info{:colspan => 4} Role Information
          %td.info{:colspan => 4} Client Information
          %td.info{:colspan => 4} Sector Information
          %td.info{:colspan => 4} Investor Information
        %tr.stripe
          %td.info{:colspan => 4} Role Information
          %td.info{:colspan => 4} Client Information
          %td.info{:colspan => 4} Sector Information
          %td.info{:colspan => 4} Investor Information
        %tr.stripe
          %td.info{:colspan => 4} Role Information
          %td.info{:colspan => 4} Client Information
          %td.info{:colspan => 4} Sector Information
          %td.info{:colspan => 4} Investor Information
        %tr.stripe
          %td.info{:colspan => 4} Role Information
          %td.info{:colspan => 4} Client Information
          %td.info{:colspan => 4} Sector Information
          %td.info{:colspan => 4} Investor Information
      #clickme
        .close close >

